/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: OpenSansLight;
  src: url(../opensans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSansRegular;
  src: url(../opensans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansBold;
  src: url(../opensans/OpenSans-Bold.ttf);
}
/*Colors*/
/*End Colors*/
/* line 36, ../sass/screen.scss */
a {
  color: #fff;
}
/* line 38, ../sass/screen.scss */
a:hover {
  color: #fff;
  opacity: .8;
  text-decoration: none;
  transition: .4s;
  cursor: pointer;
}

/* line 47, ../sass/screen.scss */
.wrapper {
  max-width: 1010px;
  margin: 0 auto;
}

/*BUTTON TO TOP*/
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:50px;
display:none;
text-indent:-9999px;
background: url('../images/icontop.png') no-repeat;
z-index: 1000;
}
/*END BUTTON TO TOP*/

/*HEADER*/
/* line 53, ../sass/screen.scss */
.header {
  width: 100%;
  min-height: 245px;
  background: #363636;
  position: relative;
}
/* line 59, ../sass/screen.scss */
.header .header-menu {
  width: 100%;
  min-height: 100px;
  background: #e74c3c;
}
/* line 64, ../sass/screen.scss */
.header .header-menu .logo {
  width: 150px;
  height: 100px;
  padding: 20px 0 0 20px;
  float: left;
}
/* line 71, ../sass/screen.scss */
.header .header-menu .head-nav {
  width: 410px;
  min-height: 100px;
  float: right;
}
/* line 76, ../sass/screen.scss */
.header .header-menu .head-nav ul li {
  min-height: 100px;
  display: inline-block;
  font-family: OpenSansRegular;
  font-size: 16px;
  padding: 40px 18px 20px 18px;
}
/* line 84, ../sass/screen.scss */
.header .header-menu .head-nav ul li:nth-child(2) {
  background: #f46758;
}
/* line 88, ../sass/screen.scss */
.header .header-menu .head-nav ul li:last-child {
  padding-right: 0;
}
/* line 92, ../sass/screen.scss */
.header .header-menu .head-nav ul li a {
  text-transform: uppercase;
}
/* line 97, ../sass/screen.scss */
.header .links {
  position: absolute;
  bottom: 5px;
  font-family: OpenSansRegular;
  font-size: 14px;
}
/* line 103, ../sass/screen.scss */
.header .links p, .header .links span {
  color: #bebebe;
}
/* line 107, ../sass/screen.scss */
.header .links a {
  color: #bebebe;
  text-decoration: underline;
}

/* line 114, ../sass/screen.scss */
.header-menu::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
}

/*END HEADER*/
/*SECOND SECTION*/
/* line 122, ../sass/screen.scss */
.second-section {
  padding: 100px 0 20px 0;
}
/* line 125, ../sass/screen.scss */
.second-section .second-section-box {
  min-height: 290px;
  margin-bottom: 80px;
  padding: 0 12px 0 0;
}
/* line 130, ../sass/screen.scss */
.second-section .second-section-box:nth-child(even) {
  padding: 0 0 0 12px;
}
/* line 134, ../sass/screen.scss */
.second-section .second-section-box h4 {
  font-family: OpenSansBold;
  font-size: 22px;
  text-transform: uppercase;
}
/* line 140, ../sass/screen.scss */
.second-section .second-section-box a {
  color: #e74c3c;
  font-family: OpenSansBold;
}
/* line 145, ../sass/screen.scss */
.second-section .second-section-box p {
  font-family: OpenSansRegular;
  font-size: 14px;
  line-height: 20px;
  padding: 35px 0 30px 0;
}
/* line 152, ../sass/screen.scss */
.second-section .second-section-box .images {
  width: 100%;
}
/* line 155, ../sass/screen.scss */
.second-section .second-section-box .images img {
  width: 230px;
  height: 130px;
  background: silver;
  -webkit-filter: brightness(.8);
          filter: brightness(.8);
}
.second-section .second-section-box .images img:hover {
  cursor: pointer;
  transition: .8s;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
/* line 160, ../sass/screen.scss */
.second-section .second-section-box .images img:first-child {
  margin-right: 5%;
}

/*END SECOND SECTION*/
/*FOOTER*/
/* line 170, ../sass/screen.scss */
.footer {
  width: 100%;
  background: #000000;
  min-height: 240px;
  padding-top: 35px;
}
/* line 176, ../sass/screen.scss */
.footer h4 {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 184, ../sass/screen.scss */
.footer span {
  color: #e74c3c;
}
/* line 188, ../sass/screen.scss */
.footer .footer-section {
  min-height: 165px;
  padding: 0;
}
/* line 192, ../sass/screen.scss */
.footer .footer-section .footer-section-item {
  min-height: 120px;
  color: #656565;
}
/* line 196, ../sass/screen.scss */
.footer .footer-section .footer-section-item .location p:first-child {
  padding-bottom: 15px;
}
/* line 200, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big {
  min-height: 120px;
}
/* line 203, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big a {
  color: #e74c3c;
  text-decoration: underline;
}
/* line 208, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big .social {
  padding-top: 20px;
}
/* line 211, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big .social a {
  color: #898989;
  margin-right: 15px;
}
/* line 218, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-small {
  height: 50px;
  overflow-y: hidden;
  margin-bottom: 20px;
  padding: 0;
}
/* line 225, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner {
  padding-right: 10px;
}
/* line 228, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
/* line 235, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner p {
  font-family: OpenSansRegular;
  font-size: 12px;
  line-height: 15px;
}

/*END FOOTER*/
/*@MEDIA*/
@media only screen and (max-width: 1200px) {
  .scrollup {
    bottom:20px;
    right:20px;
  }
  /* line 252, ../sass/screen.scss */
  .second-section .second-section-box .images img {
    width: 215px;
    height: 115px;
  }
  /* line 255, ../sass/screen.scss */
  .second-section .second-section-box .images img:first-child {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 277, ../sass/screen.scss */
  .header .links {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 267, ../sass/screen.scss */
  .second-section .second-section-box .images {
    padding-left: 35px;
  }
  /* line 269, ../sass/screen.scss */
  .second-section .second-section-box .images img {
    width: 230px;
    height: 130px;
  }
  /* line 272, ../sass/screen.scss */
  .second-section .second-section-box .images img:first-child {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 950px) {
  /* line 285, ../sass/screen.scss */
  .footer .footer-section .footer-section-item .inner-small {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  /* line 295, ../sass/screen.scss */
  .second-section .second-section-box {
    margin-bottom: 40px;
    padding-left: 12px;
  }
  /* line 298, ../sass/screen.scss */
  .second-section .second-section-box:nth-child(even) {
    padding: 0 12px 0 12px;
  }
  /* line 301, ../sass/screen.scss */
  .second-section .second-section-box h4 {
    text-align: center;
  }
  /* line 304, ../sass/screen.scss */
  .second-section .second-section-box p {
    text-align: center;
  }
  /* line 307, ../sass/screen.scss */
  .second-section .second-section-box .images {
    text-align: center;
  }
  /* line 309, ../sass/screen.scss */
  .second-section .second-section-box .images img {
    width: 230px;
    height: 130px;
  }
  /* line 312, ../sass/screen.scss */
  .second-section .second-section-box .images img:first-child {
    margin-right: 5%;
  }

  /* line 321, ../sass/screen.scss */
  .footer .footer-section h4 {
    text-align: center;
  }
  /* line 327, ../sass/screen.scss */
  .footer .footer-section .footer-section-item .location p, .footer .footer-section .footer-section-item .location div {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  /* line 341, ../sass/screen.scss */
  .header .wrapper .header-menu .logo {
    width: 100%;
    text-align: center;
  }
  /* line 345, ../sass/screen.scss */
  .header .wrapper .header-menu .head-nav {
    width: 100%;
    text-align: center;
  }
  /* line 349, ../sass/screen.scss */
  .header .wrapper .header-menu .head-nav ul li {
    font-size: 14px;
  }

  /* line 358, ../sass/screen.scss */
  .second-section .second-section-box .images {
    padding-left: 15px;
    text-align: left;
  }
  /* line 361, ../sass/screen.scss */
  .second-section .second-section-box .images img {
    width: 210px;
    height: 110px;
  }
}
@media only screen and (max-width: 502px) {
  /* line 373, ../sass/screen.scss */
  .second-section .second-section-box .images {
    padding-left: 15%;
    text-align: left;
  }
  /* line 376, ../sass/screen.scss */
  .second-section .second-section-box .images img {
    width: 230px;
    height: 130px;
  }
}
@media only screen and (max-width: 397px) {
  /* line 389, ../sass/screen.scss */
  .header .wrapper .header-menu .head-nav ul li {
    display: block;
  }
  /* line 393, ../sass/screen.scss */
  .header .wrapper .links {
    padding-left: 10px;
  }
  /* line 396, ../sass/screen.scss */
  .header .wrapper .links p, .header .wrapper .links a, .header .wrapper .links span {
    color: #ffffff;
  }
}
