/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  background: #f3efe4;
}

a {
  text-decoration: none;
  color: #6c7056;
}

/* line 17, ../sass/screen.scss */
a:hover {
  color: #6c7056;
}

/* line 21, ../sass/screen.scss */
#header {
  width: 95%;
  height: 90px;
  margin: 10px auto;
  background: #ffffff;
}
/* line 27, ../sass/screen.scss */
#header .logo {
  position: absolute;
  width: 130px;
  margin: 3px 80px;
  text-align: center;
  float: left;
}
/* line 34, ../sass/screen.scss */
#header .logo img {
  width: 130px;
}
/* line 39, ../sass/screen.scss */
#header .head-center {
  position: absolute;
  width: 500px;
  height: 90px;
  margin: 0 300px;
  float: left;
}
/* line 46, ../sass/screen.scss */
#header .head-center .shipping {
  color: #c4b07a;
  font-size: .7em;
  margin: 15px 20px;
}
/* line 52, ../sass/screen.scss */
#header .head-center .head-first-nav {
  width: 100%;
  margin: 22px 0;
  padding-right: 5px;
}
/* line 57, ../sass/screen.scss */
#header .head-center .head-first-nav ul li {
  width: auto;
  padding: 2px 22px;
  border-right: 1px solid #6c7056;
  font-size: 1.1em;
  display: inline-block;
}
/* line 65, ../sass/screen.scss */
#header .head-center .head-first-nav ul li:last-child {
  border-right: none;
}
/* line 69, ../sass/screen.scss */
#header .head-center .head-first-nav .number {
  font-size: .75em;
  color: #eeae49;
}
/* line 76, ../sass/screen.scss */
#header .head-right {
  width: 270px;
  height: 90px;
  right: 120px;
  float: left;
  position: absolute;
}
/* line 83, ../sass/screen.scss */
#header .head-right .head-second-nav {
  width: 100%;
  margin: 15px 5px;
}
/* line 87, ../sass/screen.scss */
#header .head-right .head-second-nav ul li {
  padding: 0 10px 0 5px;
  font-size: 12px;
  border-right: 1px solid black;
  display: inline-block;
}
/* line 94, ../sass/screen.scss */
#header .head-right .head-second-nav ul li:last-child {
  padding-right: 0;
  border-right: none;
}
/* line 100, ../sass/screen.scss */
#header .head-right .my-search {
  background: #f3efe4;
  font-style: italic;
  color: #a2a77f;
  width: 220px;
  border-radius: 5px;
}
/* line 108, ../sass/screen.scss */
#header .head-right .search-field {
  background: rgba(255, 144, 144, 0.31);
  width: 220px;
  margin: 0 48px;
}
/* line 114, ../sass/screen.scss */
#header .head-right .search-icon {
  position: absolute;
  margin: 55px 190px;
  color: #a2a77f;
  z-index: 10;
}

.main {
  min-height: 1190px;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  padding: 13px 22px 0 22px;
}

.main .wrapper {
  width: 94%;
  /*background:  rgba(123, 123, 183, 0.3);*/
  background: url(../images/layer.png);
  background-size: 100% 100%;
  height: 411px;
  padding: 156px 0 0 51px;
  margin: 0 0 20px 0;
}

.main .wrapper .post-info {
  color: #ffffff;
  width: 70%;
  padding: 0 0 0 5px;
  position: absolute;
  font-family: sans-serif;
}

.main .wrapper .post-info .h1 {
 font-weight: bold;
}

.main .wrapper .post-info p:nth-child(2) {
 margin: 20px 0;
 line-height: 20px;
 font-size: 80%;
}

.main .wrapper .post-info button {
  width: 195px;
  font-size: .8em;
}

.main .sidebar {
  height: auto;
}

.main .sidebar .sidebar1 {
  height: auto;
  margin: 20px 0;
  padding: 5px 5px;
}

.main .sidebar .sidebar1 ul li {
  padding: 0 0 10px 0;
}

.main .sidebar .sidebar1 ul li a {
  color: #4a4f2a;
}

 .main .sidebar .sidebar1 ul li:hover a {
  text-decoration: none;
  color: #94a14c;
  border-bottom: 1px solid #e3e5ce;
 }

.main .sidebar .sidebar1 .side1-head {
  margin: 0 0 30px 0;
  color: #a3a78b;
}

.main .sidebar .sidebar1 i {
  margin: 0 10px 0 0;
}

.main .sidebar .sidebar1 .form-control {
  background: #f3efe4;
  border-radius: 5px;
  font-style: italic;
  color: #757f3c;
  width: 80%;
}

.main .sidebar .sidebar1 .fa-envelope {
  color: #94a14c;
  position: absolute;
  right: 25%;
  bottom: 15px;
}

.main .blog-post {
  min-height: 100%;
  padding: 20px 25px 20px 25px;
}

.main .blog-post .h5 {
  width: 100%;
  margin: 0 auto;
  padding: 5px 5px;
  color: #a3a78b;
}

.main .blog-post .post {
  min-height: auto;
  width: 100%;
  margin: 20px auto 5px auto;
  padding: 5px 5px;
}

.main .blog-post .post img {
  width: 200px;
  height: 144px;
}

.main .blog-post .post .post-info .h3 {
  color: #e5b163;
  margin: 0 0 10px 0;
}

.main .blog-post .post .post-info p:nth-child(2) {
  color: #828282;
  font-size: .85em;
  font-style: italic;
  margin-bottom: 10px;
}

.main .blog-post .post .post-info .post-text {
  line-height: 25px;
}

/*FOOTER*/

#footer {
  background: #757f3c;
  min-height: 335px;
  width: 100%;
  margin: 35px 0 0 0;
}

#footer .footer-section {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  padding: 20px 0 55px 0;
}

#footer .footer-section .footer-nav-header {
  color: #3b401e;
  padding: 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #51582a;
  margin-bottom: 22px;
  font-weight: bold;
}
#footer .footer-section .footer-nav-first ul li, #footer .footer-section .footer-nav-second ul li, #footer .footer-section .footer-nav-third ul li {
  padding: 0 0 5px 0;
  width: 160px;
  line-height: 25px;
}

#footer ul li:hover{
  cursor: pointer;
} 

#footer ul li a{
  color: #ffffff;
} 

#footer .footer-section .footer-nav-third ul li:last-child {
  padding: 0 0 25px 0;
}

#footer .footer-section .footer-nav-third .fa-search {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

#footer .footer-section .footer-nav-third .footer-nav-third-search {
  font-style: italic;
  color: #757f3c;
}

@media only screen and (max-width: 1192px) {

  * {
    transition: .1s;
  }
  
  #header .head-center {
    margin: 0 290px;
  }

  #header .head-center .shipping {
      font-size: .65em;
  }

  #header .head-center .head-first-nav ul li {
      font-size: .9em;
      padding: 2px 15px;
  }

  #header .head-right {
    right: 50px;
  }

  #header .head-right .head-second-nav ul li {
    font-size: 11px;
  }

  .main .wrapper .post-info {
    margin: 20px 0 0 0;
  }

  .main .wrapper .post-info .h1 {
    font-size: 1.6em;
  }

  .main .wrapper .post-info p:nth-child(2) {
    font-size: .75em;
    margin: 15px 0;
  }

  .main .wrapper .post-info button {
    font-size: .65em;
    width: 175px;
  }

}

@media only screen and (max-width: 992px) {

  * {
    transition: .1s;
  }

  #header .logo {
    margin: 3px 20px;
  }

  #header .head-center {
    margin: 0 170px;
  }

  #header .head-center .shipping {
      font-size: .55em;
  }

  #header .head-center .head-first-nav ul li {
      font-size: .85em;
      padding: 2px 10px;
  }

  #header .head-right {
    right: 0;
    top: 20px;
  }
  
  #header .head-right .head-second-nav {
    margin: 15px 0 15px 62px;
    width: 170px;
  }

  #header .head-right .head-second-nav ul li {
    font-size: 12px;
    padding: 1px 5px 0 2px;
  }

  #header .head-right .head-second-nav ul li:nth-child(2) {
    border-right: 0;
  }

  #header .head-right .search-field {
    display: none;
  }

  .main .wrapper .post-info {
    margin: 25px 0 0 0;
  }

  .main .wrapper .post-info .h1 {
    font-size: 1.4em;
  }

  .main .wrapper .post-info p:nth-child(2) {
    font-size: .7em;
    margin: 15px 0;
  }

  .main .wrapper .post-info button {
    font-size: .6em;
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  
  * {
    transition: .1s;
  }
  
  #header .head-center .shipping {
      font-size: .5em;
      margin: 15px 5px;
  }

  #header .head-center .head-first-nav ul li {
      font-size: .8em;
      padding: 2px 5px;
  }
  
  #header .head-right {
    right: -120px;
    top: 0;
  }

  #header .head-right .head-second-nav {
    margin: 15px 0 15px 62px;
    width: 80px;
  }

  #header .head-right .head-second-nav ul li {
    font-size: 12px;
    padding: 5px 5px 0 2px;
    border-right: 0;
  }

  .main .wrapper .post-info {
    margin: 30px 0 0 0;
  }

  .main .wrapper .post-info .h1 {
    font-size: 1.2em;
  }

  .main .wrapper .post-info p:nth-child(2) {
    font-size: .65em;
    margin: 10px 0;
  }

  .main .wrapper .post-info button {
    font-size: .5em;
    width: 120px;
  }
  
  .follow {
    text-align: right;
  }

  .main .blog-post .h5 {
    font-size: .8em;
  }

  .main .blog-post .post img {
    min-width: 100px;
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    left: 25%;
    text-align: center;
  }

  .main .blog-post .post .post-info {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  
  * {
    transition: .1s;
  }
  
  #header .logo {
    margin: 3px 5px;
  }

  #header .head-center .shipping {
      display: none;
  }

  #header .head-center .head-first-nav {
    width: 100px;
    margin: 8px 0 0 -30px;
  }

  #header .head-center .head-first-nav ul li {
      font-size: .8em;
      padding: 2px 5px;
      border-right: 0;
  }
  
  #header .head-right {
    right: -130px;
    top: 0;
  }

  #header .head-right .head-second-nav {
    margin: 15px 0 15px 62px;
    width: 80px;
  }

  #header .head-right .head-second-nav ul li {
    font-size: 12px;
    padding: 5px 5px 0 2px;
    border-right: 0;
  }


  .main .wrapper .post-info {
    margin: -50px 0 0 0;
  }

  .main .wrapper .post-info .h1 {
    font-size: 1em;
  }

  .main .wrapper .post-info p:nth-child(2) {
    font-size: .55em;
    margin: 8px 0;
  }

  .main .wrapper .post-info button {
    font-size: .45em;
    width: 100px;
  }

  .main .blog-post .post .post-info .h3 {
    font-size: 1.1em;
  }
}

hr {
  margin: 0 15px 25px 15px;
  width: 100%;
  background: #dadada;
}