/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: OpenSansLight;
  src: url(../opensans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSansRegular;
  src: url(../opensans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansBold;
  src: url(../opensans/OpenSans-Bold.ttf);
}
/*Colors*/
/*End Colors*/
/* line 36, ../sass/screen.scss */
a {
  color: #fff;
}
/* line 38, ../sass/screen.scss */
a:hover {
  color: #fff;
  opacity: .8;
  text-decoration: none;
  transition: .4s;
  cursor: pointer;
}
/* line 47, ../sass/screen.scss */
.wrapper {
  max-width: 1010px;
  margin: 0 auto;
}

/*BUTTON TO TOP*/
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:50px;
display:none;
text-indent:-9999px;
background: url('../images/icontop.png') no-repeat;
z-index: 1000;
}
/*END BUTTON TO TOP*/

/*HEADER*/
/* line 53, ../sass/screen.scss */
.header {
  width: 100%;
  min-height: 700px;
  background-image: url('../images/night.jpg');
  background-size: 100% 100%;
  /*-webkit-filter: brightness(.4);
          filter: brightness(.4);*/
  background: rgba(54, 54, 54, 1);
}
/* line 58, ../sass/screen.scss */
.header .header-menu {
  width: 100%;
  min-height: 100px;
  background: #e74c3c;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
/* line 63, ../sass/screen.scss */
.header .header-menu .logo {
  width: 150px;
  height: 100px;
  padding: 20px 0 0 20px;
  float: left;
}
/* line 70, ../sass/screen.scss */
.header .header-menu .head-nav {
  width: 410px;
  min-height: 100px;
  padding: 20px 20px 0 0;
  float: right;
}
/* line 76, ../sass/screen.scss */
.header .header-menu .head-nav ul li {
  display: inline-block;
  font-family: OpenSansRegular;
  font-size: 16px;
  padding: 20px 18px 20px 18px;
}
/* line 83, ../sass/screen.scss */
.header .header-menu .head-nav ul li:last-child {
  padding-right: 0;
}
/* line 87, ../sass/screen.scss */
.header .header-menu .head-nav ul li a {
  text-transform: uppercase;
}
/* line 93, ../sass/screen.scss */
.header .header-menu::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
}
/* line 100, ../sass/screen.scss */
.header .header-info {
  height: 600px;
  color: #ffffff;
  text-align: center;
  padding-top: 180px;
}
/* line 106, ../sass/screen.scss */
.header .header-info h1 {
  font-family: OpenSansLight;
  font-size: 64px;
  text-transform: uppercase;
}
/* line 112, ../sass/screen.scss */
.header .header-info p {
  width: 680px;
  margin: 45px auto 0 auto;
  font-family: OpenSansRegular;
  font-size: 14px;
  line-height: 22px;
  /*padding: 45px 0 0 0;*/
}
/* line 121, ../sass/screen.scss */
.header .header-info button {
  background: rgba(64, 64, 64, 0.25);
  width: 210px;
  height: 50px;
  margin-top: 80px;
  font-family: OpenSansRegular;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #9b9b9b;
}

/*END HEADER*/
/*SECOND SECTION*/
/* line 137, ../sass/screen.scss */
.second-section {
  width: 100%;
  min-height: 360px;
  background: #ffffff;
}
/* line 142, ../sass/screen.scss */
.second-section .content {
  min-height: 360px;
  padding-top: 100px;
}
/* line 146, ../sass/screen.scss */
.second-section .content h4 {
  font-family: OpenSansBold;
  font-size: 22px;
  text-transform: uppercase;
}
/* line 152, ../sass/screen.scss */
.second-section .content span {
  color: #e74c3c;
}
/* line 156, ../sass/screen.scss */
.second-section .content p {
  font-family: OpenSansRegular;
  font-size: 14px;
  text-align: justify;
  line-height: 19px;
  padding-top: 30px;
}
/* line 166, ../sass/screen.scss */
.second-section .content a {
  color: #e74c3c;
  text-decoration: underline;
}

/*END SECOND SECTION*/
/*THIRD SECTION*/
/* line 175, ../sass/screen.scss */
.third-section {
  background: #db574a;
  width: 100%;
  min-height: 300px;
  color: #ffffff;
}
/* line 181, ../sass/screen.scss */
.third-section h1 {
  font-family: OpenSansLight;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  min-height: 100px;
}
/* line 192, ../sass/screen.scss */
.third-section .item {
  min-height: 200px;
  padding-top: 40px;
  text-align: center;
}
/* line 197, ../sass/screen.scss */
.third-section .item p {
  font-family: OpenSansRegular;
  font-size: 13px;
  line-height: 19px;
  padding-top: 25px;
  text-align: center;
}

/*END THIRD SECTION*/
/*FOURTH SECTION*/
/* line 211, ../sass/screen.scss */
.fourth-section {
  width: 100%;
  min-height: 410px;
  background: #ffffff;
  padding-top: 100px;
}
/* line 217, ../sass/screen.scss */
.fourth-section h4 {
  font-family: OpenSansBold;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
/* line 224, ../sass/screen.scss */
.fourth-section span {
  color: #e74c3c;
}
/* line 230, ../sass/screen.scss */
.fourth-section .slider .wrapper-section {
  width: 235px;
  height: 165px;
  margin-right: 25px;
}
/* line 235, ../sass/screen.scss */
.fourth-section .slider .wrapper-section .photo-section {
  background: silver;
  height: 130px;
  margin-bottom: 15px;
}

.fourth-section .slider .wrapper-section .photo-section img{
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(.8);
          filter: brightness(.8);
}

.fourth-section .slider .wrapper-section .photo-section:hover img {
  cursor: pointer;
  transition: .8s;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

/* line 241, ../sass/screen.scss */
.fourth-section .slider .wrapper-section a {
  bottom: 0;
  color: #444444;
}
/* line 244, ../sass/screen.scss */
.fourth-section .slider .wrapper-section a:hover {
  opacity: .8;
}

/*END FOURTH SECTION*/
/*FOOTER*/
/* line 254, ../sass/screen.scss */
.footer {
  width: 100%;
  background: #000000;
  min-height: 240px;
  padding-top: 35px;
}
/* line 260, ../sass/screen.scss */
.footer h4 {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 18px;
  text-transform: uppercase; 
}
/* line 268, ../sass/screen.scss */
.footer span {
  color: #e74c3c;
}
/* line 272, ../sass/screen.scss */
.footer .footer-section {
  min-height: 165px;
  padding: 0;
}
/* line 276, ../sass/screen.scss */
.footer .footer-section .footer-section-item {
  min-height: 120px;
  color: #656565;
}
/* line 281, ../sass/screen.scss */
.footer .footer-section .footer-section-item .location p:first-child {
  padding-bottom: 15px;
}
/* line 286, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big {
  min-height: 120px;
}
/* line 289, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big a {
  color: #e74c3c;
  text-decoration: underline;
}
/* line 294, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big .social {
  padding-top: 20px;
}
/* line 297, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-big .social a {
  color: #898989;
  margin-right: 15px;
}
/* line 304, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner-small {
  height: 50px;
  overflow-y: hidden;
  margin-bottom: 20px;
  padding: 0;
}
/* line 311, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner {
  padding-right: 10px;
}
/* line 314, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
/* line 321, ../sass/screen.scss */
.footer .footer-section .footer-section-item .inner p {
  font-family: OpenSansRegular;
  font-size: 12px;
  line-height: 15px;
}

/*END FOOTER*/
/*@MEDIA*/
@media only screen and (max-width: 1200px) {
  .scrollup{
    bottom:20px;
    right:20px;
    }
}
@media only screen and (max-width: 950px) {
  /* line 340, ../sass/screen.scss */
  .footer .footer-section .footer-section-item .inner-small {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  /* line 351, ../sass/screen.scss */
  .second-section .wrapper .content {
    padding-top: 70px;
  }
  /* line 353, ../sass/screen.scss */
  .second-section .wrapper .content h4 {
    text-align: center;
    font-size: 20px;
  }
  /* line 358, ../sass/screen.scss */
  .second-section .wrapper .content p {
    width: 95%;
    margin: 0 auto;
  }

  /* line 366, ../sass/screen.scss */
  .fourth-section h4 {
    text-align: center;
  }
  /* line 371, ../sass/screen.scss */
  .fourth-section .slider .wrapper-section {
    margin-right: 15px;
    margin-left: 15px;
  }

  /* line 379, ../sass/screen.scss */
  .footer .footer-section h4 {
    text-align: center;
  }
  /* line 384, ../sass/screen.scss */
  .footer .footer-section .footer-section-item .location p, .footer .footer-section .footer-section-item .location div {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  /* line 400, ../sass/screen.scss */
  .header .wrapper .header-info h1 {
    font-size: 48px;
  }
  /* line 403, ../sass/screen.scss */
  .header .wrapper .header-info p {
    width: 95%;
    font-size: 12px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 417, ../sass/screen.scss */
  .header .wrapper .header-menu .logo {
    width: 100%;
    text-align: center;
  }
  /* line 421, ../sass/screen.scss */
  .header .wrapper .header-menu .head-nav {
    width: 100%;
    text-align: center;
  }
  /* line 425, ../sass/screen.scss */
  .header .wrapper .header-menu .head-nav ul li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 397px) {
  /* line 439, ../sass/screen.scss */
  .header .wrapper .header-menu .head-nav ul li {
    display: block;
  }

  .header .wrapper .header-info h1 {
    font-size: 45px;
  }

  /* line 449, ../sass/screen.scss */
  .third-section .wrapper h1 {
    font-size: 32px;
  }

  /* line 464, ../sass/screen.scss */
  .fourth-section h4 {
    font-size: 18px;
  }
}
