/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*colors*/
/*colors*/
/*-- - - - - - vertical menu - - - - - --*/
/* line 18, ../sass/screen.scss */
.vertical-menu {
  width: 112px;
  height: 915px;
  position: absolute;
  top: 46px;
  left: 47px;
}
/* line 25, ../sass/screen.scss */
.vertical-menu .logo {
  width: 100%;
  height: 112px;
  background: url(../image/vertical-menu/bg.png);
  position: relative;
}
/* line 31, ../sass/screen.scss */
.vertical-menu .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 40, ../sass/screen.scss */
.vertical-menu .lang-vertical {
  width: 34px;
  height: 120px;
  text-align: center;
  margin: 15px auto 0 auto;
}
/* line 46, ../sass/screen.scss */
.vertical-menu .lang-vertical:hover {
  width: 17px;
  overflow: hidden;
  margin: 15px auto 0 auto;
  -webkit-transition: width .6s;
  transition: width .6s;
}
/* line 54, ../sass/screen.scss */
.vertical-menu .lang-vertical .vertical-select {
  height: 90px;
  margin-top: 13px;
  display: none;
}
/* line 59, ../sass/screen.scss */
.vertical-menu .lang-vertical .vertical-select ul {
  padding: 0;
}
/* line 62, ../sass/screen.scss */
.vertical-menu .lang-vertical .vertical-select ul li {
  margin-top: 14px;
}
/* line 65, ../sass/screen.scss */
.vertical-menu .lang-vertical .vertical-select ul li:first-child {
  margin-top: 0;
}
/* line 70, ../sass/screen.scss */
.vertical-menu .lang-vertical .vertical-select ul a {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: Mohave;
  text-transform: uppercase;
  color: #000;
}
/* line 79, ../sass/screen.scss */
.vertical-menu .lang-vertical .vertical-select ul a:hover {
  color: #bdbdbd;
}
/* line 86, ../sass/screen.scss */
.vertical-menu .vertical-nav {
  margin: 80px 0 0 0;
  width: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 365px 0 0 -240px;
}
/* line 104, ../sass/screen.scss */
.vertical-menu .vertical-nav div:first-child {
  margin-left: 25px;
}
/* line 108, ../sass/screen.scss */
.vertical-menu .vertical-nav div:last-child {
  margin-right: 30px;
}
/* line 113, ../sass/screen.scss */
.vertical-menu .vertical-nav span {
  font-family: Mohave;
  font-size: 14px;
  color: #000;
  letter-spacing: 5px;
  position: relative;
}
/* line 120, ../sass/screen.scss */
.vertical-menu .vertical-nav span:before, .vertical-menu .vertical-nav span:after {
  width: 16px;
  height: 1px;
  background: #000;
  position: absolute;
  content: '';
  background: transparent;
  bottom: 6px;
  -webkit-transition: right .5s, left .5s, background .5s;
  transition: right .5s, left .5s, background .5s;
}
/* line 132, ../sass/screen.scss */
.vertical-menu .vertical-nav span:before {
  left: 18%;
}
/* line 136, ../sass/screen.scss */
.vertical-menu .vertical-nav span:after {
  right: 18%;
}
/* line 141, ../sass/screen.scss */
.vertical-menu .vertical-nav span:hover:before, .vertical-menu .vertical-nav span:hover:after {
  bottom: 6px;
  -webkit-transition: left .5s, right .5s, background 1s;
  transition: left .5s, right .5s, background 1s;
  background: #000;
}
/* line 148, ../sass/screen.scss */
.vertical-menu .vertical-nav span:hover:before {
  left: -25%;
}
/* line 152, ../sass/screen.scss */
.vertical-menu .vertical-nav span:hover:after {
  right: -22%;
}
/* line 160, ../sass/screen.scss */
.vertical-menu .vertical-nav .v-first-li:hover:before, .vertical-menu .vertical-nav .v-first-li:hover:after {
  bottom: 6px;
  -webkit-transition: left .5s, right .5s, background 1s;
  transition: left .5s, right .5s, background 1s;
  background: #000;
}
/* line 167, ../sass/screen.scss */
.vertical-menu .vertical-nav .v-first-li:hover:before {
  left: -55%;
}
/* line 171, ../sass/screen.scss */
.vertical-menu .vertical-nav .v-first-li:hover:after {
  right: -50%;
}

/*-- - - - - - end vertical menu - - - - - --*/
/*FONT-FACE*/
@font-face {
  font-family: Mohave;
  src: url(../font/Mohave/Mohave.otf);
}
@font-face {
  font-family: MohaveBold;
  src: url(../font/Mohave/Mohave-Bold.otf);
}
@font-face {
  font-family: Calama;
  src: url(../font/Calama.ttf);
}
/*END FONT-FACE*/
/* line 198, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 203, ../sass/screen.scss */
.container {
  width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid transparent;
  position: relative;
}

/* line 212, ../sass/screen.scss */
.line:after, .line-30:after {
  content: '';
  width: 1px;
  height: 40px;
  background: #000;
  display: block;
  z-index: 100;
  position: absolute;
  left: 50%;
}

/* line 223, ../sass/screen.scss */
.line-30:after {
  bottom: -70px;
}

/* line 227, ../sass/screen.scss */
.line:after {
  bottom: -20px;
}

/*-  - - - - - - - - - - - - HEADER - - - - - - - - - - - - */
/* line 233, ../sass/screen.scss */
.header {
  width: 100%;
  height: 1030px;
  background: #000;
  color: #fff;
  margin-top: -8px;
  /*-- - - - - - header menu - - - - - --*/
  /*-- - - - - - end header menu - - - - - --*/
  /*-- - - - - - language field - - - - - --*/
  /*-- - - - - - end language field - - - - - --*/
  /*-- - - - - - header slider - - - - - --*/
  /*-- - - - - - end header slider - - - - - --*/
}
/* line 241, ../sass/screen.scss */
.header .header-menu {
  width: 75%;
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 2;
}
/* line 248, ../sass/screen.scss */
.header .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* line 261, ../sass/screen.scss */
.header .header-menu ul li {
  position: relative;
}
/* line 265, ../sass/screen.scss */
.header .header-menu ul li:first-child:before, .header .header-menu ul li:first-child:after {
  display: none;
}
/* line 270, ../sass/screen.scss */
.header .header-menu ul li:before, .header .header-menu ul li:after {
  width: 16px;
  height: 1px;
  content: '';
  position: absolute;
}
/* line 279, ../sass/screen.scss */
.header .header-menu ul .second-li:before {
  top: 6px;
  left: 11%;
  background: transparent;
  -webkit-transition: left .5s, background .5s;
  transition: left .5s, background .5s;
}
/* line 287, ../sass/screen.scss */
.header .header-menu ul .second-li:after {
  top: 6px;
  right: 11%;
  background: transparent;
  -webkit-transition: right .5s, background .5s;
  transition: right .5s, background .5s;
}
/* line 296, ../sass/screen.scss */
.header .header-menu ul .second-li:hover:before {
  top: 6px;
  left: -62%;
  background: #fff;
  -webkit-transition: left .5s, background 1s;
  transition: left .5s, background 1s;
}
/* line 304, ../sass/screen.scss */
.header .header-menu ul .second-li:hover:after {
  top: 6px;
  right: -55%;
  background: #fff;
  -webkit-transition: right .5s, background 1s;
  transition: right .5s, background 1s;
}
/* line 315, ../sass/screen.scss */
.header .header-menu ul .third-li:before, .header .header-menu ul .fourth-li:before {
  top: 6px;
  left: 25%;
  background: transparent;
  -webkit-transition: left .5s, background .5s;
  transition: left .5s, background .5s;
}
/* line 322, ../sass/screen.scss */
.header .header-menu ul .third-li:after, .header .header-menu ul .fourth-li:after {
  top: 6px;
  right: 25%;
  background: transparent;
  -webkit-transition: right .5s, background .5s;
  transition: right .5s, background .5s;
}
/* line 331, ../sass/screen.scss */
.header .header-menu ul .third-li:hover:before, .header .header-menu ul .fourth-li:hover:before {
  top: 6px;
  left: -28%;
  -webkit-transition: left .5s, background 1s;
  transition: left .5s, background 1s;
  background: #fff;
}
/* line 339, ../sass/screen.scss */
.header .header-menu ul .third-li:hover:after, .header .header-menu ul .fourth-li:hover:after {
  top: 6px;
  right: -25%;
  -webkit-transition: right .5s, background 1s;
  transition: right .5s, background 1s;
  background: #fff;
}
/* line 349, ../sass/screen.scss */
.header .header-menu ul a {
  display: block;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: Mohave;
  font-size: 14px;
  letter-spacing: 5px;
}
/* line 363, ../sass/screen.scss */
.header .lang-wrapper {
  min-height: 855px;
  width: 34px;
  position: absolute;
  top: 95px;
  right: 70px;
  z-index: 5;
}
/* line 371, ../sass/screen.scss */
.header .lang-wrapper .lang-menu {
  width: 34px;
  min-height: 10px;
}
/* line 375, ../sass/screen.scss */
.header .lang-wrapper .lang-menu:hover {
  width: 17px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: width .6s;
  transition: width .6s;
}
/* line 383, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select {
  height: 90px;
  margin-top: 13px;
  display: none;
}
/* line 388, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul {
  padding: 0;
}
/* line 391, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul li {
  margin-top: 14px;
}
/* line 394, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul li:first-child {
  margin-top: 0;
}
/* line 399, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul a {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: Mohave;
  text-transform: uppercase;
}
/* line 407, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul a:hover {
  color: #5f5f5f;
}
/* line 415, ../sass/screen.scss */
.header .lang-wrapper .lang-border {
  height: 825px;
  margin-top: 25px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* line 427, ../sass/screen.scss */
.header .header-slider {
  width: 100%;
  height: 100%;
  position: relative;
  /*-----slider text-----*/
  /*-----end slider text-----*/
  /*-----slider img-----*/
  /*-----end slider img-----*/
}
/* line 433, ../sass/screen.scss */
.header .header-slider #slider-text-black {
  color: #000;
}
/* line 437, ../sass/screen.scss */
.header .header-slider #text-top-block {
  border-bottom: 1px solid #000;
}
/* line 441, ../sass/screen.scss */
.header .header-slider .slider-text {
  width: 60%;
  height: 300px;
  left: 75px;
  top: 375px;
  position: absolute;
  color: #fff;
  z-index: 10;
}
/* line 450, ../sass/screen.scss */
.header .header-slider .slider-text:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 457, ../sass/screen.scss */
.header .header-slider .slider-text .text-header {
  text-transform: uppercase;
  letter-spacing: 8px;
}
/* line 462, ../sass/screen.scss */
.header .header-slider .slider-text .text-section {
  margin: 20px 0 20px 0;
  letter-spacing: 20px;
}
/* line 467, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer {
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 471, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
/* line 478, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block {
  width: 325px;
}
/* line 481, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block:first-child {
  float: left;
  margin-right: 50px;
}
/* line 486, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block:last-child {
  float: left;
}
/* line 490, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block .text-top-block {
  border-bottom: 1px solid #fff;
  padding-bottom: 9px;
}
/* line 495, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block .text-bottom-block {
  padding-top: 11px;
}
/* line 501, ../sass/screen.scss */
.header .header-slider .slider-text .large-text {
  font-family: Calama;
  font-size: 158px;
}
/* line 506, ../sass/screen.scss */
.header .header-slider .slider-text .middle-text {
  font-family: Mohave;
  font-size: 25px;
}
/* line 511, ../sass/screen.scss */
.header .header-slider .slider-text .small-text {
  font-family: Mohave;
  font-size: 14px;
}
/* line 516, ../sass/screen.scss */
.header .header-slider .slider-text .smaller-text {
  font-family: Mohave;
  font-size: 12px;
}
/* line 521, ../sass/screen.scss */
.header .header-slider .slider-text .smallest-text {
  font-family: Mohave;
  font-size: 10px;
}
/* line 529, ../sass/screen.scss */
.header .header-slider .slider-img {
  width: 100%;
  height: 99.9%;
}
/* line 533, ../sass/screen.scss */
.header .header-slider .slider-img img {
  height: 100%;
  width: 100%;
}

/*-  - - - - - - - - - - - - END HEADER - - - - - - - - - - - - */
/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */
/* line 545, ../sass/screen.scss */
.categories {
  background: #fff;
  width: 100%;
  min-height: 1006px;
  position: relative;
  /*-- - - - - - filters - - - - - --*/
  /*-- - - - - - end filters - - - - - --*/
  /*Portfolio*/
  /*End Portfolio*/
}
/* line 552, ../sass/screen.scss */
.categories .filters {
  width: 880px;
  height: 100px;
  margin: 72px auto 0 auto;
}
/* line 557, ../sass/screen.scss */
.categories .filters .filter-menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 571, ../sass/screen.scss */
.categories .filters .filter-menu .filter-active a .border-block {
  border: 1px solid #868585;
}
/* line 574, ../sass/screen.scss */
.categories .filters .filter-menu .filter-active a .border-block div:first-child {
  opacity: 0;
}
/* line 578, ../sass/screen.scss */
.categories .filters .filter-menu .filter-active a .border-block div:last-child {
  opacity: 1;
}
/* line 582, ../sass/screen.scss */
.categories .filters .filter-menu .filter-active p {
  color: #868585;
}
/* line 587, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block {
  position: relative;
}
/* line 591, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block:hover .border-block {
  border: 1px solid #868585;
  transition: border .4s;
}
/* line 596, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block:hover p {
  color: #868585;
  transition: color .4s;
}
/* line 601, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block:hover .all-passive, .categories .filters .filter-menu .filter-block:hover .brand-passive, .categories .filters .filter-menu .filter-block:hover .dimention-passive, .categories .filters .filter-menu .filter-block:hover .web-passive, .categories .filters .filter-menu .filter-block:hover .graphic-passive, .categories .filters .filter-menu .filter-block:hover .craft-passive {
  opacity: 0;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}
/* line 607, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block:hover .all-active, .categories .filters .filter-menu .filter-block:hover .brand-active, .categories .filters .filter-menu .filter-block:hover .dimention-active, .categories .filters .filter-menu .filter-block:hover .web-active, .categories .filters .filter-menu .filter-block:hover .graphic-active, .categories .filters .filter-menu .filter-block:hover .craft-active {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 614, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .border-block {
  width: 61px;
  height: 61px;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 0 0 0 1px #d1d1d1 inset;
  position: relative;
}
/* line 623, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .all-passive, .categories .filters .filter-menu .filter-block .brand-passive, .categories .filters .filter-menu .filter-block .dimention-passive, .categories .filters .filter-menu .filter-block .web-passive, .categories .filters .filter-menu .filter-block .graphic-passive, .categories .filters .filter-menu .filter-block .craft-passive {
  width: 100%;
  height: 100%;
}
/* line 628, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .all-active, .categories .filters .filter-menu .filter-block .brand-active, .categories .filters .filter-menu .filter-block .dimention-active, .categories .filters .filter-menu .filter-block .web-active, .categories .filters .filter-menu .filter-block .graphic-active, .categories .filters .filter-menu .filter-block .craft-active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
}
/* line 636, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .all-passive {
  background: url("../image/filters/filters.png") -83px 17px no-repeat;
}
/* line 640, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .all-active {
  background: url("../image/filters/filters.png") 3px 21px no-repeat;
}
/* line 644, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .brand-passive {
  background: url("../image/filters/filters.png") -82px -47px no-repeat;
}
/* line 648, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .brand-active {
  background: url("../image/filters/filters.png") 2.5px -42px no-repeat;
}
/* line 652, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .dimention-passive {
  background: url("../image/filters/filters.png") -87px -119px no-repeat;
}
/* line 656, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .dimention-active {
  background: url("../image/filters/filters.png") 3px -115px no-repeat;
}
/* line 660, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .web-passive {
  background: url("../image/filters/filters.png") -83px -188px no-repeat;
}
/* line 664, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .web-active {
  background: url("../image/filters/filters.png") 2.5px -183px no-repeat;
}
/* line 668, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .graphic-passive {
  background: url("../image/filters/filters.png") -85px -255px no-repeat;
}
/* line 672, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .graphic-active {
  background: url("../image/filters/filters.png") 3px -250px no-repeat;
}
/* line 676, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .craft-passive {
  background: url("../image/filters/filters.png") -85px -329px no-repeat;
}
/* line 680, ../sass/screen.scss */
.categories .filters .filter-menu .filter-block .craft-active {
  background: url("../image/filters/filters.png") 3px -323px no-repeat;
}
/* line 685, ../sass/screen.scss */
.categories .filters .filter-menu li {
  text-align: center;
}
/* line 688, ../sass/screen.scss */
.categories .filters .filter-menu li p {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Mohave;
  font-size: 10px;
  margin: 23px 0 0 0;
}
/* line 703, ../sass/screen.scss */
.categories .portfolio {
  width: 1455px;
  height: 580px;
  margin: 205px auto 0 auto;
  overflow: hidden;
  /*only first-block*/
  /*end first-block*/
}
/* line 709, ../sass/screen.scss */
.categories .portfolio:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 717, ../sass/screen.scss */
.categories .portfolio #frame-name {
  background: url("../image/portfolio/frame/all.png");
}
/* line 719, ../sass/screen.scss */
.categories .portfolio #frame-name p {
  font-family: Mohave;
  font-size: 16.3px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #000;
  margin: 140px 0 0 0;
  text-align: center;
}
/* line 731, ../sass/screen.scss */
.categories .portfolio .see-all-visibility, .categories .portfolio .portfolio-section:last-child {
  border: 1px solid #d6d6d6;
}
/* line 735, ../sass/screen.scss */
.categories .portfolio .portfolio-section {
  box-sizing: border-box;
  width: 291px;
  height: 291px;
  float: left;
  position: relative;
  /*last-block @SEE-ALL and UP-BTN*/
  /*end last-block @SEE-ALL and UP-BTN*/
}
/* line 742, ../sass/screen.scss */
.categories .portfolio .portfolio-section:first-child {
  border-top: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
}
/* line 748, ../sass/screen.scss */
.categories .portfolio .portfolio-section:hover .active-window {
  opacity: 1;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}
/* line 754, ../sass/screen.scss */
.categories .portfolio .portfolio-section:hover .passive-window {
  opacity: 0;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}
/* line 761, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window, .categories .portfolio .portfolio-section .passive-window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /*change background photoes*/
  /* end change background photoes*/
}
/* line 767, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window a, .categories .portfolio .portfolio-section .passive-window a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 773, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .active-window-inner, .categories .portfolio .portfolio-section .passive-window .active-window-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #000;
  font-family: Mohave;
  text-align: center;
  /*active window text*/
  /*end active window text*/
}
/* line 786, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .active-window-inner .inner-heading, .categories .portfolio .portfolio-section .passive-window .active-window-inner .inner-heading {
  font-size: 16.3px;
  letter-spacing: 5px;
}
/* line 790, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .active-window-inner .inner-heading:after, .categories .portfolio .portfolio-section .passive-window .active-window-inner .inner-heading:after {
  content: '';
  display: block;
  width: 155px;
  height: 1px;
  margin: 6px auto 8px auto;
  background: #000;
}
/* line 800, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .active-window-inner .inner-footer, .categories .portfolio .portfolio-section .passive-window .active-window-inner .inner-footer {
  font-size: 8px;
  letter-spacing: 7px;
}
/* line 807, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .passive-window-inner, .categories .portfolio .portfolio-section .passive-window .passive-window-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 814, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .photo1, .categories .portfolio .portfolio-section .passive-window .photo1 {
  background: url("../image/portfolio/passive/solo.png") 0 0 no-repeat;
  background-size: 107%;
}
/* line 819, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .photo2, .categories .portfolio .portfolio-section .passive-window .photo2 {
  background: url("../image/portfolio/passive/mill.png") -2px 0 no-repeat;
  background-size: 107%;
}
/* line 824, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .photo3, .categories .portfolio .portfolio-section .passive-window .photo3 {
  background: url("../image/portfolio/passive/fff.png") 0 0 no-repeat;
  background-size: 107%;
}
/* line 829, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .photo4, .categories .portfolio .portfolio-section .passive-window .photo4 {
  background: url("../image/portfolio/passive/drift.png") 0 0 no-repeat;
  background-size: 107%;
}
/* line 834, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .photo5, .categories .portfolio .portfolio-section .passive-window .photo5 {
  background: url("../image/portfolio/passive/lash.png") 0 0 no-repeat;
  background-size: 107%;
}
/* line 839, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window .photo6, .categories .portfolio .portfolio-section .passive-window .photo6 {
  background: url("../image/portfolio/passive/badaro.png") 0 0 no-repeat;
  background-size: 107%;
}
/* line 846, ../sass/screen.scss */
.categories .portfolio .portfolio-section .active-window {
  opacity: 0;
  z-index: 100;
}
/* line 852, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
/* line 862, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper:hover .see-all, .categories .portfolio .portfolio-section .mini-wrapper:hover .up-btn {
  opacity: 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}
/* line 868, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper:hover .see-all-inner, .categories .portfolio .portfolio-section .mini-wrapper:hover .up-btn-inner {
  opacity: 1;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}
/* line 875, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper p {
  text-transform: uppercase;
  font-family: Mohave;
  font-size: 10px;
  color: #9c9c9c;
  margin: 15px 0 0 0;
  letter-spacing: 4px;
}
/* line 884, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper .see-all, .categories .portfolio .portfolio-section .mini-wrapper .up-btn, .categories .portfolio .portfolio-section .mini-wrapper .see-all-inner, .categories .portfolio .portfolio-section .mini-wrapper .up-btn-inner {
  width: 60px;
  height: 60px;
  border: 1px solid #c7c7c7;
  box-shadow: 0 0 0 1px #d1d1d1 inset;
}
/* line 891, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper .see-all {
  background: url("../image/portfolio/passive/seeall.png") 4px 20px no-repeat;
}
/* line 895, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper .see-all-inner, .categories .portfolio .portfolio-section .mini-wrapper .up-btn-inner {
  position: absolute;
  top: 0;
  opacity: 0;
}
/* line 901, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper .see-all-inner {
  background: url("../image/portfolio/passive/seeall.png") -99px 20px no-repeat;
}
/* line 905, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper .up-btn-inner {
  background: url("../image/portfolio/passive/up.png") -123px 0 no-repeat;
}
/* line 909, ../sass/screen.scss */
.categories .portfolio .portfolio-section .mini-wrapper .up-btn {
  background: url("../image/portfolio/passive/up.png") 1px 0 no-repeat;
}

/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */
/*  - - - - - - - - - - - -PARALAX- - - - - - - - - - - - */
/* line 922, ../sass/screen.scss */
.paralax {
  width: 100%;
  min-height: 1020px;
  background: #fff;
  /*-- - - - - - text layer - - - - - --*/
  /*-- - - - - - text layer - - - - - --*/
  /*-- - - - - - paralax layer - - - - - --*/
  /*-- - - - - - end paralax layer - - - - - --*/
}
/* line 928, ../sass/screen.scss */
.paralax .text-layer {
  width: 880px;
  margin: 85px auto 0 auto;
}
/* line 932, ../sass/screen.scss */
.paralax .text-layer p {
  font-size: 12px;
  font-family: Mohave;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 4px;
  line-height: 23px;
  text-align: center;
}
/* line 945, ../sass/screen.scss */
.paralax .paralax-layer {
  width: 1455px;
  height: 730px;
  margin: 95px auto 0 auto;
  background: url("../image/paralax/bgr.png");
  position: relative;
}
/* line 952, ../sass/screen.scss */
.paralax .paralax-layer .photo-layer {
  position: absolute;
  background: #bfbfbf;
  opacity: 0;
}
/* line 957, ../sass/screen.scss */
.paralax .paralax-layer .photo-layer:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 964, ../sass/screen.scss */
.paralax .paralax-layer .photo1 {
  width: 348px;
  height: 474px;
  bottom: 0;
  left: 0;
}
/* line 971, ../sass/screen.scss */
.paralax .paralax-layer .photo2 {
  width: 348px;
  height: 465px;
  top: 0;
  right: 0;
}
/* line 978, ../sass/screen.scss */
.paralax .paralax-layer .photo3 {
  width: 263px;
  height: 302px;
  bottom: 84px;
  right: 494px;
}
/* line 985, ../sass/screen.scss */
.paralax .paralax-layer .photo4 {
  width: 263px;
  height: 302px;
  top: 0;
  left: 0;
}
/* line 992, ../sass/screen.scss */
.paralax .paralax-layer .photo5 {
  width: 278px;
  height: 272px;
  bottom: 214px;
  left: 365px;
}

/*  - - - - - - - - - - - -END PARALAX- - - - - - - - - - - - */
/*  - - - - - - - - - - - -FOOTER- - - - - - - - - - - - */
/* line 1004, ../sass/screen.scss */
.footer {
  background: #fff;
  width: 100%;
  min-height: 260px;
}
/* line 1009, ../sass/screen.scss */
.footer .table-wrapper {
  width: 1455px;
  margin: 52px auto 0 auto;
}
/* line 1015, ../sass/screen.scss */
.footer .table-wrapper .footer-table:hover .sprite-td div {
  opacity: 1;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}
/* line 1021, ../sass/screen.scss */
.footer .table-wrapper .footer-table td {
  height: 43px;
  border: 1px solid #757575;
  text-align: center;
  text-transform: uppercase;
  font-family: Mohave;
  font-size: 14px;
  letter-spacing: 3px;
}
/* line 1031, ../sass/screen.scss */
.footer .table-wrapper .footer-table .bigger-td {
  width: 508px;
}
/* line 1035, ../sass/screen.scss */
.footer .table-wrapper .footer-table .big-td {
  width: 265px;
}
/* line 1039, ../sass/screen.scss */
.footer .table-wrapper .footer-table .middle-td {
  width: 230px;
  font-size: 18px;
  letter-spacing: 5px;
}
/* line 1045, ../sass/screen.scss */
.footer .table-wrapper .footer-table .small-td {
  width: 190px;
}
/* line 1049, ../sass/screen.scss */
.footer .table-wrapper .footer-table .smaller-td {
  width: 174px;
  font-size: 18px;
}
/* line 1054, ../sass/screen.scss */
.footer .table-wrapper .footer-table .smallest-td {
  width: 91px;
}
/* line 1058, ../sass/screen.scss */
.footer .table-wrapper .footer-table .mini-td {
  width: 44px;
}
/* line 1062, ../sass/screen.scss */
.footer .table-wrapper .footer-table .small-font {
  font-size: 8px;
  letter-spacing: 2.5px;
}
/* line 1067, ../sass/screen.scss */
.footer .table-wrapper .footer-table .regular-font {
  font-size: 14px;
}
/* line 1071, ../sass/screen.scss */
.footer .table-wrapper .footer-table .sprite-td {
  background: url("../image/footer/footer-sprite.png") 5px 7px no-repeat;
}
/* line 1074, ../sass/screen.scss */
.footer .table-wrapper .footer-table .sprite-td div {
  width: 100%;
  height: 100%;
  background: url("../image/footer/footer-sprite.png") 5px -81px no-repeat;
  opacity: 0;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

/*  - - - - - - - - - - - -END FOOTER- - - - - - - - - - - - */
/*SECOND PAGE*/
/*colors*/
/*colors*/
/* line 9, ../sass/_portfolio.scss */
.line-50:after {
  content: '';
  width: 1px;
  height: 40px;
  background: #000;
  display: block;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: -20px;
}

/*--  - - - - - - - - - - - -PORTFOLIO HEADER- - - - - - - - - - - - --*/
/* line 22, ../sass/_portfolio.scss */
.portfolio-header {
  width: 100%;
  margin-bottom: 120px;
  /*-- - - - - - SLIDER WRAPPER - - - - - --*/
  /*-- - - - - - SLIDER WRAPPER - - - - - --*/
}
/* line 26, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper {
  width: 1610px;
  margin: 100px 0 0 230px;
  /*-- - - - - - topic - - - - - --*/
  /*-- - - - - -end topic - - - - - --*/
  /*-- - - - - - slider - - - - - --*/
  /*-- - - - - - slider - - - - - --*/
}
/* line 31, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .topic {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
/* line 35, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .topic p a {
  font-family: Mohave;
  font-size: 24px;
  letter-spacing: 9px;
  color: #000;
}
/* line 45, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .ddd {
  background: rgba(0, 98, 255, 0.47);
}
/* line 48, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page {
  width: 1610px;
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 55, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-img {
  width: 1024px;
}
/* line 59, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info {
  width: 586px;
  min-height: 815px;
}
/* line 63, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container {
  min-height: 815px;
  border-right: 1px solid #000;
  position: relative;
}
/* line 68, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container:after, .portfolio-header .slider-wrapper .slider-page .main-image-info .border-container:before {
  content: '';
  background: #000;
  position: absolute;
}
/* line 74, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container:before {
  height: 80px;
  width: 1px;
  right: -1px;
  top: -80px;
}
/* line 81, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container:after {
  width: 33px;
  height: 1px;
  right: 0;
  bottom: 0;
}
/* line 88, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container h1 {
  font-family: Calama;
  font-size: 48px;
  letter-spacing: 7px;
  margin: 0 0 30px 0;
}
/* line 95, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container h3 {
  font-family: Mohave;
  font-size: 14px;
  letter-spacing: 14px;
  border-bottom: 1px solid #000;
  padding: 0 0 8px 3px;
  margin: 0 0 43px 0;
}
/* line 104, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .text-topic {
  font-family: MohaveBold;
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0 0 17px 0;
}
/* line 111, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .main-text {
  font-family: Mohave;
  font-size: 10px;
  margin: 21px 0 0 0;
  padding-left: 3px;
  letter-spacing: 1px;
  line-height: 15px;
  text-align: justify;
}
/* line 120, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .main-text:first-child {
  margin-top: 0;
}
/* line 125, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .date {
  font-family: Mohave;
  font-size: 10px;
  letter-spacing: 3px;
  width: 237px;
  border-bottom: 1px solid #000;
  padding: 0 0 8px 0;
  margin: 80px 0 0 0;
}
/* line 135, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .social {
  width: 68%;
  margin: 25px 0 0 0;
}
/* line 139, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .social .icons {
  width: 35px;
  height: 35px;
  line-height: 37px;
  border: 2px solid #cacaca;
  text-align: center;
  display: inline-block;
  margin: 0 7px 0 0;
}
/* line 148, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .social .icons i {
  color: #cacaca;
}
/* line 154, ../sass/_portfolio.scss */
.portfolio-header .slider-wrapper .slider-page .main-image-info .border-container .mini-wrapper {
  width: 390px;
  margin: 0 0 0 62px;
}

/*--  - - - - - - - - - - - -PORTFOLIO HEADER- - - - - - - - - - - - --*/
/* line 168, ../sass/_portfolio.scss */
.footer .table-margin {
  margin-bottom: 100px;
}

/* line 176, ../sass/_portfolio.scss */
.slider-wrapper .bx-wrapper .bx-controls-direction a {
  top: 905px;
}
/* line 180, ../sass/_portfolio.scss */
.slider-wrapper .bx-wrapper .bx-prev {
  right: 130px;
  background: url("../image/slider/arrow/blackleft.png") no-repeat;
}
/* line 185, ../sass/_portfolio.scss */
.slider-wrapper .bx-wrapper .bx-next {
  right: 50px;
  background: url("../image/slider/arrow/blackright.png") no-repeat;
}

/*END SECOND PAGE*/
