/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*colors*/
/*colors*/
/*FONT-FACE*/
@font-face {
  font-family: Mohave;
  src: url(../font/Mohave/Mohave.otf);
}
@font-face {
  font-family: Calama;
  src: url(../font/Calama.ttf);
}
/*END FONT-FACE*/
/* line 28, ../sass/screen.scss */
body {
  /*box-sizing: border-box;*/
}

/* line 32, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 37, ../sass/screen.scss */
.container {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
  /*border: 1px solid blue;*/
  position: relative;
}

/*-  - - - - - - - - - - - - HEADER - - - - - - - - - - - - */
/* line 47, ../sass/screen.scss */
.header {
  background: #000000;
  width: 100%;
  min-height: 1029px;
  /*-- - - - - - header menu - - - - - --*/
  /*-- - - - - - end header menu - - - - - --*/
  /*-- - - - - - language field - - - - - --*/
  /*-- - - - - - language field - - - - - --*/
  /*-- - - - - - header slider - - - - - --*/
  /*-- - - - - - End header slider - - - - - --*/
}
/* line 53, ../sass/screen.scss */
.header .header-menu {
  width: 75%;
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 2;
}
/* line 60, ../sass/screen.scss */
.header .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* line 73, ../sass/screen.scss */
.header .header-menu ul li {
  position: relative;
}
/* line 77, ../sass/screen.scss */
.header .header-menu ul li:first-child:before, .header .header-menu ul li:first-child:after {
  width: 0;
  height: 0;
}
/* line 84, ../sass/screen.scss */
.header .header-menu ul li:nth-child(3):before, .header .header-menu ul li:nth-child(4):before {
  top: 6px;
  left: -25%;
}
/* line 89, ../sass/screen.scss */
.header .header-menu ul li:nth-child(3):after, .header .header-menu ul li:nth-child(4):after {
  top: 6px;
  right: -25%;
}
/* line 95, ../sass/screen.scss */
.header .header-menu ul li:before, .header .header-menu ul li:after {
  width: 16px;
  height: 1px;
  background: #fff;
  content: '';
  position: absolute;
}
/* line 103, ../sass/screen.scss */
.header .header-menu ul li:before {
  top: 6px;
  left: -55%;
}
/* line 108, ../sass/screen.scss */
.header .header-menu ul li:after {
  top: 6px;
  right: -55%;
}
/* line 114, ../sass/screen.scss */
.header .header-menu ul a {
  display: block;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: Mohave;
  font-size: 14px;
  letter-spacing: 5px;
}
/* line 128, ../sass/screen.scss */
.header .lang-wrapper {
  min-height: 855px;
  width: 34px;
  position: absolute;
  top: 95px;
  right: 70px;
  z-index: 5;
}
/* line 136, ../sass/screen.scss */
.header .lang-wrapper .lang-menu {
  width: 34px;
  min-height: 10px;
}
/* line 140, ../sass/screen.scss */
.header .lang-wrapper .lang-menu:hover {
  width: 17px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 146, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select {
  height: 90px;
  margin-top: 13px;
  display: none;
}
/* line 151, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul {
  padding: 0;
}
/* line 154, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul li {
  margin-top: 14px;
}
/* line 157, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul li:first-child {
  margin-top: 0;
}
/* line 162, ../sass/screen.scss */
.header .lang-wrapper .lang-menu .lang-select ul a {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: Mohave;
  text-transform: uppercase;
}
/* line 175, ../sass/screen.scss */
.header .lang-wrapper .lang-border {
  height: 825px;
  margin-top: 25px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* line 186, ../sass/screen.scss */
.header .header-slider {
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
  position: relative;
  /*-----slider text-----*/
  /*-----end slider text-----*/
  /*-----slider img-----*/
  /*-----end slider img-----*/
}
/* line 193, ../sass/screen.scss */
.header .header-slider .slider-text {
  width: 60%;
  /*max-width: 920px;*/
  height: 300px;
  left: 75px;
  top: 375px;
  position: absolute;
  color: #fff;
}
/* line 202, ../sass/screen.scss */
.header .header-slider .slider-text .text-header {
  text-transform: uppercase;
  letter-spacing: 8px;
}
/* line 207, ../sass/screen.scss */
.header .header-slider .slider-text .text-section {
  margin: 20px 0 20px 0;
  letter-spacing: 20px;
}
/* line 212, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer {
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 216, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
/* line 223, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block {
  width: 325px;
}
/* line 226, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block:first-child {
  float: left;
  margin-right: 50px;
}
/* line 231, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block:last-child {
  float: left;
}
/* line 235, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block .text-top-block {
  border-bottom: 1px solid #fff;
  padding-bottom: 9px;
}
/* line 240, ../sass/screen.scss */
.header .header-slider .slider-text .text-footer .text-block .text-bottom-block {
  padding-top: 11px;
}
/* line 246, ../sass/screen.scss */
.header .header-slider .slider-text .large-text {
  font-family: Calama;
  font-size: 158px;
}
/* line 251, ../sass/screen.scss */
.header .header-slider .slider-text .middle-text {
  font-family: Mohave;
  font-size: 25px;
}
/* line 256, ../sass/screen.scss */
.header .header-slider .slider-text .small-text {
  font-family: Mohave;
  font-size: 14px;
}
/* line 261, ../sass/screen.scss */
.header .header-slider .slider-text .smaller-text {
  font-family: Mohave;
  font-size: 12px;
}
/* line 266, ../sass/screen.scss */
.header .header-slider .slider-text .smallest-text {
  font-family: Mohave;
  font-size: 10px;
}

/*-  - - - - - - - - - - - - END HEADER- - - - - - - - - - - - */
/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */
/* line 284, ../sass/screen.scss */
.categories {
  background: #fff;
  width: 100%;
  min-height: 1006px;
  position: relative;
  /*-- - - - - - filters - - - - - --*/
  /*-- - - - - - end filters - - - - - --*/
  /*-- - - - - - portfolio - - - - - --*/
  /*-- - - - - - end portfolio - - - - - --*/
  /*-- - - - - - vertical menu - - - - - --*/
  /*-- - - - - - end vertical menu - - - - - --*/
}
/* line 290, ../sass/screen.scss */
.categories .filters {
  width: 880px;
  height: 100px;
  margin: 72px auto 0 auto;
}
/* line 295, ../sass/screen.scss */
.categories .filters .filter-menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 308, ../sass/screen.scss */
.categories .filters .filter-menu li {
  text-align: center;
}
/* line 312, ../sass/screen.scss */
.categories .filters .filter-menu p {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Mohave;
  font-size: 10px;
  margin: 23px 0 0 0;
}
/* line 326, ../sass/screen.scss */
.categories .portfolio {
  border: 1px solid #d6d6d6;
  width: 1455px;
  height: 582px;
  margin: 205px auto 0 auto;
}
/* line 332, ../sass/screen.scss */
.categories .portfolio:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 339, ../sass/screen.scss */
.categories .portfolio .portfolio-section {
  /*background: $testcolor-one;*/
  width: 291px;
  height: 291px;
  overflow: hidden;
  float: left;
}
/* line 346, ../sass/screen.scss */
.categories .portfolio .portfolio-section img {
  width: 102%;
  height: 102%;
}
/* line 355, ../sass/screen.scss */
.categories .vertical-menu {
  width: 112px;
  height: 915px;
  position: absolute;
  top: -25px;
  left: 47px;
}
/* line 362, ../sass/screen.scss */
.categories .vertical-menu .logo {
  width: 100%;
  height: 112px;
  background: url(../image/vertical-menu/bg.png);
  position: relative;
}
/* line 368, ../sass/screen.scss */
.categories .vertical-menu .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 377, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical {
  width: 34px;
  height: 120px;
  text-align: center;
  margin: 15px auto 0 auto;
}
/* line 383, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical:hover {
  width: 17px;
  overflow: hidden;
  margin: 15px auto 0 auto;
}
/* line 389, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical .vertical-select a {
  color: #000;
}
/* line 393, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical .lang-select {
  height: 90px;
  margin-top: 13px;
  display: none;
}
/* line 398, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical .lang-select ul {
  padding: 0;
}
/* line 401, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical .lang-select ul li {
  margin-top: 14px;
}
/* line 404, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical .lang-select ul li:first-child {
  margin-top: 0;
}
/* line 409, ../sass/screen.scss */
.categories .vertical-menu .lang-vertical .lang-select ul a {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: Mohave;
  text-transform: uppercase;
}
/* line 420, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav {
  margin: 80px 0 0 0;
  width: 588px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 365px 0 0 -240px;
}
/* line 431, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav div:first-child {
  margin-left: 25px;
}
/* line 435, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav div:last-child {
  margin-right: 30px;
}
/* line 440, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav span {
  font-family: Mohave;
  font-size: 14px;
  color: #000;
  letter-spacing: 5px;
  position: relative;
}
/* line 447, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav span:before, .categories .vertical-menu .vertical-nav span:after {
  width: 16px;
  height: 1px;
  background: #000;
  position: absolute;
  content: '';
}
/* line 455, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav span:before {
  top: 6px;
  left: -25px;
}
/* line 460, ../sass/screen.scss */
.categories .vertical-menu .vertical-nav span:after {
  top: 6px;
  right: -25px;
}

/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */
