.m-description-field {
	/*width: 234px;*/
	width: 73%;
	height: auto;
	margin: 0 auto;
	padding: 58px 0 45px 0;

	.m-services-name {
		font-family: opensanslight;
		font-size: 11px;
		color: #fff;
		width: 100%;

		&:after {
			width: 100%;
		}
	}

	.m-services-img {
		width: 100%;
		/*height: 109px;*/
		height: 160px;
		margin-top: 10px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.m-services-text {
		margin-top: 12px;
		font-size: 9px;
		font-family: opensanslight;
		color: #9c9c9c;
		text-align: justify;
		line-height: 14px;
	}
}

@media only screen and (max-width: 480px) {
	.m-description-field {
		.m-services-img {
			height: 109px;
		}
	}
}