/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*colors*/
/*colors*/
/*FONT-FACE*/
@font-face {
  font-family: opensanslight;
  src: url("../font/opensanslight/opensans-light.eot");
  src: url("../font/opensanslight/opensans-light.eot?#iefix") format("embedded-opentype"), url("../font/opensanslight/opensans-light.woff2") format("woff2"), url("../font/opensanslight/opensans-light.woff") format("woff"), url("../font/opensanslight/opensans-light.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: opensans;
  src: url("../font/opensansregular/opensans-regular.eot");
  src: url("../font/opensansregular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../font/opensansregular/opensans-regular.woff2") format("woff2"), url("../font/opensansregular/opensans-regular.woff") format("woff"), url("../font/opensansregular/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*END FONT-FACE*/
/* line 40, ../sass/screen.scss */
* {
  box-sizing: border-box;
}
/* line 43, ../sass/screen.scss */
*::-webkit-scrollbar {
  background: #f7f1f1;
  width: 1px;
}
/* line 48, ../sass/screen.scss */
*::-webkit-scrollbar-thumb {
  background: #6b6b6b;
}

/* line 53, ../sass/screen.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 58, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 62, ../sass/screen.scss */
.topic-wrapper {
  height: 40px;
  width: 100%;
  position: relative;
}
/* line 67, ../sass/screen.scss */
.topic-wrapper span.topic {
  line-height: 40px;
  width: auto;
  color: #000;
  text-transform: uppercase;
  position: relative;
  font-family: opensanslight;
  font-size: 12px;
}
/* line 76, ../sass/screen.scss */
.topic-wrapper span.topic:after {
  width: 10000%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  left: calc(100% + 20px);
}

/* line 89, ../sass/screen.scss */
.main-border {
  border: 1px solid #c1c3c3;
}
/* line 92, ../sass/screen.scss */
.main-border .inner-border {
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  /*padding: 15px; */
}

/* line 100, ../sass/screen.scss */
.box-shadow-r {
  -webkit-box-shadow: 8px 0px 12px -4px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 8px 0px 12px -4px rgba(50, 50, 50, 0.3);
  box-shadow: 8px 0px 12px -4px rgba(50, 50, 50, 0.3);
}

/* line 106, ../sass/screen.scss */
.box-shadow-rb {
  -webkit-box-shadow: 8px 8px 12px -4px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 8px 8px 12px -4px rgba(50, 50, 50, 0.3);
  box-shadow: 8px 8px 12px -4px rgba(50, 50, 50, 0.3);
}

/* line 112, ../sass/screen.scss */
.box-hover-icon {
  /*border: 1px solid red;*/
  width: 22.7%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  background: url("../image/icons/bucket.png") no-repeat center;
  background-size: cover;
}

/* line 124, ../sass/screen.scss */
.icon-sm {
  height: 27px;
}

/* line 128, ../sass/screen.scss */
.icon-big {
  height: 38px;
}

/* line 132, ../sass/screen.scss */
.main-section-wrapper {
  width: 100%;
  /*height: 100vh;*/
  height: 974px;
  /*padding-top: 80px;*/
  margin: 0 auto;
  background: url("../image/bgg.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  /*- - - - main-section - - - -*/
  /*- - - - end main-section - - - -*/
}
/* line 142, ../sass/screen.scss */
.main-section-wrapper .wr-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 150, ../sass/screen.scss */
.main-section-wrapper .wr-main {
  width: 1300px;
  height: 700px;
  margin: 0 auto 0 auto;
  position: relative;
}
/* line 156, ../sass/screen.scss */
.main-section-wrapper .wr-main .company-name {
  width: 600px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  right: -250px;
  padding-right: 50px;
}
/* line 165, ../sass/screen.scss */
.main-section-wrapper .wr-main .company-name p {
  color: #9fa1a0;
  font-family: opensanslight;
  text-transform: uppercase;
  font-size: 24.46px;
  letter-spacing: 1px;
  text-align: right;
}
/* line 173, ../sass/screen.scss */
.main-section-wrapper .wr-main .company-name p span {
  margin-right: 35px;
}
/* line 181, ../sass/screen.scss */
.main-section-wrapper .main-section {
  background: rgba(255, 255, 255, 0.6);
  width: 1140px;
  height: 590px;
  margin: 0 auto;
  overflow-x: hidden;
  /*position: relative;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 194, ../sass/screen.scss */
.main-section-wrapper .main-section:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 201, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side {
  width: 200px;
  height: 100%;
  float: left;
}
/* line 206, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper {
  background: rgba(228, 224, 224, 0.9);
  width: 100%;
  height: 100px;
  position: relative;
}
/* line 212, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 220, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo:after {
  display: block;
  clear: both;
  content: '';
  height: 0;
}
/* line 227, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo img {
  float: left;
  margin-right: 15px;
}
/* line 232, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo p {
  font-family: opensanslight;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
}
/* line 244, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li {
  background: rgba(228, 224, 224, 0.9);
  height: 40px;
  border-top: 1px solid #b3b5b5;
  transition: background ease-in-out .2s;
}
/* line 250, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li:last-child {
  border-bottom: 1px solid #b3b5b5;
}
/* line 254, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: opensanslight;
  padding-left: 20%;
  /*color: #6b6b6b;*/
  color: #000;
  letter-spacing: 0.5px;
}
/* line 269, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li:hover {
  background: transparent;
  border: none;
}
/* line 275, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu .active-li {
  background: transparent;
}
/* line 278, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu .active-li a {
  font-size: 12px;
  font-family: opensanslight;
  color: #000;
}
/* line 286, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .bottom-block {
  background: rgba(228, 224, 224, 0.9);
  height: 290px;
  width: 100%;
  position: relative;
}
/* line 292, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .bottom-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 302, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side {
  width: 940px;
  height: 100%;
  float: right;
  padding: 0 15px 0 9px;
  /*SLIDER*/
  /* END SLIDER*/
  /*SOCIAL NETWORKS*/
  /*END SOCIAL NETWORKS*/
}
/* line 309, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider {
  height: 200px;
  margin-top: 30px;
}
/* line 313, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper {
  width: 100%;
  height: 157px;
  background: rgba(255, 255, 255, 0.4);
}
/* line 320, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 99.5%;
  height: 100%;
  padding: 15px;
  /*border: 1px solid red;*/
}
/* line 328, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block {
  width: 160px;
  height: 118px;
  margin: 0 9px 13px 0;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
/* line 337, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:nth-child(5), .main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:nth-child(10), .main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:nth-child(15), .main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:nth-child(20), .main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:nth-child(25), .main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:nth-child(30), .main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block:last-child {
  margin-right: 0;
}
/* line 341, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block .slide-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}
/* line 354, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block .slide-box:hover {
  width: 98%;
  height: 98%;
}
/* line 358, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block .slide-box:hover .slide-box-hover {
  opacity: 1;
  visibility: visible;
}
/* line 364, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block .slide-box img {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
}
/* line 371, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block .slide-box .slide-box-hover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity ease-in-out .2s, visibility ease-in-out .2s;
  transition: opacity ease-in-out .2s, visibility ease-in-out .2s;
}
/* line 383, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .slide-block .slide-box .visible {
  opacity: 1;
  visibility: visible;
}
/* line 390, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider .slider-img-wrapper .slider-img-inner .slide-box-wrapper .add-slide-block {
  width: 160px;
  height: 118px;
  margin: 0 9px 13px 0;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: 1px solid #767676;
  background: url("../image/icons/plus.png") no-repeat center;
}
/* line 408, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social {
  width: 100%;
  min-height: 305px;
  margin-top: 20px;
}
/* line 413, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper {
  width: 100%;
}
/* line 416, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line {
  width: 100%;
  height: 46px;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 5px;
}
/* line 422, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line:last-child {
  margin-bottom: 0;
}
/* line 426, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 433, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line .social-icon {
  height: 100%;
  width: 5%;
  float: left;
  position: relative;
}
/* line 439, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line .social-icon i {
  color: #706f6e;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #706f6e;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}
/* line 456, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line .social-href {
  height: 100%;
  width: 95%;
  float: right;
  position: relative;
}
/* line 462, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .social .social-main-wrapper .social-line .social-href input {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  color: #6b6b6b;
  font-family: opensans;
  font-size: 12px;
  padding-left: 1%;
}

/* line 482, ../sass/screen.scss */
.input-hidden {
  display: none;
}

/*MODAL WINDOW*/
/* line 487, ../sass/screen.scss */
.admin-modal {
  /*display: none;*/
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  -webkit-transition: opacity ease-in-out .2s, visibility ease-in-out .2s;
  transition: opacity ease-in-out .2s, visibility ease-in-out .2s;
}

/* line 503, ../sass/screen.scss */
.admin-modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 511, ../sass/screen.scss */
.admin-modal-content {
  width: 304px;
  height: 138px;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 17px 20px;
}
/* line 519, ../sass/screen.scss */
.admin-modal-content p {
  font-size: 12px;
  font-family: opensanslight;
  color: #6b6b6b;
}
/* line 525, ../sass/screen.scss */
.admin-modal-content .img-delete {
  width: 140px;
  height: 82px;
  margin-top: 8px;
}
/* line 530, ../sass/screen.scss */
.admin-modal-content .img-delete img {
  width: 100%;
  height: 100%;
}
/* line 536, ../sass/screen.scss */
.admin-modal-content .confirm-wrapper {
  position: absolute;
  width: 125px;
  height: 23px;
  right: 8px;
  bottom: 17px;
}
/* line 543, ../sass/screen.scss */
.admin-modal-content .confirm-wrapper input {
  font-family: opensanslight;
  font-size: 10px;
  color: #6b6b6b;
  width: 55px;
  height: 20px;
  margin-right: 3px;
  background: #eaeaea;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  outline: none;
}
/* line 560, ../sass/screen.scss */
.admin-modal-content .confirm-wrapper input:active {
  background: #c9c9c9;
}

/*END MODAL WINDOW*/
/*ENTER PAGE*/
/* line 1, ../sass/_enter.scss */
.logo-wrapper-abs {
  width: 640px;
  height: 495px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../image/logo/logo-big.png") no-repeat center;
}
/* line 11, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 16, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field {
  background: rgba(255, 255, 255, 0.5);
  width: 440px;
  height: 137px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 13px;
}
/* line 27, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field .input-field {
  height: 35px;
  width: 80%;
  margin: 0 auto;
}
/* line 33, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field .bnt-enter {
  height: 30px;
  width: 80%;
  margin: 14px auto 0 auto;
  text-align: right;
}
/* line 39, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field .bnt-enter input {
  width: 112px;
  height: 24px;
  background: #eaeaea;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
}
/* line 51, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field .bnt-enter input:active {
  background: #c9c9c9;
}
/* line 57, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input {
  border: none;
  width: 100%;
  height: 100%;
  font-family: opensanslight;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #000;
  padding: 10px 0 0 5px;
  background: transparent;
  outline: 0;
}
/* line 69, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input:focus::-webkit-input-placeholder {
  text-indent: -100px;
}
/* line 73, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input::-webkit-input-placeholder {
  color: #000;
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
/* line 79, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input:focus::-moz-placeholder {
  text-indent: -100px;
}
/* line 83, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input::-moz-placeholder {
  color: #000;
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
/* line 89, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input:focus:-moz-placeholder {
  text-indent: -100px;
}
/* line 93, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input:-moz-placeholder {
  color: #000;
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
/* line 99, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input:focus:-ms-input-placeholder {
  text-indent: -100px;
}
/* line 103, ../sass/_enter.scss */
.logo-wrapper-abs .logo-wrapper-inner .enter-field input:-ms-input-placeholder {
  color: #000;
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

/*END ENTER PAGE*/
/*PORTFOLIO PAGE*/
/*PROJECTS*/
/* line 2, ../sass/_portfolio.scss */
.projects {
  margin-top: 30px;
}
/* line 5, ../sass/_portfolio.scss */
.projects .projects-wrapper {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 245px;
}
/* line 10, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner {
  width: 100%;
  padding: 15px 0 15px 15px;
}
/* line 14, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .wr {
  width: 99%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 20, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .wr input[type=range]::-moz-range-track {
  background: #000;
  width: 3px;
}
/* line 25, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .wr input[type=range]::-moz-range-thumb {
  background: red;
  width: 3px;
}
/* line 31, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper {
  width: 162.5px;
  height: 98px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: middle;
  cursor: pointer;
}
/* line 39, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(5), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(10), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(15), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(20), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(25), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(30), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(35), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(40), .projects .projects-wrapper .project-inner .project-block-wrapper:nth-child(45), .projects .projects-wrapper .project-inner .project-block-wrapper:last-child {
  margin-right: 0;
}
/* line 43, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper .project-block {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 48, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper .project-block img {
  width: 100%;
  height: 100%;
}
/* line 53, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper .project-block .project-block-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity ease-in-out .1s;
  transition: opacity ease-in-out .1s;
  z-index: 200;
}
/* line 66, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper .project-block .project-block-hover .project-block-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 27px;
  background: url("../image/icons/pen2.png") no-repeat center;
}
/* line 76, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .project-block-wrapper .project-block .visible {
  opacity: 1;
  visibility: visible;
}
/* line 83, ../sass/_portfolio.scss */
.projects .projects-wrapper .project-inner .add-project-block {
  border: 1px solid #7c7c7c;
  background: url("../image/icons/plus.png") no-repeat center;
  width: 162.5px;
  height: 98px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: middle;
}

/*END PROJECTS*/
/*PROJECT-DESCRIPTION*/
/* line 98, ../sass/_portfolio.scss */
.project-about {
  width: 100%;
  height: 245px;
  /*border: 1px solid blue;*/
  margin-top: 15px;
}
/* line 104, ../sass/_portfolio.scss */
.project-about .project-description-wrapper {
  width: 100%;
  height: 203px;
  background: rgba(255, 255, 255, 0.4);
  padding: 3px;
  /*border: 1px solid red;*/
}
/* line 111, ../sass/_portfolio.scss */
.project-about .project-description-wrapper:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 118, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description {
  width: 39%;
  height: 197px;
  /*border: 1px solid red;*/
  padding: 10px;
  float: left;
}
/* line 125, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info {
  width: 100%;
  /*border: 1px solid brown;*/
  padding: 3px 0;
}
/* line 130, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* line 137, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .begin {
  height: 22px;
  line-height: 20px;
  /*border: 1px solid red;*/
  width: 22.5%;
  color: #6c6a6a;
  font-family: opensans;
  font-size: 11px;
  float: left;
}
/* line 148, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .other-text {
  float: right;
  width: 77.5%;
  min-height: 22px;
  /*border: 1px solid red;*/
}
/* line 154, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .other-text input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 5px;
  font-family: opensans;
  color: #8d8c8c;
  font-size: 11px;
  border: none;
}
/* line 164, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .other-text input::-webkit-input-placeholder {
  font-size: 11px;
  color: #8d8c8c;
  text-decoration: none;
}
/* line 170, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .other-text input::-moz-placeholder {
  font-size: 11px;
  color: #8d8c8c;
}
/* line 175, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .other-text input:-moz-placeholder {
  font-size: 11px;
  color: #8d8c8c;
}
/* line 180, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-description .project-info .other-text input:-ms-input-placeholder {
  font-size: 11px;
  color: #8d8c8c;
}
/* line 189, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes {
  width: 61%;
  height: 197px;
  /*border: 1px solid blue;*/
  padding-top: 7px;
  float: right;
  position: relative;
  overflow-y: hidden;
}
/* line 198, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-box, .project-about .project-description-wrapper .project-slider-photoes .slider-add-box {
  width: 122px;
  height: 74px;
  /*border: 1px solid red;*/
  display: inline-block;
  margin: 0 10px 8px 0;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
/* line 209, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-box:hover .slider-box-hover, .project-about .project-description-wrapper .project-slider-photoes .slider-add-box:hover .slider-box-hover {
  opacity: 1;
  visibility: visible;
}
/* line 215, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-box img, .project-about .project-description-wrapper .project-slider-photoes .slider-add-box img {
  width: 100%;
  height: 100%;
}
/* line 220, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-box .slider-box-hover, .project-about .project-description-wrapper .project-slider-photoes .slider-add-box .slider-box-hover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity ease-in-out .3s, visibility ease-in-out .3s;
  transition: opacity ease-in-out .3s, visibility ease-in-out .3s;
}
/* line 231, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-box .slider-box-hover .box-hover-icon, .project-about .project-description-wrapper .project-slider-photoes .slider-add-box .slider-box-hover .box-hover-icon {
  width: 25px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../image/icons/bucket.png") no-repeat center;
  background-size: cover;
}
/* line 244, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-box .visible, .project-about .project-description-wrapper .project-slider-photoes .slider-add-box .visible {
  opacity: 1;
  visibility: visible;
}
/* line 250, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .hidden {
  display: none;
}
/* line 254, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .label-hidden {
  display: none;
}
/* line 258, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .slider-add-box {
  background: url("../image/icons/plus.png") no-repeat center;
  border: 1px solid #6b6b6b;
}
/* line 263, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .buttons-wrapper {
  padding-right: 25px;
  position: absolute;
  bottom: 2px;
  right: 0;
}
/* line 269, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .buttons-wrapper input {
  width: 122px;
  height: 20px;
  background: #eaeaea;
  padding: 0;
  font-family: opensanslight;
  font-size: 10px;
  border: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  outline: none;
}
/* line 284, ../sass/_portfolio.scss */
.project-about .project-description-wrapper .project-slider-photoes .buttons-wrapper input:active {
  background: #c9c9c9;
}

/* line 294, ../sass/_portfolio.scss */
.project-about-hidden {
  display: none;
}

/*END PROJECT-DESCRIPTION*/
/*END PORTFOLIO PAGE*/
/*ABOUT PAGE*/
/*COMPANY DESCRIPTION*/
/*close btn*/
/* line 4, ../sass/_about.scss */
.btn-close {
  width: 22px;
  height: 19px;
  color: #b7b3b4;
  top: 0;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 0;
  text-align: center;
}

/*close btn*/
/*label-wrapper*/
/* line 17, ../sass/_about.scss */
.label-wrapper {
  margin-top: 3px;
}
/* line 20, ../sass/_about.scss */
.label-wrapper:first-child {
  margin: 0;
}

/*label-wrapper*/
/* line 26, ../sass/_about.scss */
.company-description {
  width: 100%;
  height: 185px;
  padding: 0 0 0 0;
  margin-bottom: 12px;
}
/* line 32, ../sass/_about.scss */
.company-description .description-wrapper {
  background: rgba(255, 255, 255, 0.4);
}
/* line 35, ../sass/_about.scss */
.company-description .description-wrapper .description-inner {
  width: 100%;
  padding: 15px 25px 15px 15px;
  position: relative;
}
/* line 41, ../sass/_about.scss */
.company-description .description-wrapper textarea {
  width: 99%;
  height: 100px;
  resize: none;
  background: transparent;
  border: none;
  color: #000;
  font-family: opensans;
  font-size: 10px;
  line-height: 16px;
  text-align: justify;
}
/* line 53, ../sass/_about.scss */
.company-description .description-wrapper textarea:focus::-webkit-input-placeholder {
  opacity: .3;
}
/* line 57, ../sass/_about.scss */
.company-description .description-wrapper textarea::-webkit-input-placeholder {
  /*font-size: 10px;*/
  color: #000;
}
/* line 62, ../sass/_about.scss */
.company-description .description-wrapper textarea:focus::-moz-placeholder {
  opacity: .3;
}
/* line 66, ../sass/_about.scss */
.company-description .description-wrapper textarea::-moz-placeholder {
  /*font-size: 10px;*/
  color: #000;
}
/* line 71, ../sass/_about.scss */
.company-description .description-wrapper textarea:focus:-moz-placeholder {
  opacity: .3;
}
/* line 75, ../sass/_about.scss */
.company-description .description-wrapper textarea:-moz-placeholder {
  /*font-size: 10px;*/
  color: #000;
}
/* line 80, ../sass/_about.scss */
.company-description .description-wrapper textarea:focus:-ms-input-placeholder {
  opacity: .3;
}
/* line 84, ../sass/_about.scss */
.company-description .description-wrapper textarea:-ms-input-placeholder {
  /*font-size: 10px;*/
  color: #000;
}

/*END COMPANY DESCRIPTION*/
/*WORKERS*/
/* line 94, ../sass/_about.scss */
.workers-wrapper {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 330px;
  padding: 5px;
}
/* line 100, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper {
  width: 900px;
  height: 100%;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}
/* line 106, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box {
  background: rgba(255, 255, 255, 0.4);
  width: 48.6%;
  height: 157px;
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 5px;
  position: relative;
  vertical-align: middle;
}
/* line 116, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-photo {
  width: 116px;
  height: 136px;
  margin: 0 12px 0 0;
  position: relative;
}
/* line 122, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-photo img {
  width: 100%;
  height: 100%;
}
/* line 127, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-photo .file-field {
  position: absolute;
  bottom: 3px;
  right: 4px;
  cursor: pointer;
}
/* line 134, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-photo .del-photo {
  position: absolute;
  bottom: 3px;
  right: 20px;
  cursor: pointer;
}
/* line 141, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-photo input {
  display: none;
}
/* line 146, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block {
  width: 270px;
  /*height: auto;*/
  height: 136px;
  vertical-align: top;
}
/* line 152, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block label {
  font-size: 11px;
  font-family: opensans;
  color: #000;
}
/* line 157, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block label:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 164, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block label p {
  width: 70px;
  float: left;
  margin-top: 3px;
}
/* line 170, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block label input {
  width: 73%;
  float: right;
  font-size: 11px;
  font-family: opensans;
  color: #000;
  border: none;
  background: transparent;
}
/* line 181, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea {
  width: 100%;
  height: 65px;
  background: rgba(255, 255, 255, 0.4);
  margin-top: 8px;
  resize: none;
  border: none;
}
/* line 191, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input:focus::-webkit-input-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea:focus::-webkit-input-placeholder {
  opacity: .3;
}
/* line 195, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input::-webkit-input-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea::-webkit-input-placeholder {
  /*font-size: 10px;*/
  color: #b7b3b4;
}
/* line 200, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input:focus::-moz-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea:focus::-moz-placeholder {
  opacity: .3;
}
/* line 204, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input::-moz-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea::-moz-placeholder {
  /*font-size: 10px;*/
  color: #b7b3b4;
}
/* line 209, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input:focus:-moz-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea:focus:-moz-placeholder {
  opacity: .3;
}
/* line 213, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input:-moz-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea:-moz-placeholder {
  /*font-size: 10px;*/
  color: #b7b3b4;
}
/* line 218, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input:focus:-ms-input-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea:focus:-ms-input-placeholder {
  opacity: .3;
}
/* line 222, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .workers-info-block input:-ms-input-placeholder, .workers-wrapper .workers-block-wrapper .workers-box .workers-info-block textarea:-ms-input-placeholder {
  /*font-size: 10px;*/
  color: #b7b3b4;
}
/* line 229, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .workers-box .inline {
  display: inline-block;
}
/* line 234, ../sass/_about.scss */
.workers-wrapper .workers-block-wrapper .add-workers {
  background: url("../image/icons/plus.png") no-repeat center;
  border: 1px solid #a8a5a5;
  cursor: pointer;
}

/*END WORKERS*/
/*END ABOUT PAGE*/
/*SERVICES PAGE*/
/* line 1, ../sass/_services.scss */
.box-topic, label p, label input, textarea {
  font-size: 11px;
  font-family: opensans;
  color: #686868;
}

/* line 8, ../sass/_services.scss */
textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  opacity: .3;
}
/* line 12, ../sass/_services.scss */
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  /*font-size: 10px;*/
  color: #898989;
}
/* line 17, ../sass/_services.scss */
textarea:focus::-moz-placeholder, input:focus::-moz-placeholder {
  opacity: .3;
}
/* line 21, ../sass/_services.scss */
textarea::-moz-placeholder, input::-moz-placeholder {
  /*font-size: 10px;*/
  color: #898989;
}
/* line 26, ../sass/_services.scss */
textarea:focus:-moz-placeholder, input:focus:-moz-placeholder {
  opacity: .3;
}
/* line 30, ../sass/_services.scss */
textarea:-moz-placeholder, input:-moz-placeholder {
  /*font-size: 10px;*/
  color: #898989;
}
/* line 35, ../sass/_services.scss */
textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
  opacity: .3;
}
/* line 39, ../sass/_services.scss */
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  /*font-size: 10px;*/
  color: #898989;
}

/* line 45, ../sass/_services.scss */
.services {
  width: 100%;
  height: 410px;
  padding-top: 25px;
}
/* line 52, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box {
  width: 49.46%;
  height: 157px;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin: 0 0.635% 6px 0;
  padding: 11px 0 0 9px;
  position: relative;
  vertical-align: top;
}
/* line 62, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box:nth-child(2), .services .services-wrapper .services-inner .services-box:nth-child(4), .services .services-wrapper .services-inner .services-box:nth-child(6) {
  margin-right: 0;
}
/* line 66, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box:nth-child(3), .services .services-wrapper .services-inner .services-box:nth-child(4) {
  margin-bottom: 0;
}
/* line 70, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box .box-topic {
  width: 50%;
  font-size: 11px;
  font-family: opensans;
  color: #686868;
  text-transform: uppercase;
}
/* line 78, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box .label-wrapper {
  margin-top: 7px;
}
/* line 84, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box label:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 91, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box label p {
  float: left;
  padding-top: 3px;
  margin-right: 24px;
}
/* line 97, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box label input {
  border: none;
  background: transparent;
}
/* line 103, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box .textarea-wrapper {
  margin-top: 15px;
  width: 415px;
  height: 72px;
  background: rgba(255, 255, 255, 0.3);
}
/* line 109, ../sass/_services.scss */
.services .services-wrapper .services-inner .services-box .textarea-wrapper textarea {
  background: transparent;
  width: 98%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

/*END SERVICES PAGE*/
/*CONTACTS PAGE*/
/* line 1, ../sass/_contacts.scss */
.button-submit {
  position: absolute;
  width: 132px;
  height: 28px;
  top: 50%;
  margin-top: -14px;
  right: 5px;
}
/* line 9, ../sass/_contacts.scss */
.button-submit input {
  width: 100%;
  height: 100%;
  background: #eaeaea;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-family: opensanslight;
  color: #6b6b6b;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
}
/* line 24, ../sass/_contacts.scss */
.button-submit input:active {
  background: #c9c9c9;
}

/* line 31, ../sass/_contacts.scss */
.button-submit-active input {
  background: #ebdbc0;
}

/* line 36, ../sass/_contacts.scss */
.contacts {
  width: 100%;
  height: auto;
  padding-top: 25px;
  position: relative;
}
/* line 42, ../sass/_contacts.scss */
.contacts .contacts-box-wrapper {
  border: 1px solid #757675;
  width: 100%;
  height: 90px;
  margin: 3px 0 7px 0;
}
/* line 48, ../sass/_contacts.scss */
.contacts .contacts-box-wrapper .contacts-box-border {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}
/* line 53, ../sass/_contacts.scss */
.contacts .contacts-box-wrapper .contacts-box-border .contacts-box {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  padding: 19px;
  position: relative;
}
/* line 61, ../sass/_contacts.scss */
.contacts .contacts-box-wrapper .contacts-box-border .contacts-box label p {
  font-size: 11px;
  font-family: opensans;
  color: #676767;
  margin-bottom: 5px;
}
/* line 69, ../sass/_contacts.scss */
.contacts .contacts-box-wrapper .contacts-box-border .contacts-box input {
  font-size: 11px;
  font-family: opensans;
  border: none;
  width: 30%;
  background: transparent;
  color: #7b7b7b;
}

/*END CONTACTS PAGE*/
