/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*colors*/
$testcolor-one: rgba(255, 216, 0, 0.47);
$testcolor-two: rgba(0, 98, 255, 0.47);
$testcolor-three: rgba(0, 255, 177, 0.47);
$testcolor-four: rgba(255, 0, 128, 0.4);
$testcolor-five: rgba(157, 0, 255, 0.4);
/*colors*/


/*-- - - - - - vertical menu - - - - - --*/
.vertical-menu {
	width: 112px;
	height: 915px;
	position: absolute;
	top: 46px;
	left: 47px;

		.logo {
			width: 100%;
			height: 112px;
			background: url(../image/vertical-menu/bg.png);
			position: relative;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.lang-vertical {
			width: 34px;
			height: 120px;
			text-align: center;
			margin: 15px auto 0 auto;

			&:hover {
				width: 17px;
				overflow: hidden;
				margin: 15px auto 0 auto;
				-webkit-transition: width .6s;
				transition: width .6s;
			}

				.vertical-select {
					height: 90px;
					margin-top: 13px;
					display: none;

					ul {
						padding: 0;

						li {
							margin-top: 14px;
	
							&:first-child {
								margin-top: 0;
							}
						}

						a {
							text-align: center;
							display: block;
							width: 100%;
							font-size: 12px;
							font-family: Mohave;
							text-transform: uppercase;
							color: #000;

							&:hover {
								color: #bdbdbd;
							}
						}
					}
				}
		}
		.vertical-nav {
			margin: 80px 0 0 0;
			width: 588px;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		            justify-content: space-between;
		    -webkit-box-align: center;
		        -ms-flex-align: center;
		            align-items: center;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			margin: 365px 0 0 -240px;

			div {

				&:first-child {
					margin-left: 25px;
				}

				&:last-child {
					margin-right: 30px;
				}
			}

			span {
				font-family: Mohave;
				font-size: 14px;
				color: #000;
				letter-spacing: 5px;
				position: relative;

				&:before, &:after {
					width: 16px;
					height: 1px;
					background: #000;
					position: absolute;
					content: '';
					background: transparent;
					bottom: 6px;
					-webkit-transition: right .5s, left .5s, background .5s;
					transition: right .5s, left .5s, background .5s;
				}

				&:before {
					left: 18%;
				}

				&:after {
					right: 18%;
				}
				
				&:hover {
					&:before, &:after {
						bottom: 6px;
						-webkit-transition: left .5s, right .5s, background 1s; 
						transition: left .5s, right .5s, background 1s; 
						background: #000;
					}

					&:before {
						left: -25%;
					}

					&:after {
						right: -22%;
					}	
				}
			}

			.v-first-li {
				&:hover {
					&:before, &:after {
						bottom: 6px;
						-webkit-transition: left .5s, right .5s, background 1s; 
						transition: left .5s, right .5s, background 1s; 
						background: #000;
					}

					&:before {
						left: -55%;
					}

					&:after {
						right: -50%;
					}	
				}
			}
		}	
 	}
/*-- - - - - - end vertical menu - - - - - --*/

/*FONT-FACE*/
@font-face {
	font-family: Mohave;
	src: url(../font/Mohave/Mohave.otf);
}

@font-face {
	font-family: MohaveBold;
	src: url(../font/Mohave/Mohave-Bold.otf);
}

@font-face {
	font-family: Calama;
	src: url(../font/Calama.ttf);
}
/*END FONT-FACE*/


a {
	color: #fff;
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border: 1px solid transparent;
	position: relative;
}

.line:after, .line-30:after {
	content: '';
	width: 1px;
	height: 40px;
	background: #000;
	display: block;
	z-index: 100;
	position: absolute;
	left: 50%;
}

.line-30:after {
	bottom: -70px;
}

.line:after {
	bottom: -20px;
}


/*-  - - - - - - - - - - - - HEADER - - - - - - - - - - - - */
.header {
	width: 100%;
	height: 1030px;
	background: #000;
	color: #fff;
	margin-top: -8px; 

	/*-- - - - - - header menu - - - - - --*/
	.header-menu {
		width: 75%;
		position: absolute;
		top: 75px;
		left: 75px;
		z-index: 2;

		ul {
			display: -webkit-box;
		    display: -ms-flexbox;
	  		display: flex;
		    -webkit-box-pack: justify;
		       -ms-flex-pack: justify;
		           justify-content: space-between;
		    -webkit-box-align: center;
		       -ms-flex-align: center;
		           align-items: center;
			margin: 0;
			padding: 0;

			li {
				position: relative;

				&:first-child {
					&:before, &:after {
						display: none;
					}
				}

				&:before, &:after {
					width: 16px;
					height: 1px;
					content: '';
					position: absolute;
				}
			}

			.second-li {
				&:before {
					top: 6px;
					left: 11%;
					background: transparent;
					-webkit-transition: left .5s, background .5s;
					transition: left .5s, background .5s;
				}

				&:after {
					top: 6px;
					right: 11%;
					background: transparent; 
					-webkit-transition: right .5s, background .5s;
					transition: right .5s, background .5s;
				}

				&:hover {
					&:before {
						top: 6px;
						left: -62%;
						background: #fff;
						-webkit-transition: left .5s, background 1s;
						transition: left .5s, background 1s;
					}

					&:after {
						top: 6px;
						right: -55%;
						background: #fff;
						-webkit-transition: right .5s, background 1s;
						transition: right .5s, background 1s;
					}
				}
			}

			.third-li, .fourth-li {
				&:before {
					top: 6px;
					left: 25%;
					background: transparent;
					-webkit-transition: left .5s, background .5s;
					transition: left .5s, background .5s;
				}
				&:after {
					top: 6px;
					right: 25%;
					background: transparent;
					-webkit-transition: right .5s, background .5s;
					transition: right .5s, background .5s;
				}

				&:hover {
					&:before {
						top: 6px;
						left: -28%;
						-webkit-transition: left .5s, background 1s; 
						transition: left .5s, background 1s; 
						background: #fff;
					}

					&:after {
						top: 6px;
						right: -25%;
						-webkit-transition: right .5s, background 1s;
						transition: right .5s, background 1s;
						background: #fff; 
					}
				}
			}

			a {
				display: block;
				height: 100%;
				width: 100%;
				text-transform: uppercase;
				font-family: Mohave;
				font-size: 14px;
				letter-spacing: 5px;
			}
		}
	}
	/*-- - - - - - end header menu - - - - - --*/

	/*-- - - - - - language field - - - - - --*/
	.lang-wrapper {
		min-height: 855px;
		width: 34px;
		position: absolute;
		top: 95px;
		right: 70px;
		z-index: 5;

		.lang-menu {
			width: 34px;
			min-height: 10px;

			&:hover {
				width: 17px;
				overflow: hidden;
				margin: 0 auto;
				-webkit-transition: width .6s;
				transition: width .6s;
			}

			.lang-select {
				height: 90px;
				margin-top: 13px;
				display: none;

				ul {
					padding: 0;

					li {
						margin-top: 14px;

						&:first-child {
							margin-top: 0;
						}
					}

					a {
						text-align: center;
						display: block;
						width: 100%;
						font-size: 12px;
						font-family: Mohave;
						text-transform: uppercase;

						&:hover {
							color: #5f5f5f;
						}
					}
				}
			}
		}

		.lang-border {
			height: 825px;
			margin-top: 25px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff; 
		}
	}
	/*-- - - - - - end language field - - - - - --*/

	/*-- - - - - - header slider - - - - - --*/

	.header-slider {
		width: 100%;
		height: 100%;
		position: relative;

	/*-----slider text-----*/
		#slider-text-black {
			color: #000;
		}

		#text-top-block {
			border-bottom: 1px solid #000;
		}

		.slider-text {
			width: 60%;
			height: 300px;
			left: 75px;
			top: 375px;
			position: absolute;
			color: #fff;
			z-index: 10;

			&:after {
			content: '';
			clear: both;
			display: block;
			height: 0;
		}

			.text-header {
				text-transform: uppercase;
				letter-spacing: 8px;
			}

			.text-section {
				margin: 20px 0 20px 0;
				letter-spacing: 20px;
			}

			.text-footer {
				text-transform: uppercase;
				letter-spacing: 5px;

				&:after {
					content: '';
					display: block;
					height: 0;
					clear: both;
				}

				.text-block {
					width: 325px;

					&:first-child {
						float: left;
						margin-right: 50px;
					}

					&:last-child {
						float: left;
					}
					
					.text-top-block {
						border-bottom: 1px solid #fff;
						padding-bottom: 9px;
					}

					.text-bottom-block {
						padding-top: 11px;
					}
				}
			}

			.large-text {
				font-family: Calama;
				font-size: 158px;
			}

			.middle-text {
				font-family: Mohave;
				font-size: 25px;
			}

			.small-text {
				font-family: Mohave;
				font-size: 14px;
			}

			.smaller-text {
				font-family: Mohave;
				font-size: 12px;
			}

			.smallest-text {
				font-family: Mohave;
				font-size: 10px;
			}		
		}
		/*-----end slider text-----*/

		/*-----slider img-----*/
		.slider-img {
			width: 100%;
			height: 99.9%;

			img {
				height: 100%;
				width: 100%;
			}
		}
		/*-----end slider img-----*/
	}
	/*-- - - - - - end header slider - - - - - --*/
}
/*-  - - - - - - - - - - - - END HEADER - - - - - - - - - - - - */

/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */
.categories {
	background: #fff;
	width: 100%;
	min-height: 1006px;
	position: relative;

	/*-- - - - - - filters - - - - - --*/
	.filters {
		width: 880px;
		height: 100px;
		margin: 72px auto 0 auto;

		.filter-menu {
			padding: 0;
			margin: 0;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		            justify-content: space-between;
		    -webkit-box-align: center;
		        -ms-flex-align: center;
		            align-items: center;

		    .filter-active {
				a .border-block {
					border: 1px solid #868585;

					div:first-child {
						opacity: 0;
					}

					div:last-child {
						opacity: 1;
					}
				}
				p {
					color: #868585;
				}
		    }

		    .filter-block {
				position: relative;

		    	&:hover {
					.border-block {
						border: 1px solid #868585;
						transition: border .1s;
					}

					p {
						color: #868585;
						transition: color .1s;
					}
					
					.all-passive, .brand-passive, .dimention-passive, .web-passive, .graphic-passive, .craft-passive {
						opacity: 0;
						-webkit-transition: opacity .1s;
						transition: opacity .1s;
					}

					.all-active, .brand-active, .dimention-active, .web-active, .graphic-active, .craft-active {
						opacity: 1;
						-webkit-transition: opacity 1s;
						transition: opacity 1s;
					}
		    	}

		    	.border-block {
			    	width: 61px;
			    	height: 61px;
			    	margin: 0 auto;
			    	border: 1px solid black;
			    	box-shadow: 0 0 0 1px #d1d1d1 inset;
			    	position: relative;
		    	}

		    	.all-passive, .brand-passive, .dimention-passive, .web-passive, .graphic-passive, .craft-passive {
		    		width: 100%;
		    		height: 100%;
		    	}

		    	.all-active, .brand-active, .dimention-active, .web-active, .graphic-active, .craft-active {
		    		width: 100%;
		    		height: 100%;
		    		position: absolute;
		    		top: 0;
		    		opacity: 0;
		    	}

		    	.all-passive {
		    		background: url('../image/filters/filters.png') -83px 17px no-repeat;
		    	}

		    	.all-active {
		    		background: url('../image/filters/filters.png') 3px 21px no-repeat;
		    	}

		    	.brand-passive {
		    		background: url('../image/filters/filters.png') -82px -47px no-repeat;
		    	}

		    	.brand-active {
		    		background: url('../image/filters/filters.png') 2.5px -42px no-repeat;
		    	}

		    	.dimention-passive {
		    		background: url('../image/filters/filters.png') -87px -119px no-repeat;
		    	}

		    	.dimention-active {
		    		background: url('../image/filters/filters.png') 3px -115px no-repeat;
		    	}

		    	.web-passive {
		    		background: url('../image/filters/filters.png') -83px -188px no-repeat;
		    	}

		    	.web-active {
		    		background: url('../image/filters/filters.png') 2.5px -183px no-repeat;
		    	}

		    	.graphic-passive {
		    		background: url('../image/filters/filters.png') -85px -255px no-repeat;
		    	}

		    	.graphic-active {
		    		background: url('../image/filters/filters.png') 3px -250px no-repeat;
		    	}

		    	.craft-passive {
		    		background: url('../image/filters/filters.png') -85px -329px no-repeat;
		    	}

		    	.craft-active {
		    		background: url('../image/filters/filters.png') 3px -323px no-repeat;
		    	}
			}

			li {
				text-align: center;

				p {
					color: #000;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 4px;
					font-family: Mohave;
					font-size: 10px;
					margin: 23px 0 0 0;
				}
			}
		}
	}
	/*-- - - - - - end filters - - - - - --*/
	
	/*Portfolio*/
	.portfolio {
		width: 1455px;
		height: 580px;
		margin: 205px auto 0 auto;
		overflow: hidden;

		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		/*only first-block*/
		#frame-name {
			background: url('../image/portfolio/frame/all.png');
			p {
				font-family: Mohave;
				font-size: 16.3px;
				letter-spacing: 6px;
				text-transform: uppercase;
				color: #000;
				margin: 140px 0 0 0;
				text-align: center;
			}
		}
		/*end first-block*/

		.see-all-visibility, .portfolio-section:last-child {
			border: 1px solid #d6d6d6;
		}

		.portfolio-section {
			box-sizing: border-box;
			width: 291px;
			height: 291px;
			float: left;
			position: relative;

			&:first-child {
				border-top: 1px solid #d6d6d6;
				border-left: 1px solid #d6d6d6;
			}

			&:hover {
				.active-window {
					opacity: 1;
					-webkit-transition: opacity .7s;
					transition: opacity .7s;
				}

				.passive-window {
					opacity: 0;
					-webkit-transition: opacity .7s;
					transition: opacity .7s;
				}
			}

			.active-window, .passive-window {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				.active-window-inner {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					text-transform: uppercase;
					color: #000;
					font-family: Mohave;
					text-align: center;

					/*active window text*/
					.inner-heading {
						font-size: 16.3px;
						letter-spacing: 5px;

						&:after {
							content: '';
							display: block;
							width: 155px;
							height: 1px;
							margin: 6px auto 8px auto;
							background: #000;
						}
					}

					.inner-footer {
						font-size: 8px;
						letter-spacing: 7px;
					}
					/*end active window text*/
				}

				.passive-window-inner {
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
				
				/*change background photoes*/
				.photo1 {
					background: url('../image/portfolio/passive/solo.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo2 {
					background: url('../image/portfolio/passive/mill.png') -2px 0 no-repeat;
					background-size: 107%;
				}

				.photo3 {
					background: url('../image/portfolio/passive/fff.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo4 {
					background: url('../image/portfolio/passive/drift.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo5 {
					background: url('../image/portfolio/passive/lash.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo6 {
					background: url('../image/portfolio/passive/badaro.png') 0 0 no-repeat;
					background-size: 107%;
				}
				/* end change background photoes*/
			}

			.active-window {
				opacity: 0;
				z-index: 100;
			}

			/*last-block @SEE-ALL and UP-BTN*/
			.mini-wrapper {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
				cursor: pointer;

				&:hover  {
					.see-all, .up-btn {
						opacity: 0;
						-webkit-transition: opacity .8s;
						transition: opacity .8s; 
					}
					
					.see-all-inner, .up-btn-inner {
						opacity: 1;
						-webkit-transition: opacity .7s;
						transition: opacity .7s;
					}
				}

				p {
					text-transform: uppercase;
					font-family: Mohave;
					font-size: 10px;
					color: #9c9c9c;
					margin: 15px 0 0 0;
					letter-spacing: 4px;
				}

				.see-all, .up-btn, .see-all-inner, .up-btn-inner {
					width: 60px;
					height: 60px;
					border: 1px solid #c7c7c7;
					box-shadow: 0 0 0 1px #d1d1d1 inset;
				}

				.see-all {
					background: url('../image/portfolio/passive/seeall.png') 4px 20px no-repeat;
				}

				.see-all-inner, .up-btn-inner {
					position: absolute;
					top: 0;
					opacity: 0;
				}

				.see-all-inner {
					background: url('../image/portfolio/passive/seeall.png') -99px 20px no-repeat;
				}

				.up-btn-inner {
					background: url('../image/portfolio/passive/up.png') -123px 0 no-repeat;
				}

				.up-btn {
					background: url('../image/portfolio/passive/up.png') 1px 0 no-repeat;
				}
			}
			/*end last-block @SEE-ALL and UP-BTN*/
		}
	}
	/*End Portfolio*/

}
/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */

/*  - - - - - - - - - - - -PARALAX- - - - - - - - - - - - */
.paralax {
	width: 100%;
	min-height: 1020px;
	background: #fff;
	
	/*-- - - - - - text layer - - - - - --*/
	.text-layer {
		width: 880px;
		margin: 85px auto 0 auto;

		p {
			font-size: 12px;
			font-family: Mohave;
			text-transform: uppercase;
			color: #000;
			letter-spacing: 4px;
			line-height: 23px;
			text-align: center;
		}
	}
	/*-- - - - - - text layer - - - - - --*/

	/*-- - - - - - paralax layer - - - - - --*/
	.paralax-layer {
		width: 1455px;
		height: 730px;
		margin: 95px auto 0 auto;
		background: url('../image/paralax/bgr.png');
		position: relative;

		.photo-layer {
			position: absolute;
			background: #bfbfbf;
			opacity: 0;

			&:hover {
				opacity: 1;
				-webkit-transition: opacity 1s;
				transition: opacity 1s;
			}
		}

		.photo1 {
			width: 348px;
			height: 474px;
			bottom: 0;
			left: 0;
		}

		.photo2 {
			width: 348px;
			height: 465px;
			top: 0;
			right: 0;
		}

		.photo3 {
			width: 263px;
			height: 302px;
			bottom: 84px;
			right: 494px;
		}

		.photo4 {
			width: 263px;
			height: 302px;
			top: 0;
			left: 0;
		}

		.photo5 {
			width: 278px;
			height: 272px;
			bottom: 214px;
			left: 365px;
		}
	}
	/*-- - - - - - end paralax layer - - - - - --*/	
}
/*  - - - - - - - - - - - -END PARALAX- - - - - - - - - - - - */

/*  - - - - - - - - - - - -FOOTER- - - - - - - - - - - - */
.footer {
	background: #fff;
	width: 100%;
	min-height: 260px;

	.table-wrapper {
		width: 1455px;
		margin: 52px auto 0 auto;

		.footer-table {

			&:hover .sprite-td div {
				opacity: 1;
				-webkit-transition: opacity .7s;
				transition: opacity .7s;
			}

			td {
				height: 43px;
				border: 1px solid #757575;
				text-align: center;
				text-transform: uppercase;
				font-family: Mohave;
				font-size: 14px;
				letter-spacing: 3px;
			}

			.bigger-td {
				width: 508px;
			}

			.big-td {
				width: 265px;
			}

			.middle-td {
				width: 230px;
				font-size: 18px;
				letter-spacing: 5px;
			}

			.small-td {
				width: 190px;
			}

			.smaller-td {
				width: 174px;
				font-size: 18px;
			}

			.smallest-td {
				width: 91px;
			}

			.mini-td {
				width: 44px;
			}

			.small-font {
				font-size: 8px;
				letter-spacing: 2.5px;
			}

			.regular-font {
				font-size: 14px;
			}

			.sprite-td {
				background: url('../image/footer/footer-sprite.png') 5px 7px no-repeat;

				div {
					width: 100%;
					height: 100%;
					background: url('../image/footer/footer-sprite.png') 5px -81px no-repeat;
					opacity: 0;
					-webkit-transition: opacity .7s;
					transition: opacity .7s;
				}
			}
		}
	}
}
/*  - - - - - - - - - - - -END FOOTER- - - - - - - - - - - - */

/*SECOND PAGE*/
@import "portfolio";
/*END SECOND PAGE*/