/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*colors*/
$testcolor-one: rgba(255, 216, 0, 0.47);
$testcolor-two: rgba(0, 98, 255, 0.47);
$testcolor-three: rgba(0, 255, 177, 0.47);
$testcolor-four: rgba(255, 0, 128, 0.4);
$testcolor-five: rgba(157, 0, 255, 0.4);
/*colors*/


/*-- - - - - - vertical menu - - - - - --*/



div .visible-menu {
	position: fixed;
	top: 46px;
	left: 47px;
}

div .fixed-portfolio-menu {
	position: fixed;
	top: 46px;
	left: 47px;
}

.vertical-menu {
	width: 112px;
	height: 855px;
	position: absolute;
	top: 46px;
	left: 47px;
	z-index: 99999;

		.vertical-menu-wrapper {
			position: relative;
			height: 250px;

			.logo {
				width: 100%;
				height: 112px;
				background: url(../image/vertical-menu/bg.png); 
				/*background: transparent; */
				position: relative;
				margin: 0 0 15px 0;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}

			.lang-vertical {
				width: 34px;
				min-height: 20px;
				text-align: center;
				margin: 0 auto;

				&:hover {
					width: 17px;
					overflow: hidden;
					margin: 15px auto 0 auto;
					-webkit-transition: width .6s;
					transition: width .6s;
				}

					.vertical-select {
						height: 90px;
						margin-top: 13px;
						display: none;

						ul {
							padding: 0;

							li {
								margin-top: 14px;
		
								&:first-child {
									margin-top: 0;
								}
							}

							li.active-lang a {
								color: #bdbdbd;
							}

							a {
								text-align: center;
								display: block;
								width: 100%;
								font-size: 12px;
								font-family: Mohave;
								text-transform: uppercase;
								color: #000;

								&:hover {
									color: #bdbdbd;
									transition: .4s;
								}
							}
						}
					}
				}
			}
			.vertical-nav-wrapper {
				.vertical-nav {
					width: 500px;
					display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: justify;
				        -ms-flex-pack: justify;
				            justify-content: space-between;
				    -webkit-box-align: center;
				        -ms-flex-align: center;
				            align-items: center;
					-webkit-transform: rotate(-90deg);
					transform: rotate(-90deg);
					margin: 345px 0 0 -192px;

					div {

						&:first-child {
							margin-left: 25px;
						}

						&:last-child {
							margin-right: 30px;
						}
					}

					span {
						font-family: Mohave;
						font-size: 14px;
						color: #000;
						letter-spacing: 5px;
						position: relative;

						&:before, &:after {
							width: 16px;
							height: 1px;
							background: #000;
							position: absolute;
							content: '';
							background: transparent;
							bottom: 10px;
							-webkit-transition: right .5s, left .5s, background .5s;
							transition: right .5s, left .5s, background .5s;
						}

						&:before {
							left: 18%;
						}

						&:after {
							right: 18%;
						}
						
						&:hover {
							&:before, &:after {
								bottom: 10px;
								-webkit-transition: left .5s, right .5s, background 1s; 
								transition: left .5s, right .5s, background 1s; 
								background: #000;
							}

							&:before {
								left: -25%;
							}

							&:after {
								right: -22%;
							}	
						}
					}

					.v-first-li {
						&:hover {
							&:before, &:after {
								bottom: 10px;
								-webkit-transition: left .5s, right .5s, background 1s; 
								transition: left .5s, right .5s, background 1s; 
								background: #000;
							}

							&:before {
								left: -55%;
							}

							&:after {
								right: -50%;
							}	
						}
					}
			}
		}	
 	}
/*-- - - - - - end vertical menu - - - - - --*/

/*FONT-FACE*/
@font-face {
	/*font-family: Mohave;*/
	/*src: url(../font/Mohave/Mohave.otf);*/
	font-family: Mohave;
    src: url('../font/Mohave/mohave.eot');
    src: url('../font/Mohave/mohave.eot?#iefix') format('embedded-opentype'),
         url('../font/Mohave/mohave.woff2') format('woff2'),
         url('../font/Mohave/mohave.woff') format('woff'),
         url('../font/Mohave/mohave.ttf') format('truetype'),
         url('../font/Mohave/mohave.svg#cera_stencil_pro_trialthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	/*font-family: MohaveBold;*/
	/*src: url(../font/Mohave/Mohave-Bold.otf);*/
	font-family: MohaveBold;
    src: url('../font/Mohavebold/mohave-bold.eot');
    src: url('../font/Mohavebold/mohave-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Mohavebold/mohave-bold.woff2') format('woff2'),
         url('../font/Mohavebold/mohave-bold.woff') format('woff'),
         url('../font/Mohavebold/mohave-bold.ttf') format('truetype'),
         url('../font/Mohavebold/mohave-bold.svg#cera_stencil_pro_trialthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	/*font-family: Calama;*/
	/*src: url(../font/Calama.ttf);*/
	font-family: Calama;
    src: url('../font/Calama/calama-webfont.eot');
    src: url('../font/Calama/calama-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Calama/calama-webfont.woff2') format('woff2'),
         url('../font/Calama/calama-webfont.woff') format('woff'),
         url('../font/Calama/calama-webfont.ttf') format('truetype'),
         url('../font/Calama/calama-webfont.svg#cera_stencil_pro_trialthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*END FONT-FACE*/

body {
	overflow-x: hidden;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border: 1px solid transparent;
	position: relative;
}

.line:after, .line-30:after{
	content: '';
	width: 1px;
	height: 40px;
	background: #000;
	display: block;
	z-index: 100;
	position: absolute;
	left: 50%;
}

.line-30:after {
	bottom: -70px;
}

.line:after {
	bottom: -20px;
}


/*-  - - - - - - - - - - - - HEADER - - - - - - - - - - - - */
.header {
	width: 100%;
	height: 1030px;
	background: #000;

	.header-wrapper {
		height: 1030px;

		.bx-wrapper {
			.bx-prev {
				bottom: 0;
				right: 210px;
				background: url('../image/slider/arrow/whiteleft.png') no-repeat;
			}
			
			.bx-next {
				right: 130px;
				bottom: 65px;
				background: url('../image/slider/arrow/whiteright.png') no-repeat;
			}
		}

		.bx-wrapper-black {
			.bx-prev {
				background: url('../image/slider/arrow/blackleft.png') no-repeat;
			}

			.bx-next {
				background: url('../image/slider/arrow/blackright.png') no-repeat;
			}
		}
	}

	/*-- - - - - - header menu - - - - - --*/
	.header-menu {
		width: 75%;
		position: absolute;
		top: 75px;
		left: 75px;
		z-index: 2;

		&.new {
			div {
				div {
				 &:hover {
				 	&:after, &:before {
						background: #000;
					}
				 }
					a {
						color: #000;
					}
				}
			}
		}

		div {
			display: -webkit-box;
		    display: -ms-flexbox;
	  		display: flex;
		    -webkit-box-pack: justify;
		       -ms-flex-pack: justify;
		           justify-content: space-between;
		    -webkit-box-align: center;
		       -ms-flex-align: center;
		           align-items: center;
			margin: 0;
			padding: 0;



			div {
				position: relative;

				&:before, &:after {
					width: 16px;
					height: 1px;
					content: '';
					position: absolute;
				}
			}

			.headerlogo-black {
				display: none;
			}

			.first-li {
				&:before, &:after {
					display: none;
				}
			}

			.fs-header-logo {
				margin-top: -300px;
				opacity: 0;
			}

			.second-li {
				&:before, &:after {
					top: 6px;
					background: transparent;
					-webkit-transition: left .5s, right .5s, background .5s;
					transition: left .5s, right .5s, background .5s;
				}

				&:before {
					left: 11%;
				}

				&:after {
					right: 11%;
				}

				&:hover {
					&:before, &:after {
						top: 6px;
						background: #fff;
						-webkit-transition: left .5s, right .5s, background 1s;
						transition: left .5s, right .5s, background 1s;
					}

					&:before {
						left: -62%;
					}

					&:after {
						right: -55%;
					}
				}
			}

			.third-li, .fourth-li {
				&:before, &:after {
					top: 6px;
					background: transparent;
				}

				&:before {
					left: 25%;
					-webkit-transition: left .5s, background .5s;
					transition: left .5s, background .5s;
				}

				&:after {
					right: 25%;
					-webkit-transition: right .5s, background .5s;
					transition: right .5s, background .5s;
				}

				&:hover {
					&:before, &:after {
						top: 6px;
						background: #fff;
					}

					&:before {
						left: -28%;
						-webkit-transition: left .5s, background 1s; 
						transition: left .5s, background 1s; 
					}

					&:after {
						right: -25%;
						-webkit-transition: right .5s, background 1s;
						transition: right .5s, background 1s; 
					}
				}
			}

			.fs-header-li {
				left: -1550px;
				opacity: 0;
			}

			a {
				display: block;
				height: 100%;
				width: 100%;
				text-transform: uppercase;
				font-family: Mohave;
				font-size: 14px;
				letter-spacing: 5px;
			}
		}
	}
	/*-- - - - - - end header menu - - - - - --*/

	/*-- - - - - - language field - - - - - --*/
	.lang-wrapper {
		height: 865px;
		width: 34px;
		position: absolute;
		bottom: 7%;
		right: 3.65%;
		overflow: hidden;
		z-index: 5;
		border-bottom: 1px solid #fff;

		.lang-menu {
			width: 34px;
			min-height: 10px;

			.lang-select {
				height: 90px;
				margin-top: 13px;
				display: none;

				ul {
					padding: 0;

					li {
						margin-top: 14px;

						&:first-child {
							margin-top: 0;
						}
					}

					li.active-lang a {
						color: #bdbdbd;
					}

					a {
						text-align: center;
						display: block;
						width: 100%;
						font-size: 12px;
						font-family: Mohave;
						text-transform: uppercase;

						&:hover {
							color: #5f5f5f;
							transition: color .4s; 
						}
					}

					.lang-black {
						color: #000;

						&:hover {
							color: #c3c3c3;
							transition: color .4s; 
						}
					}
				}
			}
		}

		.fs-lang-menu {
			margin-bottom: -900px;
			opacity: 0;
		}

		.lang-border {
			min-height: 900px;
			margin-top: 13px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
		}
	}

	.fs-lang-wrapper {
		right: -100px;
		opacity: 0;
	}

	.lang-wrapper-black {
		border-bottom: 1px solid #000;

		.lang-border {
			border-top: 1px solid #000;
			border-right: 1px solid #000;
		}
	}
	/*-- - - - - - end language field - - - - - --*/

	/*-- - - - - - SLIDER - - - - - --*/
	.bx-wrapper {
		margin: -6px auto 60px auto;

		.bx-controls-direction a {
			top: 105%;
			opacity: 0;
		}
	}

	.header-slider {
		width: inherit;
		height: inherit;

		.slide {
			width: 100%;
			height: 1030px;

			.slider-text {
				width: 60%;
				height: 300px;
				left: 75px;
				top: 375px;
				position: absolute;
				color: #fff;
				z-index: 10;

				&:after {
					content: '';
					clear: both;
					display: block;
					height: 0;
				}

				.text-header {
					text-transform: uppercase;
					letter-spacing: 8px;
				}

				.fs-text-header {
					position: absolute;
					top: -500px;
					opacity: 0;
				}

				.text-section {
					margin: 20px 0 20px 0;
					letter-spacing: 20px;
				}

				.fs-text-section {
					position: absolute;
					left: -1000px;
					opacity: 0;
				}

				.text-footer {
					text-transform: uppercase;
					letter-spacing: 5px;

					&:after {
						content: '';
						display: block;
						height: 0;
						clear: both;
					}

					.text-block {
						width: 325px;

						&:first-child {
							float: left;
							margin-right: 50px;
						}

						&:last-child {
							float: left;
						}
						
						.text-top-block {
							border-bottom: 1px solid #fff;
							padding-bottom: 9px;
						}

						.text-bottom-block {
							padding-top: 11px;
						}
					}
				}

				.fs-text-footer {
					position: absolute;
					bottom: -450px;
					opacity: 0;
				}

				.large-text {
					font-family: Calama;
					font-size: 158px;
				}

				.middle-text {
					font-family: Mohave;
					font-size: 25px;
				}

				.small-text {
					font-family: Mohave;
					font-size: 14px;
				}

				.smaller-text {
					font-family: Mohave;
					font-size: 12px;
				}

				.smallest-text {
					font-family: Mohave;
					font-size: 10px;
				}		
			}

			.slider-text-black {
				color: #000;

				.text-footer {
					.text-block {
						.text-top-block {
							border-bottom: 1px solid #000;
						}
					}
				}
			}
			/*-----end slider text-----*/

			/*SLIDER IMAGE*/
			.image-wrapper {
				width: 100%;
				height: inherit;

				img {
					width: 100%;
					height: 100%;
				}
			}
			/*END SLIDER IMAGE	*/
		}
	}
	/*-- - - - - - END SLIDER - - - - - --*/
}
/*-  - - - - - - - - - - - - END HEADER - - - - - - - - - - - - */

/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */
.categories {
	background: transparent; 
	width: 100%;
	min-height: 1006px;
	position: relative;

	/*-- - - - - - filters - - - - - --*/
	.filters {
		width: 880px;
		height: 100px;
		margin: 72px auto 0 auto;

		.filter-menu {
			padding: 0;
			margin: 0;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		            justify-content: space-between;
		    -webkit-box-align: center;
		        -ms-flex-align: center;
		            align-items: center;

			/*filter-block active view*/
		    .filter-active {
				a .border-block {
					border: 1px solid #868585;

					div:first-child {
						opacity: 0;
					}

					div:last-child {
						opacity: 1;
					}
				}
				p {
					color: #868585;
				}

				.border-block:after, .border-block:before {
					display: none;
				}

				&:hover {
					a .border-block {
						border: 1px solid #868585;
					}
				}
		    }
			/*end filter-block active view*/ 

		    .filter-block {
				position: relative;

		    	&:hover {

					.border-block {
						border-top-color: transparent;
						border-bottom-color: transparent;
						border-left-color: transparent;
						border-right-color: transparent;

						&:before, &:after {
							width: 100%;
							height: 100%;
						}

						&:before {
							border-top-color: #868585;
							border-right-color: #868585;
							-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; 
							transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
						}

						&:after {
							border-bottom-color: #868585;
							border-left-color: #868585;
							-webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
							transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
						}
					}

					p {
						color: #868585;
						transition: color .25s;
					}
					
					.all-passive, .brand-passive, .dimention-passive, .web-passive, .graphic-passive, .craft-passive {
						opacity: 0;
						-webkit-transition: opacity 0.3s;
						transition: opacity 0.3s;
					}

					.all-active, .brand-active, .dimention-active, .web-active, .graphic-active, .craft-active {
						opacity: 1;
						-webkit-transition: opacity 0.6s;
						transition: opacity 0.6s;
					}
		    	}

		    	.border-block {
			    	width: 61px;
			    	height: 61px;
			    	margin: 0 auto;
			    	border: 1px solid black;
			    	/*box-shadow: 0 0 0 1px #d1d1d1 inset;*/
			    	position: relative;

			    	&:before, &:after {
						box-sizing: border-box;
						content: '';
						position: absolute;
						border: 1px solid transparent;
						width: 0;
						height: 0; 
					}

					&:before {
						top: 0;
						left: 0;
					}

					&:after {
						bottom: 0;
						right: 0;
					}
		    	}

		    	.all-passive, .brand-passive, .dimention-passive, .web-passive, .graphic-passive, .craft-passive {
		    		width: 100%;
		    		height: 100%;
		    	}

		    	.all-active, .brand-active, .dimention-active, .web-active, .graphic-active, .craft-active {
		    		width: 100%;
		    		height: 100%;
		    		position: absolute;
		    		top: 0;
		    		opacity: 0;
		    	}

		    	.all-passive {
		    		background: url('../image/filters/filters.png') -83px 17px no-repeat;
		    	}

		    	.all-active {
		    		background: url('../image/filters/filters.png') 3px 21px no-repeat;
		    	}

		    	.brand-passive {
		    		background: url('../image/filters/filters.png') -82px -47px no-repeat;
		    	}

		    	.brand-active {
		    		background: url('../image/filters/filters.png') 2.5px -42px no-repeat;
		    	}

		    	.dimention-passive {
		    		background: url('../image/filters/filters.png') -87px -119px no-repeat;
		    	}

		    	.dimention-active {
		    		background: url('../image/filters/filters.png') 3px -115px no-repeat;
		    	}

		    	.web-passive {
		    		background: url('../image/filters/filters.png') -83px -188px no-repeat;
		    	}

		    	.web-active {
		    		background: url('../image/filters/filters.png') 2.5px -183px no-repeat;
		    	}

		    	.graphic-passive {
		    		background: url('../image/filters/filters.png') -85px -255px no-repeat;
		    	}

		    	.graphic-active {
		    		background: url('../image/filters/filters.png') 3px -250px no-repeat;
		    	}

		    	.craft-passive {
		    		background: url('../image/filters/filters.png') -85px -329px no-repeat;
		    	}

		    	.craft-active {
		    		background: url('../image/filters/filters.png') 3px -323px no-repeat;
		    	}
			}

			li {
				text-align: center;

				p {
					color: #000;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 4px;
					font-family: Mohave;
					font-size: 10px;
					margin: 23px 0 0 0;
				}
			}
		}
	}
	/*-- - - - - - end filters - - - - - --*/
	
	/*-- - - - - - Portfolio - - - - - --*/
	.portfolio {
		width: 1455px;
		height: 582px;
		margin: 180px auto 20px auto;
		overflow: hidden;

		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		/*only first-block*/
		#frame-name {
			background: url('../image/portfolio/frame/all.png') 0 0 no-repeat;
			background-size: cover;
			p {
				font-family: Mohave;
				font-size: 16.3px;
				letter-spacing: 6px;
				text-transform: uppercase;
				color: #000;
				margin: 140px 0 0 0;
				text-align: center;
			}
		}
		/*end first-block*/

		.see-all-visibility, .portfolio-section:last-child {
			border: 1px solid #d6d6d6;
		}

		.portfolio-section {
			box-sizing: border-box;
			width: 291px;
			height: 291px;
			float: left;
			position: relative;

			&:first-child {
				border-top: 1px solid #d6d6d6;
				border-left: 1px solid #d6d6d6;
			}

			&:hover {
				.active-window {
					opacity: 1;
					-webkit-transition: opacity .7s;
					transition: opacity .7s;
				}

				.passive-window {
					opacity: 0;
					-webkit-transition: opacity .7s;
					transition: opacity .7s;
				}
			}

			.active-window, .passive-window {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				.active-window-inner {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					text-transform: uppercase;
					color: #000;
					font-family: Mohave;
					text-align: center;

					/*active window text*/
					.inner-heading {
						font-size: 16.3px;
						letter-spacing: 5px;

						&:after {
							content: '';
							display: block;
							width: 155px;
							height: 1px;
							margin: 6px auto 8px auto;
							background: #000;
						}
					}

					.inner-footer {
						font-size: 8px;
						letter-spacing: 7px;
					}
					/*end active window text*/
				}

				.passive-window-inner {
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
				
				/*change background photoes*/
				.photo1 {
					background: url('../image/portfolio/passive/solo.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo2 {
					background: url('../image/portfolio/passive/mill.png') -2px 0 no-repeat;
					background-size: 107%;
				}

				.photo3 {
					background: url('../image/portfolio/passive/fff.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo4 {
					background: url('../image/portfolio/passive/drift.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo5 {
					background: url('../image/portfolio/passive/lash.png') 0 0 no-repeat;
					background-size: 107%;
				}

				.photo6 {
					background: url('../image/portfolio/passive/badaro.png') 0 0 no-repeat;
					background-size: 107%;
				}
				/* end change background photoes*/
			}

			.active-window {
				opacity: 0;
				z-index: 100;
			}

			/*last-block @SEE-ALL and @UP-BTN*/
			.mini-wrapper {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
				cursor: pointer;

				&:hover  {
					.see-all {
						opacity: 0;
						-webkit-transition: opacity .8s;
						transition: opacity .8s; 
					}
					
					.see-all-inner {
						opacity: 1;
						-webkit-transition: opacity .7s;
						transition: opacity .7s;
					}
				}

				p {
					text-transform: uppercase;
					font-family: Mohave;
					font-size: 10px;
					color: #9c9c9c;
					margin: 15px 0 0 0;
					letter-spacing: 4px;
				}

				.see-all, .up-btn, .see-all-inner {
					width: 60px;
					height: 60px;
					border: 1px solid #c7c7c7;
					box-shadow: 0 0 0 1px #d1d1d1 inset;
				}

				.see-all {
					background: url('../image/portfolio/passive/seeall.png') 4px 20px no-repeat;
				}

				.see-all-inner, .up-btn-inner {
					position: absolute;
					top: 0;
					opacity: 0;
				}

				.see-all-inner {
					background: url('../image/portfolio/passive/seeall.png') -99px 20px no-repeat;
				}

				.up-btn {
					background: url('../image/portfolio/passive/up.png') -123px 0 no-repeat;
				}
			}
			/*end last-block @SEE-ALL and @UP-BTN*/
		}
	}
	/*End Portfolio*/

}
/*  - - - - - - - - - - - -CATEGORIES- - - - - - - - - - - - */

/*  - - - - - - - - - - - -PARALAX- - - - - - - - - - - - */
.parallax {
	width: 100%;
	min-height: 1020px;
	z-index: -11;
	
	/*-- - - - - - text layer - - - - - --*/
	.text-layer {
		width: 880px;
		margin: 70px auto 0 auto;

		p {
			font-size: 12px;
			font-family: Mohave;
			text-transform: uppercase;
			color: #000;
			letter-spacing: 4px;
			line-height: 23px;
			text-align: center;
		}
	}
	/*-- - - - - - text layer - - - - - --*/

	/*-- - - - - - paralax layer - - - - - --*/
	.parallax-layer {
		width: 1455px;
		height: 730px;
		margin: 60px auto 0 auto;
		position: relative;
		background: transparent;
		overflow: hidden;
		background: url('../image/parallax/parallaxnet.png') -230px -75px no-repeat;
		background-size: 130% 111%;

		
		.inside-layer { 
			position: absolute;
			top: 0;
			width: 1455px;
			height: 730px;
		}

		.photo-layer {
			position: absolute;
			background: #bfbfbf;
			opacity: 0;

			&:hover {
				opacity: 1;
				-webkit-transition: opacity 1s;
				transition: opacity 1s;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		.worker1 {
			width: 263px;
			height: 302px;
			top: 0;
			left: 0;
		}

		.worker2 {
			width: 263px;
			height: 302px;
			bottom: 0;
			left: 305px;
		}

		.worker3 {
			width: 263px;
			height: 302px;
			top: 85px;
			left: 394px;
		}

		.worker4 {
			width: 263px;
			height: 302px;
			bottom: 84px;
			right: 494px;
		}

		.worker5 {
			width: 263px;
			height: 302px;
			top: 0;
			right: 322px;
		}

		.worker6 {
			width: 263px;
			height: 302px;
			bottom: 0;
			right: 59px;
		}
	}
	/*-- - - - - - end paralax layer - - - - - --*/	
}
/*  - - - - - - - - - - - -END PARALAX- - - - - - - - - - - - */

/*  - - - - - - - - - - - -FOOTER- - - - - - - - - - - - */
.footer {
	background: #fff;
	width: 100%;
	min-height: 260px;
	margin: 0 0 55px 0;

	.table-wrapper {
		width: 1455px;
		margin: 52px auto 0 auto;
		display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;	

		&:hover .footer-table .sprite-td div {
			opacity: 1;
			-webkit-transition: opacity .7s;
			transition: opacity .7s;
		}

		.footer-table {
			width: 727px;

			.hover-opacity:hover {
				.bigger-td a {
					color: #cccccc;
					-webkit-transition: color .5s;
					transition: color .5s;
				}

				.mini-td {
					.mini-td-wrapper {
						.mini-td-passive {
							a {
								.footer-icon {
									opacity: 1;
									-webkit-transition: opacity .5s;
									transition: opacity .5s;
								}
							}
						}
					}
				}
			}

			td {
				height: 43px;
				border: 1px solid #757575;
				text-align: center;
				text-transform: uppercase;
				font-family: Mohave;
				font-size: 14px;
				letter-spacing: 3px;
			}

			.bigger-td {
				width: 485px;

				a {
					display: block;
					height: 100%;
					line-height: 43px;
					color: #000;

					&:hover {
						color: #cccccc;
						-webkit-transition: color .5s;
						transition: color .5s;
					}
				}
			}

			.middle-td {
				width: 230px;
				font-size: 18px;
				letter-spacing: 5px;
			}

			.small-td {
				width: 190px;
			}

			.smaller-td {
				width: 174px;
				font-size: 18px;
			}

			.smallest-td {
				width: 91px;
				line-height: 20px;
				letter-spacing: 4px;
			}

			.mini-td {
				width: 44px;

				.mini-td-wrapper {
					width: 100%;
					height: 100%;
					cursor: pointer;
					position: relative;

					.mini-td-passive {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;

						a {
							display: block;
							width: 100%;
							height: 100%;

							.footer-icon {
								opacity: 0.6;
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%, -50%);
								transform: translate(-50%, -50%);

								&:hover {
									opacity: 1;
									-webkit-transition: opacity .5s;
									transition: opacity .5s;
								}
							}
						}
					}
				}
			}

			.small-font {
				font-size: 8px;
				letter-spacing: 3px;
			}

			.regular-font {
				font-size: 14px;
			}

			.sprite-td {
				background: url('../image/footer/footer-sprite.png') 5px 7px no-repeat;

				div {
					width: 100%;
					height: 100%;
					background: url('../image/footer/footer-sprite.png') 5px -81px no-repeat;
					opacity: 0;
					-webkit-transition: opacity .7s;
					transition: opacity .7s;
				}
			}
		}

		.middle-block {
			width: 3px;

			&:after {
				content: '';
				width: 1px;
				height: 40px;
				background: #000;
				display: block;
				z-index: 100;
				margin: -60px auto 0 auto;
			}
		}
	}
}
/*  - - - - - - - - - - - -END FOOTER- - - - - - - - - - - - */

/*SECOND PAGE*/
@import "portfolio";
/*END SECOND PAGE*/

@media only screen and (max-width: 1840px) {
	/*header*/
	.header {
		height: 940px;

		.header-wrapper {
			height: 940px;

			.lang-wrapper {
				height: 778px;

				.lang-border {
					height: 900px;
				}
			}

			.bx-wrapper .bx-prev {
				right: 180px;
			}

			.bx-wrapper .bx-next {
				right: 110px;
			}


			.header-slider {
				height: 940px;

				.slide {
					height: 940px;
				}
			}
		}
	}
	/*end header*/

	/*categories*/
	.categories {
		min-height: 956px;

		.portfolio {
			width: 1375px;
			height: 550px;
			margin: 165px auto 20px 13%;

			.portfolio-section {
				width: 275px;
				height: 275px;
			}	
		}
	}
	/*end categories*/

	/*parallax*/
	.parallax {
		min-height: 960px;

		.text-layer {
			margin-top: 85px;
		}

		.parallax-layer {
			width: 1375px;
			height: 650px;
			margin: 95px auto 0 13%;

			.inside-layer {
				width: 1385px;
				height: 650px;
			}

			.worker1 {
				width: 249px;
				height: 270px;
				top: 0;
				left: 0;
			}

			.worker2 {
				width: 249px;
				height: 270px;
				bottom: 0;
				left: 230px;
			}

			.worker3 {
				width: 249px;
				height: 270px;
				top: 60px;
				left: 394px;
			}

			.worker4 {
				width: 249px;
				height: 270px;
				bottom: 65px;
				right: 465px;
			}

			.worker5 {
				width: 249px;
				height: 270px;
				top: 0;
				right: 265px;
			}

			.worker6 {
				width: 249px;
				height: 270px;
				bottom: 0;
				right: 59px;
			}
		}

	}
	/*end parallax*/

	/*footer*/
		.footer {
			.table-wrapper {
				width: 1375px;
				margin-left: 13%;

				.footer-table {
					width: 687px;

					.sprite-td {
						background: url('../image/footer/footer-sprite.png') 5px 10px no-repeat;
						background-size: 94% 166%;

						div {
							background: url('../image/footer/footer-sprite.png') 5px -69px no-repeat;
							background-size: 94% 166%;
						}
					}
				}
			}
		}
	/*end footer*/
}

@media only screen and (max-width: 1650px) {
	/*header*/
	.header {
		height: 860px;

		.header-wrapper {
			height: 860px;

			.lang-wrapper {
				height: 705px;
				right: 40px;

				.lang-border {
					height: 900px;
				}
			}

			.bx-wrapper .bx-prev {
				right: 170px;
			}

			.bx-wrapper .bx-next {
				right: 90px;
			}


			.header-slider {
				height: 860px;

				.slide {
					height: 860px;

					.slider-text {
						width: 60%;
						left: 75px;
						top: 305px;
					}
					
					.text-header {
						text-transform: uppercase;
						letter-spacing: 7px;
					}

					.text-section {
						margin: 20px 0 20px 0;
						letter-spacing: 18px; 
					}

					.text-footer {
						letter-spacing: 4px;
						
						.text-block {
							width: 325px;

							&:first-child {
								margin-right: 50px;
							}
						}
					}

					.large-text {
						font-size: 148px;
					}

					.middle-text {
						font-size: 22px;
					}

					.small-text {
						font-size: 12px;
					}

					.smaller-text {
						font-size: 11px;
					}

					.smallest-text {
						font-size: 9px;
					}
				}
			}
		}
	}
	/*end header*/

	/*categories*/
	.categories {
		min-height: 906px;

		.line-30:after {
			left: 55%;
		}

		.portfolio {
			width: 1250px;
			height: 500px;
			margin: 140px auto 20px 13%;

			#frame-name {
				p {
					font-size: 15px;
					margin: 130px 0 0 0;
				}
			}

			.portfolio-section {
				width: 250px;
				height: 250px;
			}	
		}
	}
	/*end categories*/

	/*parallax*/
	.parallax {
		min-height: 900px;

		.text-layer {
			margin-top: 95px;
		}

		.parallax-layer {
			width: 1250px;
			height: 620px;
			margin: 80px auto 0 13%;

			.inside-layer {
				width: 1250px;
				height: 620px;
			}

			.worker1 {
				width: 226px;
				height: 258px;
				top: 0;
				left: 0;
			}

			.worker2 {
				width: 226px;
				height: 258px;
				bottom: 0;
				left: 200px;
			}

			.worker3 {
				width: 226px;
				height: 258px;
				top: 55px;
				left: 375px;
			}

			.worker4 {
				width: 226px;
				height: 258px;
				bottom: 34px;
				right: 430px;
			}

			.worker5 {
				width: 226px;
				height: 258px;
				top: 0;
				right: 230px;
			}

			.worker6 {
				width: 226px;
				height: 258px;
				bottom: 0;
				right: 59px;
			}
		}

	}
	/*end parallax*/

	/*footer*/
		.footer {
			.table-wrapper {
				width: 1250px;
				margin-left: 13%;

				.footer-table {
					width: 624px;

					.smaller-td {
						font-size: 16px;
					}

					.smaller-td {
						font-size: 14px;
					}

					.regular-font {
						font-size: 12px;
					}

					.small-font {
						font-size: 8px;
					}

					.sprite-td {
						background: url('../image/footer/footer-sprite.png') 5px 10px no-repeat;
						background-size: 94% 166%;

						div {
							background: url('../image/footer/footer-sprite.png') 5px -68px no-repeat;
							background-size: 94% 166%;
						}
					}
				}
			}
		}
	/*end footer*/
}

@media only screen and (max-width: 1500px) {
	/*header*/
	.header {
		height: 760px;

		.header-wrapper {
			height: 760px;

			.header-menu {
				top: 55px;
				left: 55px

				a {
					font-size: 13px;
				}
			}

			.lang-wrapper {
				height: 618px;
				right: 35px;
				top: 85px;

				.lang-border {
					height: 900px;
				}
			}

			.bx-wrapper .bx-prev {
				right: 150px;
			}

			.bx-wrapper .bx-next {
				right: 80px;
			}


			.header-slider {
				height: 760px;

				.slide {
					height: 760px;

					.slider-text {
						width: 60%;
						left: 75px;
						top: 240px;
					}
					
					.text-header {
						text-transform: uppercase;
						letter-spacing: 6px;
					}

					.text-section {
						margin: 20px 0 20px 0;
						letter-spacing: 14px; 
					}

					.text-footer {
						letter-spacing: 4px;
						
						.text-block {
							width: 300px;

							&:first-child {
								margin-right: 50px;
							}
						}
					}

					.large-text {
						font-size: 126px;
					}

					.middle-text {
						font-size: 20px;
					}

					.small-text {
						font-size: 11px;
					}

					.smaller-text {
						font-size: 10px;
					}

					.smallest-text {
						font-size: 8px;
					}
				}
			}
		}
	}
	/*end header*/

	/*categories*/
	.categories {
		min-height: 836px;

		.vertical-menu {
			left: 20px;
		}

		.filters {
			width: 800px;
			margin: 72px auto 0 26%;
		}

		.portfolio {
			width: 1080px;
			height: 432px;
			margin: 140px auto 20px 16%;

			#frame-name {
				p {
					font-size: 14px;
					margin: 110px 0 0 0;
				}
			}

			.portfolio-section {
				width: 216px;
				height: 216px;

				.active-window {
					.active-window-inner {
						&:after {
							width: 145px;
						}

						.inner-heading {
							font-size: 14.5px;
							letter-spacing: 4px;
						}

						.inner-footer {
							letter-spacing: 6px;
						}
					}
				}
			}	
		}
	}
	/*end categories*/

	/*parallax*/
	.parallax {
		min-height: 840px;

		.text-layer {
			margin: 95px auto 0 25%; 
		}

		.parallax-layer {
			width: 1080px;
			height: 560px;
			margin: 80px auto 0 16%;

			.inside-layer {
				width: 1080px;
				height: 560px;
			}

			.worker1 {
				width: 182px;
				height: 233px;
				top: 0;
				left: 0;
			}

			.worker2 {
				width: 182px;
				height: 233px;
				bottom: 0;
				left: 150px;
			}

			.worker3 {
				width: 182px;
				height: 233px;
				top: 40px;
				left: 310px;
			}

			.worker4 {
				width: 182px;
				height: 233px;
				bottom: 44px;
				right: 374px;
			}

			.worker5 {
				width: 182px;
				height: 233px;
				top: 0;
				right: 175px;
			}

			.worker6 {
				width: 182px;
				height: 233px;
				bottom: 0;
				right: 59px;
			}
		}

	}
	/*end parallax*/

	/*footer*/
		.footer {

			.table-wrapper {
				margin-left: 16%;
				width: 1080px;

				.footer-table {
					width: 539px;

					td {
						font-size: 11px;
						height: 33px;
					}

					.bigger-td {
						width: 230px;
					}

					.middle-td {
						width: 130px;
						line-height: 20px;
						font-size: 14px;
						letter-spacing: 4px;
					}

					.small-td {
						width: 160px;
						font-size: 10px;
					}
					
					.smaller-td { 
						width: 140px;
						font-size: 13px;
					}

					.smallest-td {
						width: 70px;
						font-size: 10px;
						line-height: 14px;
						letter-spacing: 3px;
					}

					.regular-font {
						font-size: 12px;
						line-height: 14px;
					}

					.small-font {
						font-size: 7px;
						line-height: 12px;
					}

					.sprite-td {
						background: url('../image/footer/footer-sprite.png') 5px 5px no-repeat;
						background-size: 94% 190%;

						div {
							background: url('../image/footer/footer-sprite.png') 5px -65px no-repeat;
							background-size: 94% 190%;
						}
					}

				}

			}
		}
	/*end footer*/
}

@media only screen and (max-width: 1280px) {
	/*header*/
	.header {
		height: 690px;

		.header-wrapper {
			height: 690px;

			.header-menu {
				top: 50px;
				left: 40px;

				a {
					font-size: 12px;
				}
			}
			
			.lang-wrapper {
				height: 578px;
				top: 60px;
				right: 30px;

				.lang-border {
					height: 900px;
				}
			}

			.bx-wrapper .bx-prev {
				right: 135px;
			}

			.bx-wrapper .bx-next {
				right: 70px;
			}

			.header-slider {
				height: 690px;

				.slide {
					height: 690px;

					.slider-text {
						width: 50%;
						top: 235px;
						left: 40px;
					}
					
					.text-header {
						letter-spacing: 7px;
					}

					.text-section {
						letter-spacing: 14px;
						margin: 35px 0 25px 0; 
					}

					.text-footer {
						letter-spacing: 4px;
						
						.text-block {
							width: 260px;

							&:first-child {
								margin-right: 30px;
							}
						}
					}

					.large-text {
						font-size: 93px;
					}

					.middle-text {
						font-size: 22px;
					}

					.small-text {
						font-size: 11px;
					}

					.smaller-text {
						font-size: 9px;
					}

					.smallest-text {
						font-size: 8px;
					}
				}
			}
		}
	}
	/*end header*/

	/*categories*/
	.categories {
		min-height: 816px;
	
		.filters {
			width: 750px;
		}

		.portfolio {
			width: 1020px;
			height: 408px;

			#frame-name p {
				font-size: 12px;
				margin: 100px 0 0 0;
			}

			.portfolio-section {
				width: 204px;
				height: 204px;

				.active-window {
					.active-window-inner {
						&:after {
							width: 145px;
						}

						.inner-heading {
							font-size: 14px;
						}

						.inner-footer {
							letter-spacing: 6px;
						}
					}
				}
			}	
		}
	}
	/*end categories*/

	/*parallax*/
	.parallax {
		min-height: 850px;

		.text-layer {
			margin-top: 100px;
		}

		.parallax-layer {
			width: 1020px;
			height: 550px;

			.inside-layer {
				width: 1020px;
				height: 550px;
			}

			.worker1 {
				width: 172px;
				height: 229px;
				top: 0;
				left: 0;
			}

			.worker2 {
				width: 172px;
				height: 229px;
				bottom: 0;
				left: 115px;
			}

			.worker3 {
				width: 172px;
				height: 229px;
				top: 35px;
				left: 304px;
			}

			.worker4 {
				width: 172px;
				height: 229px;
				bottom: 34px;
				right: 384px;
			}

			.worker5 {
				width: 172px;
				height: 229px;
				top: 0;
				right: 202px;
			}

			.worker6 {
				width: 172px;
				height: 229px;
				bottom: 0;
				right: 59px;
			}
		}

	}
	/*end parallax*/

	/*footer*/
		.footer {

			.table-wrapper {
				width: 1020px;

				.footer-table {
					width: 509px;

					td {
						font-size: 11px;
						height: 33px;
					}

					.bigger-td {
						width: 230px;
					}

					.middle-td {
						width: 130px;
						line-height: 20px;
						font-size: 14px;
						letter-spacing: 4px;
					}

					.small-td {
						width: 160px;
						font-size: 10px;
					}
					
					.smaller-td { 
						width: 140px;
						font-size: 13px;
					}

					.smallest-td {
						width: 70px;
						font-size: 10px;
					}

					.regular-font {
						font-size: 12px;
						line-height: 14px;
					}

					.small-font {
						font-size: 8px;
						line-height: 12px;
					}

					.sprite-td {
						background: url('../image/footer/footer-sprite.png') 5px 7px no-repeat;
						background-size: 93% 175%;

						div {
							background: url('../image/footer/footer-sprite.png') 5px -57.5px no-repeat;
							background-size: 93% 175%;
						}
					}
				}
			}
		}
	/*end footer*/
}

