/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*colors*/
$testcolor-one: rgba(255, 216, 0, 0.47);
$testcolor-two: rgba(0, 98, 255, 0.47);
$testcolor-three: rgba(0, 255, 177, 0.47);
$testcolor-four: rgba(255, 0, 128, 0.4);
$testcolor-five: rgba(157, 0, 255, 0.4);
/*colors*/

/*FONT-FACE*/
@font-face {
	font-family: Mohave;
	src: url(../font/Mohave/Mohave.otf);
}

@font-face {
	font-family: Calama;
	src: url(../font/Calama.ttf);
}
/*END FONT-FACE*/

body {
	box-sizing: content-box;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	width: 1920px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

/*-  - - - - - - - - - - - - HEADER - - - - - - - - - - - - */
.header {
	background: #000000;
	width: 100%;
	height: 1029px;

	/*-- - - - - - header menu - - - - - --*/
	.header-menu {
		width: 75%;
		position: absolute;
		top: 75px;
		left: 75px;
		z-index: 2;

		ul {
			display: -webkit-box;
		    display: -ms-flexbox;
	  		display: flex;
		    -webkit-box-pack: justify;
		       -ms-flex-pack: justify;
		           justify-content: space-between;
		    -webkit-box-align: center;
		       -ms-flex-align: center;
		           align-items: center;
			margin: 0;
			padding: 0;

			li {
				position: relative;

				&:first-child {
					&:before, &:after {
						width: 0;
						height: 0;
					}
				}

				&:nth-child(3), &:nth-child(4) {
					&:before {
						top: 6px;
						left: -25%;
					}

					&:after {
						top: 6px;
						right: -25%;
					}
				}

				&:before, &:after {
					width: 16px;
					height: 1px;
					background: #fff;
					content: '';
					position: absolute;
				}

				&:before {
					top: 6px;
					left: -55%;
				}

				&:after {
					top: 6px;
					right: -55%;
				}
			}

			a {
				display: block;
				height: 100%;
				width: 100%;
				text-transform: uppercase;
				font-family: Mohave;
				font-size: 14px;
				letter-spacing: 5px;
			}
		}
	}
	/*-- - - - - - end header menu - - - - - --*/

	/*-- - - - - - language field - - - - - --*/
	.lang-wrapper {
		min-height: 855px;
		width: 34px;
		position: absolute;
		top: 95px;
		right: 70px;
		z-index: 5;

		.lang-menu {
			width: 34px;
			min-height: 10px;

			&:hover {
				width: 17px;
				overflow: hidden;
				margin: 0 auto;
			}

			.lang-select {
				height: 90px;
				margin-top: 13px;
				display: none;

				ul {
					padding: 0;

					li {
						margin-top: 14px;

						&:first-child {
							margin-top: 0;
						}
					}

					a {
						text-align: center;
						display: block;
						width: 100%;
						font-size: 12px;
						font-family: Mohave;
						text-transform: uppercase;
					}
				}
			}
		}

		.lang-border {
			height: 825px;
			margin-top: 25px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff; 
		}
	}
	/*-- - - - - - language field - - - - - --*/

	/*-- - - - - - header slider - - - - - --*/
	.header-slider {
		/*border: 1px solid red;*/
		width: 100%;
		height: 100%;
		position: relative;

	/*-----slider text-----*/
		.slider-text {
			width: 60%;
			/*max-width: 920px;*/
			height: 300px;
			left: 75px;
			top: 375px;
			position: absolute;
			color: #fff;

			.text-header {
				text-transform: uppercase;
				letter-spacing: 8px;
			}

			.text-section {
				margin: 20px 0 20px 0;
				letter-spacing: 20px;
			}

			.text-footer {
				text-transform: uppercase;
				letter-spacing: 5px;

				&:after {
					content: '';
					display: block;
					height: 0;
					clear: both;
				}

				.text-block {
					width: 325px;

					&:first-child {
						float: left;
						margin-right: 50px;
					}

					&:last-child {
						float: left;
					}
					
					.text-top-block {
						border-bottom: 1px solid #fff;
						padding-bottom: 9px;
					}

					.text-bottom-block {
						padding-top: 11px;
					}
				}
			}

			.large-text {
				font-family: Calama;
				font-size: 158px;
			}

			.middle-text {
				font-family: Mohave;
				font-size: 25px;
			}

			.small-text {
				font-family: Mohave;
				font-size: 14px;
			}

			.smaller-text {
				font-family: Mohave;
				font-size: 12px;
			}

			.smallest-text {
				font-family: Mohave;
				font-size: 10px;
			}		
		}
		/*-----end slider text-----*/

		/*-----slider img-----*/
		.slider-img {
		}
		/*-----end slider img-----*/
	}
	/*-- - - - - - End header slider - - - - - --*/
}

/*-  - - - - - - - - - - - - END HEADER- - - - - - - - - - - - */