/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*for me*/
/*for me*/
/* line 20, ../sass/screen.scss */
body {
  background: #fafafa;
  overflow-x: hidden;
}

/*Font-Face*/
@font-face {
  font-family: HelveticaBold;
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf);
}
@font-face {
  font-family: HelveticaBoldItalic;
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.otf);
}
@font-face {
  font-family: HelveticaLight;
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf);
}
@font-face {
  font-family: HelveticaLightItalic;
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.otf);
}
@font-face {
  font-family: HelveticaRoman;
  src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf);
}
@font-face {
  font-family: Days;
  src: url(../fonts/Days/Days.otf);
}
/*END Font-Face*/
/*SELECT ARROW*/
/* line 58, ../sass/screen.scss */
select {
  -webkit-appearance: none;
  background-image: url("../image/header/arrowdown.png");
  background-position: 95% center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
  padding: 0 0 0 13px;
}

/* line 74, ../sass/screen.scss */
select::-ms-expand {
  display: none;
}

/*END SELECT ARROW*/
/* line 79, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #fff;
}
/* line 83, ../sass/screen.scss */
a:hover {
  opacity: .9;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 90, ../sass/screen.scss */
.main-wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 96, ../sass/screen.scss */
.round-btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 50%;
  position: relative;
  margin: 0 7px 0 0;
  cursor: pointer;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1);
}
/* line 107, ../sass/screen.scss */
.round-btn img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*HEADER*/
/* line 117, ../sass/screen.scss */
.header {
  min-width: 1350px;
  max-width: 1560px;
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}
/* line 125, ../sass/screen.scss */
.header .logo {
  background: #1d1d1d;
  width: 10.2985%;
  height: 70px;
  float: left;
  position: relative;
}
/* line 132, ../sass/screen.scss */
.header .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* line 142, ../sass/screen.scss */
.header .categories {
  background: #ff5b1a;
  width: 79.403%;
  height: 70px;
  float: left;
}
/* line 148, ../sass/screen.scss */
.header .categories .select-field {
  width: 914px;
  height: 42px;
  margin: 14px 0 0 13px;
  float: left;
}
/* line 154, ../sass/screen.scss */
.header .categories .select-field .select-form {
  width: 177px;
  float: left;
  margin-right: 1px;
}
/* line 159, ../sass/screen.scss */
.header .categories .select-field .select-form select {
  width: 177px;
  height: 42px;
  font-family: HelveticaLight;
  font-size: 14px;
  border: none;
}
/* line 168, ../sass/screen.scss */
.header .categories .select-field .search-form {
  width: 558px;
  height: 42px;
  float: left;
}
/* line 173, ../sass/screen.scss */
.header .categories .select-field .search-form .search {
  width: 511px;
  height: 42px;
  padding: 0 0 0 10px;
  margin: 0 2px 0 0;
  border: none;
  font-family: HelveticaLight;
  font-size: 14px;
  color: #969696;
  float: left;
}
/* line 185, ../sass/screen.scss */
.header .categories .select-field .search-form .submit {
  width: 45px;
  height: 42px;
  background: #ff3600;
  background-image: url(../image/header/search.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
/* line 198, ../sass/screen.scss */
.header .categories .get-in-touch {
  /*background: $testcolor-three;*/
  width: 108px;
  height: 42px;
  margin: 14px 13px 0 0;
  float: right;
}
/* line 205, ../sass/screen.scss */
.header .categories .get-in-touch a:active, .header .categories .get-in-touch a:focus, .header .categories .get-in-touch a:link {
  border: none;
}
/* line 211, ../sass/screen.scss */
.header .login {
  background: #1d1d1d;
  width: 10.2985%;
  height: 70px;
  float: left;
  position: relative;
}
/* line 218, ../sass/screen.scss */
.header .login .language {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 27px;
  height: 27px;
  border-radius: 3px;
  background: linear-gradient(#0078bd 50%, #ffb321 50%);
  background: -webkit-linear-gradient(#0078bd 50%, #ffb321 50%);
  cursor: pointer;
}
/* line 229, ../sass/screen.scss */
.header .login .language p {
  font-family: HelveticaBold;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 9px;
}
/* line 238, ../sass/screen.scss */
.header .login .language-select {
  display: none;
  background: #fff;
  width: 122px;
  height: 150px;
  position: fixed;
  right: 2px;
  top: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
}
/* line 248, ../sass/screen.scss */
.header .login .language-select:before {
  position: absolute;
  top: -13px;
  right: 13px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 13px 8px;
  border-color: transparent transparent #fff transparent;
  z-index: 10;
}
/* line 262, ../sass/screen.scss */
.header .login .language-select ul li {
  display: block;
  padding: 8px 0 8px 15px;
}
/* line 266, ../sass/screen.scss */
.header .login .language-select ul li:hover {
  background: #f8f8f8;
}
/* line 270, ../sass/screen.scss */
.header .login .language-select ul li a {
  display: block;
  color: #000;
  font-family: HelveticaLight;
  font-size: 14px;
}
/* line 279, ../sass/screen.scss */
.header .login .login-field {
  width: 100%;
  margin: 13px 0 0 13px;
  font-family: HelveticaLight;
  font-size: 14px;
}
/* line 286, ../sass/screen.scss */
.header .login .login-field p img {
  width: 14px;
}
/* line 291, ../sass/screen.scss */
.header .login .login-field p:first-child {
  margin-bottom: 9px;
}

/*END HEADER*/
/*MODAL WINDOW*/
/* line 301, ../sass/screen.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 315, ../sass/screen.scss */
.modal-content {
  position: fixed;
  z-index: 2;
  left: 450px;
  top: 100px;
  width: 430px;
  height: 545px;
  border: 2px solid #ff5b1a;
  background: #1d1d1d;
  /*close button*/
  /*end close button*/
  /*form*/
  /*end form*/
}
/* line 326, ../sass/screen.scss */
.modal-content .close {
  float: right;
  margin: 15px 17px 0 0;
  cursor: pointer;
}
/* line 333, ../sass/screen.scss */
.modal-content h1 {
  height: 67px;
  font-family: HelveticaLight;
  font-size: 30px;
  line-height: 67px;
  color: #fff;
  text-align: center;
}
/* line 343, ../sass/screen.scss */
.modal-content .submit-form {
  width: 388px;
  height: 365px;
  margin: 0 auto;
  overflow-x: hidden;
}
/* line 349, ../sass/screen.scss */
.modal-content .submit-form input {
  height: 40px;
  width: 360px;
  border: none;
  margin-bottom: 6px;
  font-family: HelveticaLight;
  font-size: 14px;
  color: #757575;
  padding: 0 35px 0 15px;
}
/* line 359, ../sass/screen.scss */
.modal-content .submit-form input:last-child {
  margin-bottom: 0;
}
/* line 364, ../sass/screen.scss */
.modal-content .submit-form .message {
  min-width: 360px;
  max-width: 360px;
  min-height: 157px;
  max-height: 157px;
  margin-bottom: 3px;
  font-family: HelveticaLight;
  font-size: 14px;
  color: #757575;
  padding: 15px 35px 0 15px;
}
/* line 376, ../sass/screen.scss */
.modal-content .submit-form .submit-btn {
  background: #ff5b1a;
  width: 100%;
  height: 46px;
  color: #fff;
  font-family: HelveticaLight;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* line 386, ../sass/screen.scss */
.modal-content .submit-form .submit-btn img {
  margin-right: 5px;
}
/* line 392, ../sass/screen.scss */
.modal-content .modal-footer {
  width: 100%;
  height: 113px;
}
/* line 396, ../sass/screen.scss */
.modal-content .modal-footer .contacts {
  width: 43%;
  height: 53px;
  padding-top: 17px;
}
/* line 401, ../sass/screen.scss */
.modal-content .modal-footer .contacts .mobile-number {
  font-family: HelveticaBold;
  font-size: 18px;
  color: #808080;
  margin-bottom: 14px;
}
/* line 408, ../sass/screen.scss */
.modal-content .modal-footer .contacts .modal-social {
  font-family: HelveticaRoman;
  font-size: 15px;
  color: #686868;
}
/* line 414, ../sass/screen.scss */
.modal-content .modal-footer .contacts .skype {
  color: #1ea8e8;
}
/* line 419, ../sass/screen.scss */
.modal-content .modal-footer .contact1 {
  float: left;
  text-align: left;
  padding-left: 22px;
}
/* line 425, ../sass/screen.scss */
.modal-content .modal-footer .contact2 {
  float: right;
  text-align: right;
  padding-right: 22px;
}
/* line 431, ../sass/screen.scss */
.modal-content .modal-footer .fix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
}
/* line 438, ../sass/screen.scss */
.modal-content .modal-footer .ad {
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
}
/* line 444, ../sass/screen.scss */
.modal-content .modal-footer .ad a {
  font-family: HelveticaLight;
  font-size: 14px;
  color: #f0571a;
  text-decoration: underline;
}

/*END MODAL WINDOW*/
/*NAVIGATION*/
/* line 457, ../sass/screen.scss */
.navigation {
  background: #f0f0f2;
  min-width: 1350px;
  max-width: 1560px;
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #cbcbcb;
  margin: 2px auto 0 auto;
}
/* line 466, ../sass/screen.scss */
.navigation ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
/* line 476, ../sass/screen.scss */
.navigation ul li {
  display: inline-block;
  text-align: center;
  width: 137px;
  height: 38px;
  line-height: 38px;
}
/* line 483, ../sass/screen.scss */
.navigation ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #777777;
  font-family: Days;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 492, ../sass/screen.scss */
.navigation ul li a img {
  padding-right: 9px;
}
/* line 496, ../sass/screen.scss */
.navigation ul li a:hover {
  background: #fff;
  color: #000;
}
/* line 503, ../sass/screen.scss */
.navigation ul .larg-li {
  width: 160px;
}
/* line 508, ../sass/screen.scss */
.navigation ul .active a {
  background: #fff;
  color: #000;
}

/*END NAVIGATION*/
/*MAIN CONTAINER*/
/* line 518, ../sass/screen.scss */
.main {
  min-width: 1340px;
  height: auto;
  /*left container*/
  /*end left container*/
  /*right container*/
  /*end right container*/
}
/* line 522, ../sass/screen.scss */
.main:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 530, ../sass/screen.scss */
.main .main-container {
  background: #ffffff;
  min-height: 500px;
  width: 870px;
  float: left;
  /*top block - name of the page*/
  /*end top block - name of the page*/
  /*block of filters*/
  /*end block of filters*/
  /*info block*/
  /*end info block*/
  /*info block advertisement*/
  /*end info block advertisement*/
  /*PAGINATION*/
  /*END PAGINATION*/
}
/* line 537, ../sass/screen.scss */
.main .main-container .container-header {
  height: 134px;
  width: 100%;
  border-bottom: 1px solid #cbcbcb;
}
/* line 542, ../sass/screen.scss */
.main .main-container .container-header .page-name {
  height: 134px;
  width: 225px;
  padding: 0 17px;
  float: left;
}
/* line 548, ../sass/screen.scss */
.main .main-container .container-header .page-name h1 {
  font-family: HelveticaLight;
  font-size: 30px;
  color: #000;
  padding-top: 23px;
}
/* line 555, ../sass/screen.scss */
.main .main-container .container-header .page-name p {
  font-family: HelveticaLight;
  font-size: 14px;
  color: #767676;
  padding-top: 15px;
}
/* line 563, ../sass/screen.scss */
.main .main-container .container-header .page-name .button a {
  display: inline-block;
  width: 70px;
  height: 20px;
  font-family: HelveticaLight;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ebebeb;
  border-right: none;
  position: relative;
  margin-top: 15px;
}
/* line 576, ../sass/screen.scss */
.main .main-container .container-header .page-name .button a:first-child {
  background: #fafafa;
  color: #ff5b1a;
  z-index: 3;
}
/* line 581, ../sass/screen.scss */
.main .main-container .container-header .page-name .button a:first-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 7px;
  border-color: transparent transparent transparent #fff;
  z-index: 3;
}
/* line 596, ../sass/screen.scss */
.main .main-container .container-header .page-name .button a:nth-child(2) {
  background: #ff5b1a;
  margin-left: -4px;
  border-left: transparent;
  padding-left: 2px;
}
/* line 602, ../sass/screen.scss */
.main .main-container .container-header .page-name .button a:nth-child(2):after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 7px;
  border-color: transparent transparent transparent #ff5b1a;
  z-index: 2;
}
/* line 619, ../sass/screen.scss */
.main .main-container .container-header .advertisement {
  float: right;
  width: auto;
  height: 100%;
}
/* line 628, ../sass/screen.scss */
.main .main-container .filters {
  background: #f0f0f2;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #cbcbcb;
}
/* line 634, ../sass/screen.scss */
.main .main-container .filters select {
  border: 1px solid #cbcbcb;
  font-family: HelveticaLight;
  font-size: 14px;
}
/* line 640, ../sass/screen.scss */
.main .main-container .filters div:first-child {
  width: 100%;
  height: 50%;
  text-align: center;
}
/* line 645, ../sass/screen.scss */
.main .main-container .filters div:first-child .lg-form {
  width: 268px;
  height: 40px;
  display: inline-block;
  margin: 15px 10px 0 0;
}
/* line 651, ../sass/screen.scss */
.main .main-container .filters div:first-child .lg-form:last-child {
  margin: 0;
}
/* line 655, ../sass/screen.scss */
.main .main-container .filters div:first-child .lg-form select {
  width: inherit;
  height: inherit;
}
/* line 662, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) {
  height: 50%;
  width: 100%;
  text-align: left;
  line-height: 65px;
  position: relative;
}
/* line 669, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) form {
  display: inline-block;
  margin: 0 5px;
}
/* line 673, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) form:first-child {
  margin-left: 17px;
}
/* line 678, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) .sm-form {
  width: 197px;
  height: 40px;
}
/* line 682, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) .sm-form select {
  width: inherit;
  height: inherit;
}
/* line 688, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) .submit-btn-lg {
  height: 39px;
  width: 147px;
  background: #ff5b1a;
  background-image: url(../image/header/search.png);
  background-position: 40px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-family: HelveticaLight;
  font-size: 15px;
  text-align: left;
  padding-left: 65px;
}
/* line 705, ../sass/screen.scss */
.main .main-container .filters div:nth-child(2) .refresh-btn {
  width: 39px;
  height: 39px;
  background: #d6d6d6;
  background-image: url(../image/header/refresh.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 726, ../sass/screen.scss */
.main .main-container .info-block {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #cbcbcb;
  padding: 12px 0 7px 0;
}
/* line 732, ../sass/screen.scss */
.main .main-container .info-block .main-content {
  margin: 0 17px;
}
/* line 735, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-logo {
  width: 16%;
  height: 145px;
  float: left;
  margin-right: 10px;
}
/* line 741, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-logo img {
  width: 100%;
  height: 100%;
}
/* line 747, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field {
  width: 82%;
  height: inherit;
  float: right;
}
/* line 752, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field div {
  margin-bottom: 10px;
}
/* line 756, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field h2 {
  font-family: HelveticaBold;
  font-size: 18px;
  color: #ff5b1a;
  line-height: 18px;
}
/* line 763, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field span {
  border: 1px solid #ffaf46;
  padding: 1px 4px 2px 4px;
  margin-right: 10px;
  float: left;
}
/* line 769, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field span a {
  font-family: HelveticaLight;
  font-size: 10px;
  color: #ffaf46;
}
/* line 776, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field .table {
  width: 100%;
  height: auto;
  font-family: HelveticaLight;
  font-size: 12px;
}
/* line 782, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field .table td, .main .main-container .info-block .main-content .table-field .table th {
  width: auto;
  padding: 8px 0 8px 11px;
}
/* line 787, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field .table .large-label {
  width: 41%;
}
/* line 791, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field .table .table-header {
  background: #f2f2f2;
  font-family: HelveticaBold;
  font-size: 12px;
}
/* line 797, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field .table .white-line {
  background: #fff;
}
/* line 801, ../sass/screen.scss */
.main .main-container .info-block .main-content .table-field .table .silver-line {
  background: #f9f9f9;
}
/* line 807, ../sass/screen.scss */
.main .main-container .info-block .main-content:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 815, ../sass/screen.scss */
.main .main-container .info-block .footer-content {
  margin: 0 17px;
}
/* line 818, ../sass/screen.scss */
.main .main-container .info-block .footer-content div {
  display: inline-block;
}
/* line 821, ../sass/screen.scss */
.main .main-container .info-block .footer-content div:first-child, .main .main-container .info-block .footer-content div:nth-child(2) {
  margin-right: 15px;
}
/* line 825, ../sass/screen.scss */
.main .main-container .info-block .footer-content div:nth-child(3) {
  margin-right: 60px;
}
/* line 829, ../sass/screen.scss */
.main .main-container .info-block .footer-content div:nth-child(4) {
  margin-right: 25px;
}
/* line 833, ../sass/screen.scss */
.main .main-container .info-block .footer-content div:nth-child(5) {
  margin-right: 49px;
}
/* line 837, ../sass/screen.scss */
.main .main-container .info-block .footer-content div img {
  float: left;
  margin-right: 7px;
}
/* line 842, ../sass/screen.scss */
.main .main-container .info-block .footer-content div p {
  font-family: HelveticaLightItalic;
  font-size: 12px;
}
/* line 847, ../sass/screen.scss */
.main .main-container .info-block .footer-content div .bold {
  font-family: HelveticaBoldItalic;
}
/* line 851, ../sass/screen.scss */
.main .main-container .info-block .footer-content div .more-button {
  width: 108px;
  height: 39px;
  background: #ff5b1a;
  font-family: HelveticaLight;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
/* line 867, ../sass/screen.scss */
.main .main-container .info-block-advertisement {
  background: #fffce0;
}
/* line 871, ../sass/screen.scss */
.main .main-container .info-block-advertisement .table tr:nth-child(odd) {
  background: #f4e7d3;
}
/* line 874, ../sass/screen.scss */
.main .main-container .info-block-advertisement .table tr:nth-child(even) {
  background: #fffce0;
}
/* line 879, ../sass/screen.scss */
.main .main-container .info-block-advertisement .footer-content {
  margin-right: 10px;
}
/* line 883, ../sass/screen.scss */
.main .main-container .info-block-advertisement .footer-content div:nth-child(3) {
  margin-right: 21px;
}
/* line 887, ../sass/screen.scss */
.main .main-container .info-block-advertisement .footer-content div:nth-child(5) {
  margin-right: 8px;
}
/* line 892, ../sass/screen.scss */
.main .main-container .info-block-advertisement .footer-content .border-around {
  border: 1px solid #f4e7d3;
  padding: 10px 20px 10px 36px;
  margin-right: 8px;
  border-radius: 20px;
}
/* line 899, ../sass/screen.scss */
.main .main-container .info-block-advertisement .footer-content .more-button {
  margin-left: 15px;
}
/* line 907, ../sass/screen.scss */
.main .main-container .bottom-pagination {
  text-align: center;
  height: 95px;
}
/* line 911, ../sass/screen.scss */
.main .main-container .bottom-pagination ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 29px;
}
/* line 917, ../sass/screen.scss */
.main .main-container .bottom-pagination ul.pagination li {
  display: inline;
}
/* line 920, ../sass/screen.scss */
.main .main-container .bottom-pagination ul.pagination li a {
  color: #000;
  padding: 10px 15px;
  transition: background .4s;
  border: 1px solid #cbcbcb;
  float: left;
  font-family: HelveticaLight;
  font-size: 14px;
}
/* line 929, ../sass/screen.scss */
.main .main-container .bottom-pagination ul.pagination li a:hover:not(.active) {
  background: #ddd;
}
/* line 934, ../sass/screen.scss */
.main .main-container .bottom-pagination ul.pagination li .active {
  background: #000;
  color: #fff;
}
/* line 938, ../sass/screen.scss */
.main .main-container .bottom-pagination ul.pagination li .active:hover {
  opacity: 1;
}
/* line 950, ../sass/screen.scss */
.main .aside-container {
  min-height: 500px;
  width: 330px;
  float: right;
}
/* line 955, ../sass/screen.scss */
.main .aside-container .tender-create {
  width: 275px;
  height: 255px;
  border: 1px solid #cbcbcb;
  float: right;
  margin-top: 23px;
  padding: 16px 15px 11px 16px;
}
/* line 963, ../sass/screen.scss */
.main .aside-container .tender-create p {
  font-family: HelveticaLight;
  font-size: 14px;
  color: #000;
  line-height: 18px;
}
/* line 970, ../sass/screen.scss */
.main .aside-container .tender-create .tender-create-button {
  width: 245px;
  height: 55px;
  background: #1d1d1d;
  border-radius: 30px;
  margin: 15px auto 0 auto;
}
/* line 977, ../sass/screen.scss */
.main .aside-container .tender-create .tender-create-button:hover {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: .4s box-shadow;
  transition: .4s box-shadow;
}
/* line 983, ../sass/screen.scss */
.main .aside-container .tender-create .tender-create-button a {
  opacity: 1;
}
/* line 987, ../sass/screen.scss */
.main .aside-container .tender-create .tender-create-button button {
  width: 45px;
  height: 45px;
  background: #ff5b1a;
  border: none;
  border-radius: 50%;
  float: left;
  margin: 5px 25px 0 5px;
  cursor: pointer;
  position: relative;
}
/* line 998, ../sass/screen.scss */
.main .aside-container .tender-create .tender-create-button button img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1007, ../sass/screen.scss */
.main .aside-container .tender-create .tender-create-button p {
  color: #fff;
  font-family: HelveticaBold;
  font-size: 15px;
  float: right;
  margin: 17px 35px 0 0;
}

/*END MAIN CONTAINER*/
/*FOOTER*/
/* line 1022, ../sass/screen.scss */
.footer {
  min-height: 320px;
  min-width: 1350px;
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  background: #1d1d1d;
  border-bottom: 1px solid #cbcbcb;
}
/* line 1031, ../sass/screen.scss */
.footer .footer-block {
  min-height: 270px;
  width: 24%;
  float: left;
  padding: 42px 0 0 0;
}
/* line 1038, ../sass/screen.scss */
.footer .footer-block ul.footer-side li {
  width: 160px;
  padding: 7px 0;
}
/* line 1041, ../sass/screen.scss */
.footer .footer-block ul.footer-side li a {
  font-family: HelveticaRoman;
  font-size: 14px;
  color: #686868;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 1049, ../sass/screen.scss */
.footer .footer-block ul.footer-side li a:hover {
  color: #fff;
}
/* line 1054, ../sass/screen.scss */
.footer .footer-block ul.footer-side .orange-header {
  font-family: HelveticaBold;
  font-size: 18px;
  color: #ff5b1a;
}
/* line 1062, ../sass/screen.scss */
.footer .footer-block .footer-logo img {
  margin: 0 35%;
}
/* line 1066, ../sass/screen.scss */
.footer .footer-block .footer-logo p {
  font-family: HelveticaLight;
  font-size: 15px;
  color: #ff5b1a;
  line-height: 18px;
}
/* line 1074, ../sass/screen.scss */
.footer .footer-block .social {
  margin-top: 10px;
}
/* line 1077, ../sass/screen.scss */
.footer .footer-block .social p {
  font-family: HelveticaRoman;
  font-size: 14px;
  color: #4f4f4f;
}
/* line 1083, ../sass/screen.scss */
.footer .footer-block .social ul.footer-social {
  margin-top: 10px;
}
/* line 1085, ../sass/screen.scss */
.footer .footer-block .social ul.footer-social li {
  display: inline-block;
  margin-right: 3px;
}
/* line 1089, ../sass/screen.scss */
.footer .footer-block .social ul.footer-social li:hover {
  background: #ff5b1a;
  transition: .1s background;
}
/* line 1094, ../sass/screen.scss */
.footer .footer-block .social ul.footer-social li a {
  background: red;
}
/* line 1102, ../sass/screen.scss */
.footer .footer-block .footer-contact {
  margin-top: 18px;
}
/* line 1105, ../sass/screen.scss */
.footer .footer-block .footer-contact p {
  font-family: HelveticaBold;
  font-size: 18px;
  color: #ff5b1a;
  margin-bottom: 15px;
}
/* line 1111, ../sass/screen.scss */
.footer .footer-block .footer-contact p .small-font {
  font-family: HelveticaRoman;
  font-size: 11px;
  margin-left: 15px;
  color: #686868;
}
/* line 1117, ../sass/screen.scss */
.footer .footer-block .footer-contact p .small-font:nth-child(2) {
  margin-left: 0;
}
/* line 1122, ../sass/screen.scss */
.footer .footer-block .footer-contact p .skype-small {
  color: #1ea8e8;
}

/*END FOOTER*/
@media only screen and (max-width: 1300px) {
  /* line 1135, ../sass/screen.scss */
  body {
    overflow-x: scroll;
  }
}
