/*colors*/
$testcolor-one: rgba(255, 216, 0, 0.47);
$testcolor-two: rgba(0, 98, 255, 0.47);
$testcolor-three: rgba(0, 255, 177, 0.47);
$testcolor-four: rgba(255, 0, 128, 0.4);
$testcolor-five: rgba(157, 0, 255, 0.4);
/*colors*/

.portfolio-container {
	/*border: 1px solid red;*/
	max-width: 1550px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;

	.section-topic {
		height: 115px;
		margin: 0 0 5px 0;
		padding: 45px 0 0 0;

		span {
			width: auto;
			color: #fff;
			font-size: 18px;
			font-family: opensanssemibold;
			text-transform: uppercase;
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 1px;
				width: 10000%;
				left: 130%;
				top: 50%;
				background: #a2846c;
			}
		}
	}

	.black-topic {
		span {
			color: #000;
		}
	}

	.black-line {
		span {
			&:after {
				background: #000;
			}
		}
	}

	.white-line {
		span {
			&:after {
				background: #fff;
			}
		}
	}
}

/*- - - - PORTFOLIO HEADER - - - - -*/
.portfolio-header {
	background: #fff;
	width: 100%;
	height: 250px;

	/*- - - - - - header-menu - - - - - -*/
	.header-menu {
		max-width: 1380px;
		width: 100%;
		margin: 40px auto 40px auto;

		ul.menu {
			position: relative;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		    -webkit-box-align: center;
		        -ms-flex-align: center;
		            align-items: center;

		            &:after, &:before {
		            	content: '';
		            	display: block;
		            	position: absolute;
		            	height: 1px;
		            	width: 487.5px;
		            	background: #000;
		            }

		            &:after {
		            	right: -487.5px;
		            }

		            &:before {
		            	left: -487.5px;
		            }

		    li {
		    	a {
		    		color: #282828;
		    		opacity: 0.5;
		    		font-size: 16.4px;
		    		font-family: opensanslight;
		    		text-transform: uppercase;

		    		&:hover {
		    			opacity: 1;
		    			color: #282828;
		    			-webkit-transition: opacity 1s;
		    			transition: opacity 1s;
		    		}
		    	}

		    	.active-a {
		    		color: #282828;
		    		opacity: 1;
		    		font-variant-position: 16.95px;

		    		&:hover {
		    			font-weight: normal;
		    		}
		    	}
		    }
		}
	}
	/*- - - - - - end header-menu - - - - - -*/
}
/*- - - - - END PORTFOLIO HEADER - - - - -*/

/*- - - - - CURRENT PROJECT - - - - -*/
.current-project {
	width: 100%;
	min-height: 930px;
	/*background: $testcolor-one;*/

	.bx-controls {
		.bx-controls-direction {
			.bx-prev, .bx-next {
				display: block;
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}

			.bx-prev {
				background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../image/slider-arrows/arrowprev.png') 52px 30px no-repeat;
				left: -5%;
			}

			.bx-next {
				background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../image/slider-arrows/arrownext.png') 25px 30px no-repeat;
				right: -5%;
			}
		}
	}

	.portfolio-container {
		width: 100%;
		height: 100%;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;

		.portfolio-container-slider {
			/*background: $testcolor-three;*/
			/*border: 1px solid blue;*/
			overflow-x: hidden;
			height: 100%;
			width: 59%;

			ul.main-picture {
				width: 100%;
				height: 500px;

				li {
					height: 500px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			.small-pictures	{
				/*border: 1px solid red;*/
				width: 101%;
				height: auto;
				margin: 8px 0 0 0;
				text-align: center;

				a  {
					position: relative;
					.img-sm-wrapper {
						/*border: 1px solid orange;*/
						width: 33%;
						height: 175px;
						display: inline-block;
						position: relative;

						img {
							width: 100%;
							height: 100%; 
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}

						.img-wrapper-inner {
							width: 100%;
							height: 100%;
							background: rgba(0, 0, 0, .6);
							position: absolute;
							opacity: 0;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}
					}

					&:hover {
						.img-sm-wrapper {
							img, .img-wrapper-inner {
								width: 97%;
								height: 97%;
								opacity: 1;
								-webkit-transition: all 0.5s;
								transition: all 0.5s;
							}
						}
					}
				}
			}
		}
		
		.portfolio-description {
			/*background: $testcolor-two;*/
			width: 41%;
			height: auto;

			.portfolio-description-wrapper {
				margin-left: 52px; 
				padding: 52px 10px 0 35px;
				min-height: 500px;
				border-left: 1px solid #a6876f;
				position: relative;

				&:after, &:before {
					content: '';
					display: block;
					position: absolute;
					width: 7px;
					height: 1px;
					background: #a6876f;
					left: -4px;
				} 

				&:after {
					bottom: 0;
				}

				&:before {
					top: 0;
				}

				.portfolio-description-topic {
					font-size: 20.5px;
					font-family: robotomedium;
					text-transform: uppercase;
					margin: 0 0 55px 0;
				}

				.portfolio-description-text {
					font-size: 17.57px;
					font-family: robotolight;
					line-height: 29px;
					color: #414141;
					text-align: justify;
				}
			}
		}

	}
}
/*- - - - - CURRENT PROJECT - - - - -*/

/*- - - - - OTHER PROJECTS - - - -*/
.other-projects {
	width: 100%;
	margin-bottom: 100px;
	/*background: $testcolor-one;*/

	.other-projects-wrapper {
		width: 100%;

		a {
			.mini-img-wrapper {
				/*border: 1px solid red;*/
				width: 19.75%;
				height: 230px;
				display: inline-block;
				margin-bottom: 5px;
				position: relative;

				&:hover {
					img, .mini-img-wrapper-inner {
						opacity: 1;
						width: 97%;
						height: 97%;
						-webkit-transition: opacity 0.5s, width 0.4s, height 0.4s;
						transition: opacity 0.5s, width 0.4s, height 0.4s;
					}
				}

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					width: 100%;
					height: 100%;
				}

				.mini-img-wrapper-inner {
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, .7);
					position: absolute;
					opacity: 0;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					
					.inner-block {
						width: 100%;
						height: 100%;
						position: relative;
						font-size: 17.57px;
						font-family: robotolight;
						color: #fff;


						.inner-text-center {
							width: 170px;
							top: 35%;
							position: absolute;
							text-transform: uppercase;
							left: 50%;
							margin-left: -85px;
							line-height: 25px;
							text-align: center;
						}

						.inner-text-bottom {
							width: 100%;
							position: absolute;
							bottom: 20px;
							text-align: center;
						}
					}

				}
			}
		}
	}
}
/*- - - - - END OTHER PROJECTS - - - - -*/
