/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
	font-family: RalewayRegular;
	src: url(../fonts/raleway/Raleway-Light.ttf);
}

@font-face {
	font-family: RalewayLight;
	src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
	font-family: RalewayExtraLight;
	src: url(../fonts/raleway/Raleway-ExtraLight.ttf);
}

@font-face {
	font-family: RalewayBold;
	src: url(../fonts/raleway/Raleway-Bold.ttf);
}

@font-face {
	font-family: RalewaySemiBold;
	src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: RalewayMedium;
	src: url(../fonts/raleway/Raleway-Medium.ttf);
}

a {
	color: #fff;
	&:hover {
		color: #fff;
		opacity: .6;
		text-decoration: none;
		transition: .4s;
	}
}

$testcolor-one: rgba(232, 182, 182, 0.45);
$testcolor-two: rgba(219, 212, 47, 0.6);
$testcolor-three: rgba(47, 67, 219, 0.6);
$testcolor-four: rgba(47, 219, 80, 0.6);
$testcolor-five: rgba(219, 100, 47, 0.6);
$yellow-color: #ebd305;

/*HEADER*/
	.header {
		width: 100%;
		min-height: 750px;
		background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../image/header/bgr.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;

		.header-wrapper {
			margin: 0 auto;
			width: 65%;
			min-height: 750px;
			padding: 50px 0;

			.header-nav {
				min-height: 20px;
				.logo {
					padding: 0;
				}

				.header-menu {
					text-align: right;
					padding: 0;

					ul li {
						display: inline-block;
						font-family: RalewayRegular;
						font-size: 14px;
						padding: 0 18px;
					}

					.dash {
						color: silver;
					}
				}
			}

			.header-inner {
				margin-top: 200px;
				text-align: center;

				h1 {
					font-family: RalewaySemiBold;
					font-size: 36px;
					text-transform: uppercase;
					color: #ffffff;

					.extralight {
						font-family: RalewayExtraLight;
					}

					.yellow {
						color: #ebd305;
					}
				}

				p {
					font-family: RalewayLight;
					font-size: 16px;
					line-height: 23px;
					color: #e1e1e1;
					margin-top: 80px;
					letter-spacing: 3px;
				}
				
				a {		
					&:hover {
						opacity: .7;
					}

					button {
						width: 165px;
						height: 40px;
						margin-top: 80px;
						border: 1px solid #fff;
						background: transparent;
						color: #ebd305;
						text-transform: uppercase;
						font-family: RalewayMedium;
						font-size: 14px;
					}
				}
			}
		}
	}
/*END HEADER*/
/*SECOND SECTION*/
	.second-section {
		min-height: 260px;
		background: #fff;
		padding: 120px 0 50px 0;

		.second-section-inner {
			width: 80%;
			min-height: 260px;
			margin: 0 auto;
			text-align: center;

			h1 {
				margin: 0 auto;
				font-family: RalewayMedium;
				font-size: 30px;
				text-transform: uppercase;

				&:after {
					content: '';
					display: block;
					width: 75px;
					height: 5px;
					margin: 25px auto;
					background: $yellow-color;
				}

				span {
					font-family: RalewayBold;
				}
			}

			p {
				font-family: RalewayRegular;
				font-size: 14px;
				line-height: 25px;
				margin-top: 30px;
				padding: 0;
			}
		}
	}
/*END SECOND SECTION*/
/*THIRD SECTION*/
	.third-section {
		width: 100%;
		background: $yellow-color;
		min-height: 370px;

		.third-section-inner {
			min-height: 370px;
			text-align: center;

			&:hover {
				transition: .3s;
				background: #000000;

				h6 {
					color: #ffffff;
				}
			}

			.circle {
				margin: 55px auto 50px auto;
				width: 90px;
				height: 90px;
				border-radius: 50%;
				border: 3px solid #fff;
				padding-top: 25px;
			}

			h6 {
				font-family: RalewayRegular;
				font-size: 18px;
				font-weight: bolder;
				color: #000;
			}

			p {
				width: 90%;
				font-family: RalewayLight;
				font-size: 13.5px;
				margin: 30px auto 0 auto;
				line-height: 22px;
				color: #fff;
			}
		}
	}
/*END THIRD SECTION*/
/*FOURTH SECTION*/
	.fourth-section {
		background: #ffffff;
		min-height: 835px;
		text-align: center;
		padding-top: 100px;

		.fourth-section-header {

			img {
				padding-bottom: 35px;
			}

			h2 {
				font-family: RalewayRegular;
				font-size: 28px;

				span {
					font-family: RalewayBold;
				}

				&:after {
					content: '';
					display: block;
					width: 75px;
					height: 5px;
					margin: 25px auto 40px auto;
					background: $yellow-color;
				}
			}

			p {
				width: 95%;
				margin: 0 auto;
				line-height: 22px;
				font-family: RalewayBold;
				font-size: 18px;
			}	
		}
		.fourth-section-slider {
			width: 90%;
			margin: 55px auto 0 auto;

			.slider-inner {

				.info {
					img {
						margin: 0 auto;
						width: 100px;
						padding-bottom: 40px;
					}

					h5 {
						padding-bottom: 20px;
						font-family: RalewayMedium;
						font-size: 19px;
					}

					h6 {
						font-family: RalewayLight;
						font-size: 16px;
					}
				}

				p {
					width: 75%;
					margin: 45px auto;
					font-family: RalewayMedium;
					font-size: 14px;
					font-style: italic;
					line-height: 25px;
					text-align: center;
				}	
			}
		}
	}
/*END FOURTH SECTION*/
/*FIFTH SECTION*/
	.fifth-section {
		width: 100%;
		min-height: 640px;
		background: linear-gradient(rgba(245, 223, 26, 0.8),rgba(245, 223, 26, 0.8)), url(../image/fivesection/bgr.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		text-align: center;
		padding: 55px 0 55px 0;

		h1 {
			font-family: RalewayRegular;
			font-size: 30px;
			color: #fff;

			span {
				font-family: RalewayBold;
			}

			&:after {
				content: '';
				display: block;
				width: 75px;
				height: 3px;
				margin: 25px auto 0 auto;
				background: #ffffff;
			}
		}

		.fifth-section-content {
			width: inherit;
			margin-top: 75px;

			.inner {
				p {
					font-family: RalewayBold;
					font-size: 14px;
					line-height: 22px;
					color: #ffffff;
					margin: 35px auto 40px auto;
					width: 70%;
				}

				.social-icons {
					ul li {
						display: inline-block;
						padding: 0 23px;
					}
				}
			}
		}
	}
/*END FIFTH SECTION*/
/*FOOTER*/
	.footer {
		width: 100%;
		min-height: 450px;

		.footer-header {
			min-height: 110px;
			background: #131313;

			.tagline {
				font-family: RalewatBold;
				font-size: 18px;
				color: #fff;
				text-align: right;
				min-height: 110px;
				padding: 45px 25px 45px 0;
			}

			.form {
				min-height: 110px;
				padding: 30px 0 0 25px;

				input[type=email] {
					width: 48%;
					height: 45px;
					padding-left: 25px;
					border: 0;
					border-bottom: 3px solid rgba(0, 0, 0, .9);
					border-radius: 3px 0 0 3px;
					background: rgba(10, 10, 10, 0.85);
					font-family: RalewaySemiBold;
					font-size: 14px;
					color: #ffffff;
				}

				button {
					width: 19.5%;
					height: 45px;
					background: #ebd305;
					border: 0;
					border-bottom: 3px solid rgba(0, 0, 0, .3);
					border-radius: 0 3px 3px 0;
					font-family: RalewaySemiBold;
					font-size: 14px;
					color: #000000;
					margin-left: -4px;
				}
			}
		}

		.footer-bottom {
			background: #111111;
			min-height: 340px;

			.footer-bottom-content {
				min-height: inherit;
				padding: 45px 0 0 8%;

				&:nth-child(2) {
				background-image: url(../image/footer/twitter.png);
				background-repeat: no-repeat;
				background-position: center;
				}

				h5 {
					font-family: RalewaySemiBold;
					font-size: 18px;
					color: #ffffff;
					padding-bottom: 35px;

					span {
						color: $yellow-color;
					}
				}

				.after-line {
					padding-bottom: 22px;

					&:after {
						content: '';
						display: block;
						width: 35px;
						height: 3px;
						margin: 14px 0 0 0;
						background: $yellow-color;
					}
				}

				p {
					font-size: 14px;
					line-height: 22px;
				}

				.regular {
					width: 82%;
					font-family: RalewayRegular;
					color: #3b3b3b;
				}

				.semibold-cursive {
					width: 84%;
					font-family: RalewaySemiBold;
					font-style: italic;
					color: #b6b6b6;
				}

				.response {
					margin-top: 35px;
					font-family: RalewaySemiBold;
					font-style: italic;
					text-decoration: underline;
					color: #b6b6b6;
				}

				.social-icons {
					padding-left: 10px;

					ul li {
						display: inline-block;
						padding: 55px 10% 0 0;
						
						a:hover {
							color: $yellow-color;
							opacity: 1;
						}
					}
				}

				.other-links li {
					width: 170px;
					padding: 15px 0;
					font-family: RalewayRegular;
					font-size: 13.5px;
					border-bottom: 1px solid #242424;
					list-style-position: inside;

					&:first-child {
						padding-top: 0;
					}

					&:last-child {
						border-bottom: none;
					}

					&:before {
						content: '+';
						font-size: 13.5px;
						padding-right: 5px;
						color: #fff;
					}
				}
			}
		}
	}
/*END FOOTER*/



/*MEDIA*/
@media only screen and (max-width: 991px) {
	.header {
		.header-nav {
			.logo {
				text-align: center;
			}
			.header-menu {
				margin-top: 30px;

				ul {
					text-align: center;
				}
			}
		}
	}
	.fifth-section {
		.fifth-section-content {
			.inner {
				&:nth-child(2), &:nth-child(3) {
					margin-top: 80px;
				}

				p {
					width: 80%;
				}
			}
		}
	}
	.footer {
		.footer-header {
			.tagline {
				min-height: 70px;
				text-align: center;
				padding: 25px 0 25px 0;
			}
			.form {
				min-height: 80px;
				padding: 15px 0 0 0;
				text-align: center;
			}
		}
		.footer-bottom {
			.footer-bottom-content {
				padding-left: 5%;
			}
		}
	}
}

@media only screen and (max-width: 833px) {
	.header {
		.header-wrapper {
			.header-nav {
				.header-menu {
					ul li {
						padding: 15px;
						display: block;
					}
					.dash {
						display: none;
					}
				}
			}
			.header-inner {
				margin-top: 130px;
			}
		}
	}
	.footer {
		.footer-bottom {
			.footer-bottom-content {
				p {
					font-size: 12px;
				}

				ul li {
					font-size: 13px;
				}

				.other-links li {
					font-size: 12px;

					&:before {
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.footer {
		.footer-bottom {
			.footer-bottom-content {
				min-height: 200px;
				padding: 25px 0 25px 8%;

				.social-icons {
					ul li {
						padding: 40px 4% 0 0;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.header {
		.header-wrapper {
			.header-inner {
				h1 {
					font-size: 33px;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
	.second-section {
		.second-section-inner {
			h1 {
				font-size: 27px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	.fourth-section {
		.fourth-section-header {
			h2 {
				font-size: 25px;
			}
			p {
				font-size: 16px;
			}
		}
	}
	.fifth-section {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 500px) {
	.footer {
		.footer-header {
			.form {

				input[type=email] {
					width: 62%;
				}

				button {
					width: 25%;
				}
			}
		}
	}
}

/*END MEDIA*/