/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*for me*/

$testcolor-one: rgba(232, 182, 182, 0.45);
$testcolor-two: rgba(219, 212, 47, 0.6);
$testcolor-three: rgba(47, 67, 219, 0.4);
$testcolor-four: rgba(47, 219, 80, 0.6);
$testcolor-five: rgba(219, 100, 47, 0.6);

$orange-color: #ff5b1a;

/*for me*/

body {
	overflow-x: hidden;
}

/*Font-Face*/
@font-face {
	font-family: HelveticaBold;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf);
}

@font-face {
	font-family: HelveticaLight;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf);
}

@font-face {
	font-family: HelveticaRoman;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf);
}
/*END Font-Face*/

/*SELECT ARROW*/
select {
	-webkit-appearance: none;
	background-image: url('../image/header/arrowdown.png');
	background-position: 152px center;
	background-repeat: no-repeat;
	line-height: 1em;
	/* for FF */
  	-moz-appearance: none;
  	text-indent: 0.01px; 
  	text-overflow: '';
  	/* for IE */
  	-ms-appearance: none;
  	appearance: none!important;
}

select::-ms-expand {
  display: none;
}
/*END SELECT ARROW*/

a {
	text-decoration: none;
	color: #fff;

	&:hover {
		opacity: .9;
		transition: .4s;
	}
}


/*HEADER*/
.header {
	min-width: 1340px;
	height: 70px;
	box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);

	.logo {
		background: #1d1d1d;
		width: 10.2985%;
		height: 70px;
		float: left;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);

		}
	}

	.categories {
		background: $orange-color;
		width: 79.403%;
		height: 70px;
		float: left;

		.select-field {
			width: 914px;
			height: 42px;
			margin: 14px 0 0 13px; 
			float: left;

			.select-form {
				width: 177px;
				float: left;
				margin-right: 1px;

				select {
					width: 177px;
					height: 42px;
					padding: 0 0 0 13px;
					font-family: HelveticaLight;
					font-size: 14px;
					border: none;
				}
			}

			.search-form {
				width: 558px;
				height: 42px;
				float: left;

				.search {
					width: 511px;
					height: 42px;
					padding: 0 0 0 10px;
					margin: 0 2px 0 0;
					border: none;
					font-family: HelveticaLight;
					font-size: 14px;
					color: #969696;
					float: left;
				}

				.submit {
					width: 45px;
					height: 42px;
					background: #ff3600;
					background-image: url(../image/header/search.png);
					background-position: center center;
					background-repeat: no-repeat;
					border: none;
					cursor: pointer;
				}
			}
		}

		.get-in-touch {
			/*background: $testcolor-three;*/
			width: 108px;
			height: 42px;
			margin: 14px 13px 0 0;
			float: right;

			.header-btn {
				width: 40px;
				height: 40px;
				background: #fff;
				border: none;
				border-radius: 50%;
				position: relative;
				margin: 0 7px 0 0;
				cursor: pointer;
				box-shadow: inset -4px -4px 4px rgba(0,0,0,.1);

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
			a:active, a:focus, a:link {
				border: none;
			}
		}
	}

	.login {
		background: #1d1d1d;
		width: 10.2985%;
		height: 70px;
		float: left;
		position: relative;

		.language {
			position: absolute;
			top: 8px;
			right: 10px;
			width: 27px;
			height: 27px;
			border-radius: 3px;
			background: linear-gradient(#0078bd 50%,#ffb321 50%);
			background: -webkit-linear-gradient(#0078bd 50%,#ffb321 50%);
			cursor: pointer;

			p {
				font-family: HelveticaBold;
				font-size: 12px;
				color: #fff;
				text-align: center;
				margin-top: 9px; 
			}
		}

		.language-select {
			display: none;
			background: #fff;
			width: 122px;
			height: 150px;
			position: fixed;
			right: 2px;
			top: 50px;
			box-shadow: 0 2px 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.2);

			&:before {
				position: absolute;
				top: -13px;
				right: 13px;
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8px 13px 8px;
				border-color: transparent transparent #fff transparent;
				z-index: 10;
			}

			ul li {
				display: block;
				padding: 8px 0 8px 15px; 

				&:hover {
					background: #f8f8f8;
				}

				a {
					display: block;
					color: #000;
					font-family: HelveticaLight;
					font-size: 14px;
				}
			}
		}

		.login-field {
			width: 100%;
			margin: 13px 0 0 13px;
			font-family: HelveticaLight; 
			font-size: 14px;
			
			p {
				img {
					width: 14px;
				}
			}

			p:first-child {
				margin-bottom: 9px;
			}
		}
	}
}
/*END HEADER*/


/*MODAL WINDOW*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 450px;
	top: 100px;
	width: 430px;
	height: 545px;
	border: 2px solid $orange-color;
	overflow: auto;
	background: #1d1d1d;
	
	/*close button*/
	.close {
	    float: right;
	    margin: 15px 17px 0 0;
	    cursor: pointer;
	}
	/*end close button*/

	h1 {
		height: 67px;
		font-family: HelveticaLight;
		font-size: 30px;
		line-height: 67px;
		color: #fff;
		text-align: center; 
	}
	
	/*form*/
	.submit-form {
		width: 388px;
		height: 365px;
		margin: 0 auto;
		overflow-x: hidden; 

		input {
			height: 40px;
			width: 360px;
			border: none;
			margin-bottom: 6px;
			font-family: HelveticaLight;
			font-size: 14px;
			color: #757575;
			padding: 0 35px 0 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.message {
			min-width: 360px;
			max-width: 360px;
			min-height: 157px;
			max-height: 157px;
			margin-bottom: 3px;
			font-family: HelveticaLight;
			font-size: 14px;
			color: #757575;
			padding: 15px 35px 0 15px;
		}

		.submit-btn {
			background: $orange-color;
			width: 100%;
			height: 46px;
			color: #fff;
			font-family: HelveticaLight;
			font-size: 16px;
			border: none;
			cursor: pointer;

			img {
				margin-right: 5px;
			}
		}
	}
	/*end form*/
	.modal-footer {
		width: 100%;
		height: 113px;

		.contacts {
			width: 43%;
			height: 53px;
			padding-top: 17px;

			.mobile-number {
				font-family: HelveticaBold;
				font-size: 18px;
				color: #808080;
				margin-bottom: 14px;
			}

			.social {
				font-family: HelveticaRoman;
				font-size: 15px;
				color: #686868;

				span {
					color: #1ea8e8;
				}
			}
		}

		.contact1 {
			float: left;
			text-align: left;
			padding-left: 22px;
		}

		.contact2 {
			float: right;
			text-align: right;
			padding-right: 22px;
		}

		.fix:after {
				content: '.';
				display: block;
				clear: both;
				height: 0;
		}

		.advertisement {
			height: 40px;
			width: 100%;
			line-height: 40px;
			text-align: center;

			a {
				font-family: HelveticaLight;
				font-size: 14px;
				color: #f0571a;
				text-decoration: underline;
			}
		}
	}
}

/*END MODAL WINDOW*/